{% assign application_steps = 0 %}
    {% if application_steps_image_1 != blank %}
        {% assign application_steps = application_steps | plus: 1 %}
    {% endif %}
    {% if application_steps_image_2 != blank %}
        {% assign application_steps = application_steps | plus: 1 %}
    {% endif %}
    {% if application_steps_image_3 != blank %}
        {% assign application_steps = application_steps | plus: 1 %}
    {% endif %}
    {% if application_steps_image_4 != blank %}
        {% assign application_steps = application_steps | plus: 1 %}
    {% endif %}


<div class="ed-application-steps ed-application-step-{{ application_steps }}">
    <div class="ed-application-steps-container">
        {% if application_steps_image_1 != blank %}
        <div class="ed-application-steps-item">
            <div class="ed-application-steps-image-wrapper">
                <img src="{{ application_steps_image_1 | img_url: '400x' }}">
                <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">1</span>
            </div>
            {% if application_steps_text_1 != blank %}
            <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                {{ application_steps_text_1 }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if application_steps_image_2 != blank %}
            <div class="ed-application-steps-item">
                <div class="ed-application-steps-image-wrapper">
                    <img src="{{ application_steps_image_2 | img_url: '400x' }}">
                    <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">2</span>
                </div>
                {% if application_steps_text_2 != blank %}
                    <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                        {{ application_steps_text_2 }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if application_steps_image_3 != blank %}
            <div class="ed-application-steps-item">
                <div class="ed-application-steps-image-wrapper">
                    <img src="{{ application_steps_image_3 | img_url: '400x' }}">
                    <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">3</span>
                </div>
                {% if application_steps_text_3 != blank %}
                    <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                        {{ application_steps_text_3 }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if application_steps_image_4 != blank %}
            <div class="ed-application-steps-item">
                <div class="ed-application-steps-image-wrapper">
                    <img src="{{ application_steps_image_4 | img_url: '400x' }}">
                    <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">4</span>
                </div>
                {% if application_steps_text_4 != blank %}
                    <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                        {{ application_steps_text_4 }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>