{% if section.settings.activate_additional_announcement_bar %}
  <style>
        {% if section.settings.show_additional_announcement_bar == 'index' %}
            {% unless template == 'index' %}
                .ed-additional-announcement-bar {
                    display: none !important;
                }
            {% endunless %}
        {% endif %}

    /* font-size mobile für normale bar */
    @media (max-width: 768px){
    .ed-additional-announcement-bar .ed-announcement-bar-list .ed-announcement-bar-item p, .ed-additional-announcement-bar .ed-announcement-bar-list .ed-announcement-bar-item a {
        font-size: 14px !important;
    }}
  </style>

  <div
    class="ed-additional-announcement-bar"
    style="background-color: {{ section.settings.background_additional_announcement_bar  }}; color: {{ section.settings.text_color_additional_announcement_bar }};"
  >
    <div class="ed-announcement-bar-list">
      <div class="ed-announcement-bar-item">
        {% if section.settings.text_additional_announcement_bar contains 'launchbar' %}
          {% render 'DL-desktopbar' %}
        {% else %}
          {% if section.settings.text_additional_announcement_bar %}
            {% if section.settings.button_additional_announcement_bar %}
              <a href="{{ section.settings.button_additional_announcement_bar }}">
                {{- section.settings.text_additional_announcement_bar -}}
              </a>
            {% else %}
              <p>{{ section.settings.text_additional_announcement_bar }}</p>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
