{%- case text_size_class -%}
    {%- when 'small' -%}
        {%- assign text_size_class = 'text--xsmall' -%}
    {%- when 'normal' -%}
        {%- assign text_size_class = 'text--small' -%}
    {%- when 'large' -%}
        {%- assign text_size_class = '' -%}
{%- endcase -%}

<div id="text-banner-widget">
    <div class="widget-wrapper {{ text_size_class }}">
        <a target='_blank' style='text-decoration: none; color: black;'
           href="{{ settings.widget_link }}">
            <strong class="keyword" style="color: {{ settings.text_color }}">{{ settings.keyword }}</strong> <span class="js-reviewStarHeader" style="color: {{ settings.text_color }}"></span>
        </a>
        <img src="https://assets.reviews.io/img/all-global-assets/logo/reviewsio-icon.svg" style="height: 20px; margin-left: 4px;" alt="">
    </div>
</div>

{% if settings.star_color != blank %}
    <style>
        #text-banner-widget .fa-star {
            color: {{ settings.star_color }} !important;
        }
    </style>
{% endif %}

{% if settings.show_not_reviews_amount %}

    <style>
        .ed-reviews-amount {
            display: none;
        }
    </style>

{% endif %}

<script>

    window.addEventListener('load', function () {
        (async function () {
            const reviewStarHeader = document.querySelector('.js-reviewStarHeader');
            if (!reviewStarHeader) return;
            try {
                let reviewsioUrlKey = '{{ store_id }}';
                const revsData = await fetch('https://api.reviews.io/merchant/reviews?store=' + reviewsioUrlKey).then(data => data.json()).then(resp => resp);
                const {total_reviews, average_rating} = await revsData.stats;
                const edMinusReviews = {{ settings.minus_amount }};
                const sumReviews = total_reviews - edMinusReviews;
                let edReviewString = 'Bewertungen';
                var reviewsIoRating = parseFloat(average_rating);
                reviewStarHeader.innerHTML = reviewsIoRating.toFixed(2) + ' / 5 <span class="ed-reviews-amount">(' + sumReviews + ' '+edReviewString +')<span>';
                ratingHtml = '';
                for (var i = 1; i <= 5; i++) {
                    if (Math.round(reviewsIoRating) >= i) {
                        ratingHtml += '<i class="fa fa-star"></i>';
                    }
                }
                reviewStarHeader.innerHTML = ratingHtml + ' ' + reviewStarHeader.innerHTML;
            } catch (err) {
                //handle err
            }
        })();
    })
</script>