<div class="ed-klarna-custom-payment">
    <div class="inner">

        {% if settings.rate_payment_method == 'klarna' %}
            <img src="{{ 'klarna' | payment_type_img_url }}" alt="{{ type }}"/>
        {% else %}
            <img src="{{ 'paypal' | payment_type_img_url }}" alt="{{ type }}"/>
        {% endif %}

        <span>{{ settings.text_rate_payment }}</span>
    </div>
</div>


<style>

    .ed-klarna-custom-payment img {
    {% if settings.payment_style == 'grayscale' %}
        filter: grayscale(1) !important;
    {% elsif settings.payment_style == 'colorful' %}
        filter: none !important;
    {% endif %}

    }

</style>

