<div class="payment-methods-list payment-methods-list--auto">
    {% if settings.show_paypal %}
        {{ 'paypal' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_master %}
        {{ 'master' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_visa %}
        {{ 'visa' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_amex %}
        {{ 'american_express' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_klarna %}
        {{ 'klarna' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_apple_pay %}
        {{ 'apple_pay' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_klarna-pay-later %}
        {{ 'klarna-pay-later' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_sofort %}
        {{ 'sofort' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_bitcoin %}
        {{ 'bitcoin' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_shopify_pay %}
        {{ 'shopify_pay' | payment_type_svg_tag }}
    {% endif %}
    {% if settings.show_twint %}
        {{ 'twint' | payment_type_svg_tag }}
    {% endif %}
</div>

<style>

    .payment-methods-list svg {
    {% if settings.payment_style == 'grayscale' %}
        filter: grayscale(1) !important;
    {% elsif settings.payment_style == 'colorful' %}
        filter: none !important;
    {% endif %}

    }

</style>