{% if block_settings.qty_discount_title != blank %}
    <div class="title-container">
        {{ block_settings.qty_discount_title }}
    </div>
{% endif %}
<ed-quantity-discounts class="ed-quantity-discounts">
    <input type="text" form="{{ product_form_id }}" is="input-number" class="quantity-selector__input"
           inputmode="numeric" name="quantity" autocomplete="off" min="1" value="10" size="2"
           aria-label="{{ 'product.form.quantity' | t | escape }}">

    <div class="inner">
        {% for value in json_values %}
            <div class="quantity-item {% if forloop.first %}selected{% endif %}"
                 data-discount-value="{{ value.discount_value }}"
                 data-discount-type="{{ value.discount_type }}"
                 data-qty="{{ value.qty }}"
                 {% if value.preselect %}data-preselect="true"{% endif %}>
                <div class="item-inner">
                    {% if value.label != blank %}
                        <div class="label">
                            <span>{{ value.label }}</span>
                        </div>
                    {% else %}
                        <div class="label">
                            <span>{{ value.qty }}x</span>
                        </div>
                    {% endif %}
                    <div class="ed-discount-badge"
                         style="background-color: {{ block_settings.qty_discount_badge_color }};"
                    >
                        <span
                                style="color: {{ block_settings.qty_discount_font_color }};"
                        >{{ value.discount }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</ed-quantity-discounts>