<div class="Wearing__Wrapper-sc-kxytb2-0 eRxizD">
    <div class="Wearing__Avatars-sc-kxytb2-1 fXzBFz">
        <div class="Wearing__Avatar-sc-kxytb2-2 eOwbSc">
            <span class="image__cirlce">
                <img src="{{ img_1 | img_url }}">
            </span>
        </div>
        <div class="Wearing__Avatar-sc-kxytb2-2 eOwbSc">
            <span class="image__cirlce">
                <img src="{{ img_2 | img_url }}">
            </span>
        </div>
    </div>
    <span class="Typo__Span-sc-zggg7h-0 Wearing__Label-sc-kxytb2-3 btIBWJ iABqZZ">
        <span class="Wearing__Name-sc-kxytb2-4 gziXoO" style="color: {{ social_proof_text }}">
            {{ ppl_social_proof }}
            {% if enable_insta_checkmark %}
            <span class="social_proof_icon">
                    {% render 'icon' with 'icon-checkmark-instagram' %}
            </span>
            {% endif %}
        </span>
        <span class="social_proof_text" style="color: {{ social_proof_text }}; {% if enable_text_bold %} font-weight: 500;{% endif %}">{{ text_social_proof }}</span>
    </span>
</div>