<div class="ed-shop-rating {{ section.id }}">
    <span class="static-rating"></span>
    <span class="rating-label"><span class="rating-number">{{ rating_amount }}</span>{{ static_content }}</span>
</div>
<script>
    let reviewStarHeader = document.querySelector('.{{ section.id }} .static-rating');
    let avg_rating = {{ rating_amount }};
    let ratingHtml = '';
    for (let i = 1; i <= Math.floor(avg_rating); i++) {
        if (avg_rating % 1 != 0) {
            if (Math.floor(avg_rating) >= i) {
                ratingHtml += '<i class="fa fa-star"></i>';
            }
        } else if (avg_rating % 1 == 0) {
            ratingHtml += '<i class="fa fa-star"></i>';
        }
    }
    if (avg_rating % 1 != 0) {
        ratingHtml += '<i class="fa fa-star-half"></i>';
    }
    reviewStarHeader.innerHTML = ratingHtml;
</script>