{% unless use_default_style %}
    <style>
        @media screen and (max-width: 999px) {
            .{{css_class}} .block_font_size {
            font-size: {{font_size_mobile}}px!important;
            }
            .{{css_class}} .icon_size img, .{{css_class}} .icon_size svg{
                width: {{icon_size_mobile}}px!important;
                height: auto;
            }

        }

        @media screen and (min-width: 1000px) {
            .{{css_class}} .block_font_size {
            font-size: {{font_size_desktop}}px!important;
            }
            .{{css_class}} .icon_size img, .{{css_class}} .icon_size svg{
                width: {{icon_size_desktop}}px!important;
                height: auto;

            }
        }

        .{{css_class}} .block_font_size {
            color: {{ benefits_text_color }};
            {% if benefits_text_font_weight %}
            font-weight: 600;
            {% endif %}
        }

        .{{css_class}} .store-benefit-item  {
            background: {{ benefits_background }};
            border-radius: {{ benefits_border_style }};
        }

        .{{css_class}}.store-benefits {
            background: {{ benefits_background }};
            border-radius: {{ benefits_border_style }};
        }

    </style>
{% endunless %}

<div class="benefit-wrapper">
    <div class="store-benefits {{css_class}}">
        {%- comment -%}First Store benefit{%- endcomment -%}
        <div class="store-benefit-item  first-store-benefit">
            {%- comment -%} Store benefit ICON{%- endcomment -%}
            <div class="store-benefit-icon icon_size">
                {%- comment -%}Insert Image Or SVG{%- endcomment -%}
                {%- if benefit_svg_1 != blank -%}
                    {{benefit_svg_1}}
                {% elsif benefit_png_1 != blank%}
                    {%- assign image_widths = '[20,30,40]' -%}
                    {%- assign image_url_pattern = benefit_png_1 | img_url: '1x1' | replace: '_1x1.', '_30x.' -%}
                    <img
                            class="lazyload"
                            src="{{ benefit_png_1 | img_url }}"
                            data-widths= "{{ image_widths }}"
                            data-aspectratio="{{ image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ benefit_png_1.alt | escape }}">
                    <noscript>
                        <img src="{{ image | img_url: '30x' }}" alt="{{ image.alt | escape }}">
                    </noscript>
                    {%- comment -%}Insert Image Or SVG{%- endcomment -%}
                {%- endif -%}
            </div>
            {%- comment -%} Store benefit TEXTE{%- endcomment -%}
            <div class="store-benefit-texte block_font_size">
                {{benefit_texte_1}}
            </div>
        </div>

        {%- comment -%}Second Store benefit{%- endcomment -%}
        <div class="store-benefit-item  second-store-benefit">
            {%- comment -%} Store benefit ICON{%- endcomment -%}
            <div class="store-benefit-icon icon_size">
                {%- comment -%}Insert Image Or SVG{%- endcomment -%}
                {%- if benefit_svg_2 != blank -%}
                    {{benefit_svg_2}}
                {% elsif benefit_png_2 != blank%}
                    {%- assign image_widths = '[20,30,40]' -%}
                    {%- assign image_url_pattern = benefit_png_2 | img_url: '1x1' | replace: '_1x1.', '_30x.' -%}
                    <img
                            class="lazyload"
                            src="{{ benefit_png_2 | img_url }}"
                            data-widths= "{{ image_widths }}"
                            data-aspectratio="{{ image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ benefit_png_2.alt | escape }}">
                    <noscript>
                        <img src="{{ image | img_url: '30x' }}" alt="{{ image.alt | escape }}">
                    </noscript>
                    {%- comment -%}Insert Image Or SVG{%- endcomment -%}
                {%- endif -%}
            </div>
            {%- comment -%} Store benefit TEXTE{%- endcomment -%}
            <div class="store-benefit-texte block_font_size">
                {{benefit_texte_2}}
            </div>
        </div>
    </div>
</div>
