<div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gr8TLQYAFq gp-accordion-item gp-overflow-hidden gp-child-item-gr8TLQYAFq"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gGqfPgqR_m"
        id="gGqfPgqR_m"
        data-index="0"
        class="gr8TLQYAFq gp-accordion-item-gr8TLQYAFq-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:rgba(255, 255, 255, 0);--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gr8TLQYAFq-0:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:26px;height:26px"
            data-index="0"
            class="gr8TLQYAFq gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752784175464">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.13,104.13,0,0,0,128,24Zm40,112H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32a8,8,0,0,1,0,16Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr8TLQYAFq_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gGqfPgqR_m"
        data-index="0"
        data-show="false"
        class="gr8TLQYAFq gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gGqfPgqR_m"
        data-index="0"
        class="gr8TLQYAFq gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="golXIfqfXZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="g2xAaqg6a_"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative g2xAaqg6a_"
      style="--ml:var(--g-s-xl);--mr:var(--g-s-xl);--pl:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"1067358721","lazy":true,"iframeSrc":"https://player.vimeo.com/video/1067358721?&autoplay=false&muted=false&loop=false&controls=true&autopause=false","title":"Video","style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article !gp-aspect-video tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:auto"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gr8TLQYAFq gp-accordion-item gp-overflow-hidden gp-child-item-gr8TLQYAFq"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gdtJhMarUj"
        id="gdtJhMarUj"
        data-index="1"
        class="gr8TLQYAFq gp-accordion-item-gr8TLQYAFq-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:rgba(255, 255, 255, 0);--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gr8TLQYAFq-1:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:26px;height:26px"
            data-index="1"
            class="gr8TLQYAFq gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752784175464">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.13,104.13,0,0,0,128,24Zm40,112H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32a8,8,0,0,1,0,16Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr8TLQYAFq_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gdtJhMarUj"
        data-index="1"
        data-show="false"
        class="gr8TLQYAFq gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gdtJhMarUj"
        data-index="1"
        class="gr8TLQYAFq gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="giTKLrXk0M gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gNkI4v5Y7d"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gNkI4v5Y7d"
      style="--ml:var(--g-s-xl);--mr:var(--g-s-xl);--pl:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"1067360027","lazy":true,"iframeSrc":"https://player.vimeo.com/video/1067360027?&autoplay=false&muted=false&loop=false&controls=true&autopause=false","title":"Video","style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article !gp-aspect-video tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:auto"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gr8TLQYAFq gp-accordion-item gp-overflow-hidden gp-child-item-gr8TLQYAFq"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gYeXzUh7Wl"
        id="gYeXzUh7Wl"
        data-index="2"
        class="gr8TLQYAFq gp-accordion-item-gr8TLQYAFq-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:rgba(255, 255, 255, 0);--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gr8TLQYAFq-2:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:26px;height:26px"
            data-index="2"
            class="gr8TLQYAFq gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752784175464">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.13,104.13,0,0,0,128,24Zm40,112H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32a8,8,0,0,1,0,16Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr8TLQYAFq_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gYeXzUh7Wl"
        data-index="2"
        data-show="false"
        class="gr8TLQYAFq gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gYeXzUh7Wl"
        data-index="2"
        class="gr8TLQYAFq gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gUxRqLTJ65 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gG9UVeSQ0D"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gG9UVeSQ0D"
      style="--ml:var(--g-s-xl);--mr:var(--g-s-xl);--pl:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"1067361288","lazy":true,"iframeSrc":"https://player.vimeo.com/video/1067361288?&autoplay=false&muted=false&loop=false&controls=true&autopause=false","title":"Video","style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article !gp-aspect-video tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:auto"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gr8TLQYAFq gp-accordion-item gp-overflow-hidden gp-child-item-gr8TLQYAFq"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gJ_gOwChyy"
        id="gJ_gOwChyy"
        data-index="3"
        class="gr8TLQYAFq gp-accordion-item-gr8TLQYAFq-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:rgba(255, 255, 255, 0);--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gr8TLQYAFq-3:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:26px;height:26px"
            data-index="3"
            class="gr8TLQYAFq gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752784175464">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.13,104.13,0,0,0,128,24Zm40,112H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32a8,8,0,0,1,0,16Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr8TLQYAFq_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gJ_gOwChyy"
        data-index="3"
        data-show="false"
        class="gr8TLQYAFq gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gJ_gOwChyy"
        data-index="3"
        class="gr8TLQYAFq gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gFZJ-4Q24v gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="ggffi2TIFm"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative ggffi2TIFm"
      style="--ml:var(--g-s-xl);--mr:var(--g-s-xl);--pl:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"1067361783","lazy":true,"iframeSrc":"https://player.vimeo.com/video/1067361783?&autoplay=false&muted=false&loop=false&controls=true&autopause=false","title":"Video","style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article !gp-aspect-video tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:auto"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            