{% assign application_steps_image_1 = section.settings.application_steps_image_1 %}
{% assign application_steps_image_2 = section.settings.application_steps_image_2 %}
{% assign application_steps_image_3 = section.settings.application_steps_image_3 %}
{% assign application_steps_image_4 = section.settings.application_steps_image_4 %}

{% assign application_steps_text_1 = section.settings.application_steps_text_1 %}
{% assign application_steps_text_2 = section.settings.application_steps_text_2 %}
{% assign application_steps_text_3 = section.settings.application_steps_text_3 %}
{% assign application_steps_text_4 = section.settings.application_steps_text_4 %}

{% assign application_steps_background = section.settings.application_steps_background %}
{% assign application_steps_color = section.settings.application_steps_color %}
{% assign font_size_application_steps = section.settings.font_size_application_steps %}

{% assign application_steps = 0 %}
{% if application_steps_image_1 != blank %}
    {% assign application_steps = application_steps | plus: 1 %}
{% endif %}
{% if application_steps_image_2 != blank %}
    {% assign application_steps = application_steps | plus: 1 %}
{% endif %}
{% if application_steps_image_3 != blank %}
    {% assign application_steps = application_steps | plus: 1 %}
{% endif %}
{% if application_steps_image_4 != blank %}
    {% assign application_steps = application_steps | plus: 1 %}
{% endif %}

<div class="container">
    <div class="ed-application-inner-container-section">
        <div class="ed-application-steps ed-application-step-{{ application_steps }}">
            <div class="ed-application-steps-container">
                {% if application_steps_image_1 != blank %}
                    <div class="ed-application-steps-item">
                        <div class="ed-application-steps-image-wrapper">
                            <img src="{{ application_steps_image_1 | img_url: '200x' }}">
                            <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">1</span>
                        </div>
                        {% if application_steps_text_1 != blank %}
                            <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                                {{ application_steps_text_1 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if application_steps_image_2 != blank %}
                    <div class="ed-application-steps-item">
                        <div class="ed-application-steps-image-wrapper">
                            <img src="{{ application_steps_image_2 | img_url: '200x' }}">
                            <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">2</span>
                        </div>
                        {% if application_steps_text_2 != blank %}
                            <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                                {{ application_steps_text_2 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if application_steps_image_3 != blank %}
                    <div class="ed-application-steps-item">
                        <div class="ed-application-steps-image-wrapper">
                            <img src="{{ application_steps_image_3 | img_url: '200x' }}">
                            <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">3</span>
                        </div>
                        {% if application_steps_text_3 != blank %}
                            <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                                {{ application_steps_text_3 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if application_steps_image_4 != blank %}
                    <div class="ed-application-steps-item">
                        <div class="ed-application-steps-image-wrapper">
                            <img src="{{ application_steps_image_4 | img_url: '200x' }}">
                            <span class="application-step-number" style="border-color: {{ application_steps_background }}; background: {{ application_steps_background }}; color: {{ application_steps_color }}">4</span>
                        </div>
                        {% if application_steps_text_4 != blank %}
                            <div class="ed-application-steps-text" style="font-size: {{ font_size_application_steps }}px">
                                {{ application_steps_text_4 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<style>

    @media only screen and (max-width: 999px) {

        #shopify-section-{{ section.id }} {
            display: none;
        }
    }

    {% if section.settings.show_application_steps_mobile %}

    @media only screen and (max-width: 999px) {

        #shopify-section-{{ section.id }} {
            display: block !important;
        }
    }

    {% endif %}
</style>



{% schema %}
{
"name": "Application steps",
"tag": "section",
"class": "shopify-section--ed-application-steps-steps",
"settings": [
{
"type": "checkbox",
"id": "show_application_steps_mobile",
"label": "Show application steps on mobile",
"default": false
},
{
"type": "color",
"id": "application_steps_background",
"label": "Background application steps",
"default": "#000000"
},
{
"type": "color",
"id": "application_steps_color",
"label": "Font",
"default": "#FFFFFF"
},
{
"type": "range",
"id": "font_size_application_steps",
"min":  9,
"max":  22,
"step":  1,
"unit": "px" ,
"label": "Font size of application text",
"default":  10
},
{
"type": "image_picker",
"id": "application_steps_image_1",
"label": "Application image 1"
},
{
"type": "text",
"id": "application_steps_text_1",
"label": "Application text 1"
},
{
"type": "image_picker",
"id": "application_steps_image_2",
"label": "Application image 2"
},
{
"type": "text",
"id": "application_steps_text_2",
"label": "Application text 2"
},
{
"type": "image_picker",
"id": "application_steps_image_3",
"label": "Application image 3"
},
{
"type": "text",
"id": "application_steps_text_3",
"label": "Application text 3"
},
{
"type": "image_picker",
"id": "application_steps_image_4",
"label": "Application image 4"
},
{
"type": "text",
"id": "application_steps_text_4",
"label": "Application text 4"
}
],
"presets": [
{
"name": "Application steps"
}
]
}
{% endschema %}