{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
  {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
  {%- assign section_background = settings.background -%}
  {%- else -%}
  {%- assign section_background = section.settings.background -%}
  {%- endif -%}

  {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
  {%- assign heading_color = settings.heading_color -%}
  {%- assign text_color = settings.text_color -%}
  {%- else -%}
  {%- assign heading_color = section.settings.text_color -%}
  {%- assign text_color = section.settings.text_color -%}
  {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --prev-next-button-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
    --prev-next-button-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
</style>

<section class="ed-headline section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="ed-section__color-wrapper section__color-wrapper {% unless blends_with_background %}vertical-breather vertical-breather--tight{% endunless %}">
    <div class="container">
      {%- if section.settings.subheading != blank or section.settings.title != blank -%}
        <header class="section__header text-container">
          {%- if section.settings.subheading != blank -%}
            <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
            <h3 class="heading h2">{{ section.settings.title | escape }}</h3>
          {%- endif -%}
        </header>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
"name": "Headline",
"class": "shopify-section--testimonials",
"settings": [
{
"type": "text",
"id": "subheading",
"label": "Subheading",
"default": "Subheading"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "color",
"id": "background",
"label": "Background",
"default": "rgba(0,0,0,0)"
},
{
"type": "color",
"id": "text_color",
"label": "Color",
"default": "rgba(0,0,0,0)"
}
],
"presets": [
{
"name": "Headline",
"settings": {}
}
]
}
{% endschema %}