<section class="ed-product-facts">
    <div class="section">
        <div class="container">
            <div class="product__facts" style="background-color: {{ section.settings.background_product_facts }}">
                {%- if section.settings.subheading != blank or section.settings.title != blank -%}
                    <header class="section__header container text-container">
                        {%- if section.settings.subheading != blank -%}
                            <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
                        {%- endif -%}

                        {%- if section.settings.title != blank -%}
                            <h3 class="heading h2">{{ section.settings.title | escape }}</h3>
                        {%- endif -%}
                    </header>
                {%- endif -%}
                <div class="product__facts__container ed-product__facts__container--{{ section.settings.icon_in_row }} title_position--{{ section.settings.title_position }}" style="background-color: {{ section.settings.background_box_product_facts }}">
                    {%- if section.settings.custom_icon_1 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_1 != blank -%}
                                    {% capture custom_icon_width_1 %}{{ section.settings.custom_icon_width_1 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_1 }}px;  max-height: {{ section.settings.custom_icon_width_1 }}px" width="{{ section.settings.custom_icon_1.width }}" height="{{ section.settings.custom_icon_1.height }}" src="{{ section.settings.custom_icon_1 | img_url: custom_icon_width_1 }}" alt="{{ section.settings.custom_icon_1.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_1 != blank -%}
                                <div class="fact__title">
                                    <p class="heading heading--small">{{ section.settings.title_1 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.custom_icon_2 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_2 != blank -%}
                                    {% capture custom_icon_width_2 %}{{ section.settings.custom_icon_width_2 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_2 }}px;  max-height: {{ section.settings.custom_icon_width_2}}px" width="{{ section.settings.custom_icon_2.width }}" height="{{ section.settings.custom_icon_2.height }}" src="{{ section.settings.custom_icon_2 | img_url: custom_icon_width_2 }}" alt="{{ section.settings.custom_icon_2.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_2 != blank -%}
                                <div class="fact__title">
                                    <p class="heading heading--small">{{ section.settings.title_2 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.custom_icon_3 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_3 != blank -%}
                                    {% capture custom_icon_width_3 %}{{ section.settings.custom_icon_width_3 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_3 }}px; max-height: {{ section.settings.custom_icon_width_3 }}px" width="{{ section.settings.custom_icon_3.width }}" height="{{ section.settings.custom_icon_3.height }}" src="{{ section.settings.custom_icon_3 | img_url: custom_icon_width_3 }}" alt="{{ section.settings.custom_icon_3.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_3 != blank -%}
                                <div class="fact__title">
                                    <p lang="de" class="heading heading--small">{{ section.settings.title_3 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.custom_icon_4 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_4 != blank -%}
                                    {% capture custom_icon_width_4 %}{{ section.settings.custom_icon_width_4 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_4 }}px;  max-height: {{ section.settings.custom_icon_width_4 }}px" width="{{ section.settings.custom_icon_4.width }}" height="{{ section.settings.custom_icon_4.height }}" src="{{ section.settings.custom_icon_4 | img_url: custom_icon_width_4 }}" alt="{{ section.settings.custom_icon_4.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_4 != blank -%}
                                <div class="fact__title">
                                    <p class="heading heading--small">{{ section.settings.title_4 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.custom_icon_5 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_5 != blank -%}
                                    {% capture custom_icon_width_5 %}{{ section.settings.custom_icon_width_5 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_5 }}px;  max-height: {{ section.settings.custom_icon_width_5 }}px" width="{{ section.settings.custom_icon_5.width }}" height="{{ section.settings.custom_icon_5.height }}" src="{{ section.settings.custom_icon_5 | img_url: custom_icon_width_5 }}" alt="{{ section.settings.custom_icon_5.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_5 != blank -%}
                                <div class="fact__title">
                                    <p class="heading heading--small">{{ section.settings.title_5 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.custom_icon_6 != blank -%}
                        <div class="fact__item">
                            <div class="fact-icon">
                                {%- if section.settings.custom_icon_6 != blank -%}
                                    {% capture custom_icon_width_6 %}{{ section.settings.custom_icon_width_6 | times: 2 }}x{% endcapture %}
                                    <img class="fact__icon__custom-icon" style="max-width: {{ section.settings.custom_icon_width_6 }}px;  max-height: {{ section.settings.custom_icon_width_6 }}px" width="{{ section.settings.custom_icon_6.width }}" height="{{ section.settings.custom_icon_6.height }}" src="{{ section.settings.custom_icon_6 | img_url: custom_icon_width_6 }}" alt="{{ section.settings.custom_icon_6.alt | escape }}">
                                {%- endif -%}
                            </div>
                            {%- if section.settings.title_6 != blank -%}
                                <div class="fact__title">
                                    <p class="heading heading--small">{{ section.settings.title_6 | escape }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Icon with title",
"settings": [
{
"type": "color",
"id": "background_product_facts",
"label": "Background color of section"
},
{
"type": "color",
"id": "background_box_product_facts",
"label": "Background color of box"
},
{
"type": "text",
"id": "subheading",
"label": "Subheading",
"default": "subheading"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Product facts"
},
{
"type": "select",
"id": "icon_in_row",
"label": "Select the amount of icons in a row",
"options": [
{
"value": "two_icons",
"label": "2"
},
{
"value": "three_icons",
"label": "3"
}
],
"default": "three_icons",
"info": "This option is only active for viewports which are wider than 999px. So, you only see the changes on desktop rather than on mobile."
},
{
"type": "select",
"id": "title_position",
"label": "Positioning of titles of the icons",
"options": [
{
"value": "on_the_right_of_the_icon",
"label": "On the right of the icon"
},
{
"value": "under_the_icon",
"label": "Under the icon"
}
],
"default": "under_the_icon",
"info": "This option 'on the right of the icon' is only active for viewports which are wider than 999px due to space restrictions."
},
{
"type": "image_picker",
"id": "custom_icon_1",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_1",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 10
},
{
"type": "text",
"id": "title_1",
"label": "Text",
"default": "Rotwein"
},
{
"type": "image_picker",
"id": "custom_icon_2",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_2",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 20
},
{
"type": "text",
"id": "title_2",
"label": "Text",
"default": "Merlot"
},
{
"type": "image_picker",
"id": "custom_icon_3",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_3",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 20
},
{
"type": "text",
"id": "title_3",
"label": "Text",
"default": "Trocken"
},
{
"type": "image_picker",
"id": "custom_icon_4",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_4",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 20
},
{
"type": "text",
"id": "title_4",
"label": "Text",
"default": "Deutschland"
},
{
"type": "image_picker",
"id": "custom_icon_5",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_5",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 20
},
{
"type": "text",
"id": "title_5",
"label": "Text",
"default": "Baden"
},
{
"type": "image_picker",
"id": "custom_icon_6",
"label": "Custom icon",
"info": "100 x 100px .png with transparency recommended"
},
{
"type": "range",
"id": "custom_icon_width_6",
"min": 10,
"max": 100,
"step": 5,
"unit": "px",
"label": "Custom icon width",
"info": "Only impact custom icons",
"default": 20
},
{
"type": "text",
"id": "title_6",
"label": "Text",
"default": "2021"
}
],
"presets": [
{
"name": "Icon with title",
"settings": {}
}
]
}
{% endschema %}