{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
  CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: transparent;
    --vertical-breather: 40px; /* Inner spacing is smaller on this section */
  }

  #shopify-section-{{ section.id }} .fa-star,  #shopify-section-{{ section.id }} .fa-star-half {
    color: {{ section.settings.star_color }};
  }

  #shopify-section-{{ section.id }} .checked-icon svg g path {
    fill: {{ section.settings.checkmark_color }};
  }

  #shopify-section-{{ section.id }} .ed-testimonial .testimonial-item {
    border-color: {{ section.settings.border_color }};
  }

</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
  JavaScript: this section composes several custom elements
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<section class="ed-testimonial-with-rating">
  <div class="section">
    <div class="container">
      <div class="testimonial-header">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <header class="section__header container text-container">
            {%- if section.settings.subheading != blank -%}
              <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h3 class="heading h2">{{ section.settings.title | escape }}</h3>
            {%- endif -%}
          </header>
        {%- endif -%}
        {%- if section.settings.show_static_rating -%}
          {% render 'ed-shop-rating', static_content: section.settings.static_content, rating_amount: section.settings.rating_integer %}
        {%- endif -%}
      </div>
    </div>
    <div>
      <div class="container {% unless blends_with_background %}vertical-breather{% endunless %}">
        <div class="ed-testimonial-inner text-with-icons">
          <div class="ed-text-with-icons__list">
            {%- for block in section.blocks -%}
              <div class="ed-testimonial" {{ block.shopify_attributes }}>
                <div class="testimonial-item">
                  <div class="text-with-icons__icon-wrapper">
                  <span class="static-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                  </div>
                  {%- if block.settings.title != blank or block.settings.content != blank -%}
                    <div class="text-with-icons__content-wrapper">
                      {%- if block.settings.content != blank -%}
                        <span class="testimonial-text">
                        {{- block.settings.content -}}
                      </span>
                      {%- endif -%}
                      {%- if block.settings.title != blank -%}
                        <p class="heading heading--small">
                          <span class="checked-icon">{%- render 'icon' with 'checked-mark' -%}</span>
                          <span>{{ block.settings.title | escape }}</span>
                        </p>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial with rating",
  "class": "shopify-section--text-with-icons",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your store</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
    "type": "color",
    "id": "star_color",
    "label": "Star color",
    "default": "#F9C784"
    },
    {
    "type": "color",
    "id": "border_color",
    "label": "Border color",
    "default": "#D3D3D3"
    },
    {
    "type": "color",
    "id": "checkmark_color",
    "label": "Checkmark color",
    "default": "#458eff"
    },
    {
    "type": "text",
    "id": "subheading",
    "label": "Subheading",
    "default": "Subheading"
    },
    {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Testimonials"
    },
    {
    "type": "checkbox",
    "id": "show_static_rating",
    "label": "Show Rating-Bar",
    "default": false
    },
    {
    "type": "text",
    "id": "rating_integer",
    "label": "Number of Rating",
    "info": "Use only numbers and for decimal a dot instead comma.",
    "default": "4.9"
    },
    {
    "type": "text",
    "id": "static_content",
    "label": "Static Rating",
    "default": " / 5.0 (86 Bewertungen)"
    }
  ],
  "presets": [
    {
      "name": "Testimonial with rating",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Anna aus Hannover",
            "content": "<p>Amet a, vitae morbi mi consequat at ac sit. Risus tincidunt odio integer ipsum orci, magna eget gravida quis. Etiam diam suspendisse augue augue. Suspendisse elementum ut fringilla convallis rhoncus diam diam ornare.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}