

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576529715955761695.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576529715955761695.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576529715955761695.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576529715955761695.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576529715955761695.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576529715955761695.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576529715955761695.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576529715955761695.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576529715955761695.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-576529715955761695.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576529715955761695.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-576529715955761695.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-576529715955761695.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-576529715955761695.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576529715955761695.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-576529715955761695.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-576529715955761695.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-576529715955761695.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576529715955761695.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576529715955761695.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576529715955761695.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576529715955761695.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-576529715955761695.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-576529715955761695.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-576529715955761695.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-576529715955761695.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576529715955761695.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576529715955761695.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576529715955761695.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-576529715955761695.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-576529715955761695.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576529715955761695.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576529715955761695.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-576529715955761695.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-576529715955761695.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576529715955761695.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576529715955761695.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576529715955761695.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576529715955761695.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576529715955761695.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576529715955761695.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576529715955761695.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576529715955761695.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576529715955761695.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576529715955761695.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576529715955761695.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-576529715955761695.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-576529715955761695.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576529715955761695.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-576529715955761695.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-576529715955761695.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-576529715955761695.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576529715955761695.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576529715955761695.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-576529715955761695.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-576529715955761695.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-576529715955761695.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576529715955761695.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576529715955761695.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-576529715955761695.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-576529715955761695.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-576529715955761695.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-576529715955761695.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-576529715955761695.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-576529715955761695.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576529715955761695.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576529715955761695.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-576529715955761695.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-576529715955761695.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-576529715955761695 .gp-relative{position:relative}.gps-576529715955761695 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576529715955761695 .gp-mb-0{margin-bottom:0}.gps-576529715955761695 .gp-flex{display:flex}.gps-576529715955761695 .gp-inline-flex{display:inline-flex}.gps-576529715955761695 .gp-grid{display:grid}.gps-576529715955761695 .\!gp-hidden{display:none!important}.gps-576529715955761695 .gp-hidden{display:none}.gps-576529715955761695 .gp-max-w-full{max-width:100%}.gps-576529715955761695 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576529715955761695 .gp-flex-col{flex-direction:column}.gps-576529715955761695 .gp-items-center{align-items:center}.gps-576529715955761695 .gp-justify-center{justify-content:center}.gps-576529715955761695 .gp-gap-y-0{row-gap:0}.gps-576529715955761695 .gp-overflow-hidden{overflow:hidden}.gps-576529715955761695 .gp-leading-\[0\]{line-height:0}.gps-576529715955761695 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715955761695 .gp-duration-200{transition-duration:.2s}.gps-576529715955761695 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-576529715955761695 .tablet\:\!gp-hidden{display:none!important}.gps-576529715955761695 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-576529715955761695 .mobile\:\!gp-hidden{display:none!important}.gps-576529715955761695 .mobile\:gp-hidden{display:none}}.gps-576529715955761695 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-576529715955761695 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-576529715955761695 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-576529715955761695 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-576529715955761695 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-576529715955761695 .\[\&_p\]\:gp-inline p{display:inline}.gps-576529715955761695 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-576529715955761695 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gcq91zpOom" data-id="gcq91zpOom"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcq91zpOom gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC13LxAQv3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9ZOX_-8yx" data-id="g9ZOX_-8yx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9ZOX_-8yx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzQNvREYde gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLcGzn5wMy">
    <div
      parentTag="Col"
        class="gLcGzn5wMy "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLcGzn5wMy_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyeL7az0hq">
    <div
      parentTag="Col"
        class="gyeL7az0hq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--mb-mobile:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyeL7az0hq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gyeL7az0hq">
        .gyeL7az0hq {

}
.gyeL7az0hq p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g0uaelJKQl" data-id="g0uaelJKQl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0uaelJKQl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsTUwDvtty gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsENb1rrMs" data-id="gsENb1rrMs"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:28px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsENb1rrMs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzXZ5WeYsm gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gKiprMNa16"
    >
      <div 
      data-id="gKiprMNa16"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:40px;--h:50px;--h-tablet:50px;--h-mobile:40px;--minw:50px;--minw-tablet:50px;--minw-mobile:40px;--height-desktop:50px;--height-tablet:50px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517107533618349206" xmlns="http://www.w3.org/2000/svg" width="33" height="50" viewBox="0 0 33 50" fill="none">
<path d="M28.7402 20.4506C28.6343 20.2314 28.5888 19.9876 28.6089 19.7451L29.3131 11.2348C29.3923 10.277 29.0376 9.34857 28.34 8.68751C27.6425 8.02645 26.6956 7.7223 25.7442 7.85258C25.0119 7.95302 24.3031 8.19204 23.6608 8.55226C23.6101 8.48273 23.5578 8.41408 23.502 8.34748C22.1767 6.76626 19.8123 6.55786 18.2313 7.88262L12.5041 12.6758V11.6035C12.5041 11.5236 12.5279 11.4465 12.573 11.3805L13.7609 9.64229C13.9888 9.30879 13.9031 8.85368 13.5696 8.62579C13.2359 8.3977 12.7809 8.48351 12.5531 8.81702L11.3653 10.5552C11.1534 10.8653 11.0413 11.2278 11.0413 11.6035V13.9L6.48346 17.7147V10.826C6.48346 10.0376 6.71857 9.2768 7.16343 8.62588L11.3467 2.50384C11.6901 2.00124 12.2087 1.66247 12.807 1.54994C13.4052 1.4374 14.0114 1.56447 14.5141 1.90802C15.0167 2.25137 15.3555 2.77006 15.468 3.36832C15.5805 3.96648 15.4535 4.57283 15.11 5.07533L14.3425 6.19871C14.1146 6.53232 14.2003 6.98733 14.5337 7.21522C14.867 7.44311 15.3223 7.3574 15.5501 7.02399L16.3176 5.90061C16.8815 5.07543 17.0903 4.08008 16.9055 3.0979C16.7207 2.11572 16.1644 1.26412 15.3393 0.700281C14.5142 0.136445 13.5188 -0.072337 12.5365 0.112456C11.5543 0.297248 10.7028 0.853479 10.1389 1.67866L5.9557 7.8007C5.34408 8.6959 5.02072 9.74205 5.02072 10.8261V18.939L2.8272 20.7747C1.25066 22.0942 0.405681 24.1056 0.566875 26.155L1.03251 32.0748C1.06265 32.4581 1.38289 32.749 1.76086 32.7489C1.78007 32.7489 1.79948 32.7481 1.81898 32.7466C2.22162 32.715 2.52246 32.3628 2.49077 31.9603L2.02513 26.0405C1.90099 24.4619 2.55181 22.9127 3.76608 21.8965L19.1705 9.00415C20.1335 8.19701 21.5738 8.32397 22.381 9.28704C23.188 10.2502 23.0612 11.6904 22.098 12.4976L14.0794 19.2175C13.5812 19.3379 13.1044 19.5775 12.6911 19.937L8.77176 23.3485C8.46712 23.6138 8.43514 24.0757 8.70028 24.3804C8.96553 24.685 9.42736 24.7169 9.7322 24.4518L13.6516 21.0403C14.3332 20.4468 15.3278 20.4411 16.0163 21.0268L21.9441 26.0688C22.4078 26.4633 22.6901 27.0147 22.7391 27.6214C22.7881 28.2282 22.5979 28.8177 22.2034 29.2813C21.9151 29.6203 21.534 29.8641 21.1114 29.9887L16.9641 26.4611C15.7202 25.4029 13.9231 25.4132 12.6912 26.4854L8.77186 29.8969C8.46722 30.1622 8.43524 30.6241 8.70038 30.9287C8.96563 31.2335 9.42746 31.2654 9.73229 31.0002L13.6517 27.5887C14.3333 26.9952 15.3279 26.9894 16.0164 27.5752L21.9442 32.6172C22.4079 33.0117 22.6902 33.563 22.7392 34.1698C22.7882 34.7766 22.598 35.3661 22.2035 35.8297C21.8091 36.2934 21.2578 36.5757 20.6511 36.6246C20.0434 36.6735 19.4546 36.4833 18.9911 36.089L15.3218 32.9679C15.0314 32.7209 14.6003 32.7383 14.3308 33.0078L13.2418 34.0967C12.9562 34.3825 12.9562 34.8455 13.2418 35.1311C13.5274 35.4166 13.9905 35.4166 14.276 35.1311L14.888 34.5192L18.0433 37.2031C18.726 37.7839 19.5749 38.095 20.4615 38.095C20.5634 38.095 20.666 38.0908 20.7687 38.0825C21.7648 38.0022 22.67 37.5386 23.3176 36.7773C23.9652 36.016 24.2776 35.0481 24.1971 34.0519C24.1168 33.0557 23.6532 32.1504 22.8919 31.5028L22.3467 31.0391C22.7111 30.8274 23.0405 30.5546 23.3176 30.2288C24.6544 28.6573 24.4634 26.2912 22.8919 24.9543L20.2637 22.7189L21.8522 14.6117L23.0377 13.6182C23.8036 12.9764 24.2739 12.0745 24.3616 11.0789C24.3973 10.6736 24.3668 10.2729 24.2761 9.88813C24.7853 9.58437 25.3534 9.38222 25.943 9.30147C26.4531 9.23126 26.9602 9.3946 27.3341 9.74888C27.7079 10.1032 27.8979 10.6006 27.8555 11.1139L27.1514 19.6242C27.1097 20.1268 27.2039 20.6327 27.4235 21.087L28.7259 23.7804C30.3668 27.1743 30.4222 31.0931 28.8781 34.5321L28.0407 36.3969C27.8752 36.7655 28.0398 37.1983 28.4083 37.3637C28.5057 37.4074 28.6074 37.4281 28.7075 37.4281C28.9866 37.4281 29.2533 37.2674 29.3751 36.9961L30.2125 35.1312C31.9342 31.297 31.8723 26.9277 30.0428 23.1437L28.7402 20.4506ZM18.9859 21.6326L16.9639 19.9127C16.7095 19.6963 16.4317 19.5253 16.1406 19.3983L20.0685 16.1067L18.9859 21.6326Z" fill="#242424"/>
<path d="M27.7238 38.8886C27.3553 38.7232 26.9226 38.8875 26.7571 39.2562L24.884 43.4274C24.8417 43.5217 24.8198 43.6238 24.8198 43.727V49.2743C24.8198 49.6783 25.1472 50.0057 25.5512 50.0057C25.9552 50.0057 26.2826 49.6783 26.2826 49.2743V43.8837L28.0915 39.8553C28.257 39.4869 28.0923 39.0541 27.7238 38.8886Z" fill="#242424"/>
<path d="M23.478 4.55536C23.882 4.55536 24.2093 4.228 24.2093 3.82399V0.735275C24.2093 0.331267 23.882 0.00390625 23.478 0.00390625C23.0739 0.00390625 22.7466 0.331267 22.7466 0.735275V3.82399C22.7466 4.2279 23.074 4.55536 23.478 4.55536Z" fill="#242424"/>
<path d="M26.6002 5.28386C26.7129 5.34666 26.8349 5.37631 26.9554 5.37631C27.2122 5.37631 27.4613 5.24086 27.5951 5.00067L29.098 2.30221C29.2944 1.9493 29.1677 1.50385 28.8149 1.30736C28.462 1.11086 28.0165 1.23763 27.82 1.59045L26.3172 4.28891C26.1206 4.64191 26.2474 5.08727 26.6002 5.28386Z" fill="#242424"/>
<path d="M32.8434 5.04163C32.6307 4.69827 32.1801 4.59237 31.8365 4.80496L29.2106 6.43123C28.8673 6.64391 28.7613 7.09473 28.9739 7.43808C29.1123 7.66149 29.3515 7.78446 29.5964 7.78446C29.7278 7.78446 29.8609 7.74906 29.9808 7.67475L32.6067 6.04848C32.9502 5.8359 33.0562 5.38508 32.8434 5.04163Z" fill="#242424"/>
<path d="M4.86643 40.0448C3.71935 38.6033 2.9869 36.8737 2.74818 35.043C2.69592 34.6426 2.32935 34.361 1.92837 34.4123C1.52787 34.4645 1.24546 34.8316 1.29773 35.2321C1.57078 37.3266 2.40902 39.3058 3.72178 40.9555L6.73932 44.7478V49.2266C6.73932 49.6306 7.06677 49.958 7.47068 49.958C7.8746 49.958 8.20205 49.6306 8.20205 49.2266V44.4923C8.20205 44.3269 8.14598 44.1663 8.043 44.0369L4.86643 40.0448Z" fill="#242424"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIdpiTu0XI">
    <div
      parentTag="Col"
        class="gIdpiTu0XI "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIdpiTu0XI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIdpiTu0XI">
        .gIdpiTu0XI {

}
.gIdpiTu0XI p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8hvcuZ0UW">
    <div
      parentTag="Col"
        class="g8hvcuZ0UW "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8hvcuZ0UW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8hvcuZ0UW">
        .g8hvcuZ0UW {

}
.g8hvcuZ0UW p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gi_zc4ksqT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gFiRhYQ_bH" data-id="gFiRhYQ_bH"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:28px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFiRhYQ_bH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6NfeyMWmt gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gGUtwneRUO"
    >
      <div 
      data-id="gGUtwneRUO"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:40px;--h:50px;--h-tablet:50px;--h-mobile:40px;--minw:50px;--minw-tablet:50px;--minw-mobile:40px;--height-desktop:50px;--height-tablet:50px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517108913947018390" xmlns="http://www.w3.org/2000/svg" width="51" height="50" viewBox="0 0 51 50" fill="none">
<g clip-path="url(#clip0_368_3407)">
<mask id="mask0_368_3407" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="51" height="51">
<path d="M49.6 49.3539V0.653912H0.9V49.3539H49.6Z" fill="white" stroke="white" stroke-width="1.3"/>
</mask>
<g mask="url(#mask0_368_3407)">
<path d="M24.4536 4.73129C26.195 1.43755 30.2768 0.179246 33.5705 1.92065L45.9033 8.44116C49.1969 10.1826 50.4553 14.2644 48.7139 17.5581V17.5581C46.9724 20.8518 42.8907 22.1102 39.5969 20.3687L27.2641 13.8482C23.9705 12.1068 22.7121 8.02504 24.4536 4.73129Z" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M33.4307 17.1094L39.7369 5.18174" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17.8095 16.9977C19.4211 17.0649 21.014 17.7069 22.2549 18.9264C24.9123 21.538 24.9493 25.8091 22.3378 28.4665L12.5593 38.4162C9.94781 41.0734 5.67662 41.1105 3.0194 38.4989C0.36217 35.8874 0.325061 31.6162 2.93658 28.9589L12.715 19.0092C13.2518 18.463 13.8588 18.0275 14.5075 17.703" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.82568 23.9842L17.4484 33.4414" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.3764 40.6371C26.1903 38.1427 27.051 35.585 28.9583 33.6776C32.434 30.2019 38.0692 30.2019 41.545 33.6776C45.0207 37.1533 45.0207 42.7886 41.545 46.2643C38.0692 49.74 32.434 49.74 28.9583 46.2643C28.2497 45.5555 27.6854 44.7571 27.2657 43.9054" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.0576 36.7769L38.4448 43.1641" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</g>
<defs>
<clipPath id="clip0_368_3407">
<rect width="50" height="50" fill="white" transform="translate(0.25 0.00390625)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gm6p3P01W7">
    <div
      parentTag="Col"
        class="gm6p3P01W7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggm6p3P01W7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gm6p3P01W7">
        .gm6p3P01W7 {

}
.gm6p3P01W7 p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVHk8iANT6">
    <div
      parentTag="Col"
        class="gVHk8iANT6 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVHk8iANT6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gVHk8iANT6">
        .gVHk8iANT6 {

}
.gVHk8iANT6 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDFAwuhXan gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4ZmYHJLL0" data-id="g4ZmYHJLL0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4ZmYHJLL0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDobdbYbcN gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] grJUFcKixQ"
    >
      <div 
      data-id="grJUFcKixQ"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:40px;--h:50px;--h-tablet:50px;--h-mobile:40px;--minw:50px;--minw-tablet:50px;--minw-mobile:40px;--height-desktop:50px;--height-tablet:50px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517108921345770646" xmlns="http://www.w3.org/2000/svg" width="51" height="50" viewBox="0 0 51 50" fill="none">
<path d="M13.8642 37.3242L10.6621 34.1043" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M37.6357 37.3242L40.8378 34.1043" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<mask id="mask0_368_3432" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="51" height="51">
<path d="M50.1 49.3539V0.653912H1.4V49.3539H50.1Z" fill="white" stroke="white" stroke-width="1.3"/>
</mask>
<g mask="url(#mask0_368_3432)">
<path d="M14.92 4.89924C18.7083 1.49328 24.041 -0.0748769 29.3823 1.1554C38.0911 3.16145 43.5249 11.8475 41.5189 20.5564C39.5129 29.2652 30.8269 34.6989 22.118 32.6929C13.4091 30.6869 7.9754 22.0008 9.98146 13.292C10.5189 10.9587 11.5359 8.86047 12.9042 7.07756" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.3125 32.4844C22.3339 30.9809 24.1644 29.6905 25.0758 29.2867C26.646 28.5909 29.7665 28.7953 30.5327 25.469C30.8968 23.8884 28.6439 22.6888 26.7762 22.2126C24.9086 21.7363 23.6476 15.7512 19.5722 16.7626C18.2677 17.0862 14.7091 14.131 15.0836 13.2833C15.9925 11.2261 14.1313 10.5079 15.0971 9.29854C15.6225 8.64082 16.2744 7.91426 17.1211 8.63037C17.9678 9.34658 17.6564 10.8357 18.4146 10.9798C19.1728 11.1237 19.6899 9.36309 20.145 8.36826C21.7838 4.78535 26.4049 5.94736 27.9094 4.5166C29.0534 3.42871 29.5197 2.11143 29.335 1.14366" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.0361 13.0666C11.4836 15.4529 14.854 17.452 15.9407 18.1944C16.2962 18.4372 16.4052 18.9126 16.1866 19.2835C15.5674 20.3352 14.7161 22.4456 16.6137 24.0118C19.241 26.1805 19.2393 27.1857 18.1709 29.4288C17.901 29.9956 17.6981 30.4717 17.5437 30.875" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M33.8891 2.93291C32.8835 5.48369 35.9695 6.53311 35.6422 7.37334C35.5068 7.7207 35.5921 8.16309 35.7338 8.55508C35.9447 9.13916 35.7766 9.79278 35.2944 10.184C34.4641 10.8573 33.3385 11.9551 33.1198 13.0967C32.583 15.8994 33.5416 17.0734 34.5814 17.9316C36.1921 19.261 37.4113 18.7954 38.0676 19.7715C39.4894 21.8861 32.8991 27.4856 35.1169 30.1172" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.6577 41.8874L22.5932 41.1865C22.4371 39.4898 21.4052 37.9982 19.8725 37.2538L15.3029 35.034L11.2411 30.7414C10.855 30.3421 10.2377 30.2459 9.76696 30.5406C9.24157 30.8693 9.06853 31.5461 9.36159 32.0839L10.662 34.1047C8.74216 33.1687 7.06286 31.8044 5.75319 30.1172C5.55153 29.8573 5.38093 29.5748 5.2447 29.2753L3.99099 26.5167C3.77272 26.0366 3.25114 25.7511 2.73659 25.8658C2.12263 26.0029 1.74909 26.6263 1.91735 27.2321L2.92155 30.8472C3.34587 32.1843 4.94323 35.3149 5.94196 36.2999C8.12517 38.4531 12.0719 40.5979 13.2171 41.8358C13.2658 41.8886 13.3125 41.9461 13.3571 42.0078" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M38.1475 42.0039C38.1906 41.9446 38.2356 41.8894 38.2827 41.8386C39.4278 40.6007 43.3746 38.4559 45.5578 36.3026C46.5565 35.3177 48.1539 32.187 48.5782 30.8499L49.5729 27.2689C49.7307 26.701 49.4348 26.0876 48.8759 25.9C48.3346 25.7184 47.7549 25.9779 47.5239 26.4862L46.255 29.278C46.1188 29.5775 45.9482 29.86 45.7465 30.1199C44.4369 31.8071 42.7576 33.1714 40.8378 34.1074L42.1382 32.0866C42.4312 31.5488 42.2582 30.8721 41.7328 30.5434C41.2621 30.2486 40.6447 30.3448 40.2587 30.7441L36.1969 35.0367L31.6271 37.2565C30.0945 38.001 29.0627 39.4926 28.9065 41.1894L28.8394 41.9206" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.193 44.8531H23.1624C23.6955 44.8531 24.1277 45.2854 24.1277 45.8186V48.308C24.1277 48.8412 23.6955 49.2734 23.1624 49.2734H14.193C13.6598 49.2734 13.2275 48.8412 13.2275 48.308V45.8186C13.2275 45.2854 13.6598 44.8531 14.193 44.8531Z" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M37.3068 44.8531H28.3374C27.8043 44.8531 27.3721 45.2854 27.3721 45.8186V48.308C27.3721 48.8412 27.8043 49.2734 28.3374 49.2734H37.3068C37.84 49.2734 38.2723 48.8412 38.2723 48.308V45.8186C38.2723 45.2854 37.84 44.8531 37.3068 44.8531Z" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZekrQpLIi">
    <div
      parentTag="Col"
        class="gZekrQpLIi "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZekrQpLIi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZekrQpLIi">
        .gZekrQpLIi {

}
.gZekrQpLIi p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggJoiRJ3Qo">
    <div
      parentTag="Col"
        class="ggJoiRJ3Qo "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggJoiRJ3Qo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ggJoiRJ3Qo">
        .ggJoiRJ3Qo {

}
.ggJoiRJ3Qo p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvpbuzN--w gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gDd-g66Fyb" data-id="gDd-g66Fyb"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDd-g66Fyb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYIjKOGa4C gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gPx0t2qyoa"
    >
      <div 
      data-id="gPx0t2qyoa"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:40px;--h:50px;--h-tablet:50px;--h-mobile:40px;--minw:50px;--minw-tablet:50px;--minw-mobile:40px;--height-desktop:50px;--height-tablet:50px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517108931529540758" xmlns="http://www.w3.org/2000/svg" width="51" height="50" viewBox="0 0 51 50" fill="none">
<mask id="mask0_368_3465" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="51" height="51">
<path d="M49.6 49.3539V0.653912H0.9V49.3539H49.6Z" fill="white" stroke="white" stroke-width="1.3"/>
</mask>
<g mask="url(#mask0_368_3465)">
<path d="M27.3839 49.0273H36.9199C39.8843 49.0273 42.1696 46.4146 41.7741 43.4756L39.7459 28.3906C39.5569 26.9875 38.3588 25.9405 36.9441 25.9405H33.2165V30.8731C33.2165 36.4007 28.6931 40.8916 23.1529 40.8386C17.6657 40.7855 13.2854 36.2323 13.2854 30.7463V25.9405H9.55767C8.14292 25.9405 6.94497 26.9875 6.75591 28.3906L4.72769 43.4756C4.33228 46.4146 6.61753 49.0273 9.58198 49.0273H18.7905" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.1527 40.8394C17.6663 40.7862 13.2852 36.2335 13.2852 30.7469V25.8078C13.2852 24.5342 14.3177 23.5016 15.5913 23.5016C16.865 23.5016 17.8976 24.5342 17.8976 25.8078V30.7841C17.8976 33.7155 20.2167 36.1708 23.1476 36.2264C26.1466 36.2833 28.6045 33.8603 28.6045 30.8739V25.8078C28.6045 24.5342 29.637 23.5016 30.9106 23.5016C32.1844 23.5016 33.2169 24.5342 33.2169 25.8078V30.8739C33.2169 36.4019 28.6929 40.8931 23.1527 40.8394Z" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M45.817 0.98213L38.2598 6.67051C37.7361 7.09785 37.3879 7.66699 37.2149 8.37793C36.7803 9.96006 35.8011 12.4497 35.0731 13.9201C34.6667 14.7412 34.1289 15.4903 33.4812 16.1382L30.43 19.1893C29.5887 20.0307 28.2247 20.0307 27.3834 19.1893C26.5595 18.3603 26.5527 16.9733 27.3834 16.1427L30.1289 13.3972C30.5052 13.0209 30.2486 12.3771 29.7167 12.3628L26.2625 12.2696C25.6147 12.2696 24.9937 12.527 24.5355 12.9851L18.2441 19.6432L20.8396 10.8881C21.2715 9.42861 22.2317 8.18242 23.533 7.39297L31.2693 2.69942C31.5618 2.52207 31.8319 2.31006 32.0739 2.06817L33.1599 0.98213" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M35.8955 20.8291L32.5439 24.1807C32.5439 24.1797 32.542 24.1777 32.541 24.1768C32.124 23.7598 31.5469 23.502 30.9102 23.502C29.6367 23.502 28.6045 24.5342 28.6045 25.8076V25.9414H17.8975V25.8076C17.8975 25.1709 17.6396 24.5947 17.2217 24.1768C16.8037 23.7598 16.2275 23.502 15.5908 23.502C14.9541 23.502 14.3779 23.7598 13.96 24.1768L18.2441 19.6426L24.5352 12.9844C24.9932 12.5264 25.6143 12.2686 26.2627 12.2686L29.7168 12.3623C30.248 12.377 30.5049 13.0205 30.1289 13.3965L27.3831 16.1423C26.553 16.9724 26.5589 18.3592 27.3831 19.1883C28.2249 20.03 29.5882 20.03 30.43 19.1883L33.4805 16.1377C33.6426 15.9756 33.7978 15.8076 33.9453 15.6328L35.8955 17.583C36.792 18.4795 36.792 19.9326 35.8955 20.8291Z" stroke="#242424" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXT3bJ0zBo">
    <div
      parentTag="Col"
        class="gXT3bJ0zBo "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXT3bJ0zBo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gXT3bJ0zBo">
        .gXT3bJ0zBo {

}
.gXT3bJ0zBo p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMjpJcIqGd">
    <div
      parentTag="Col"
        class="gMjpJcIqGd "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMjpJcIqGd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gMjpJcIqGd">
        .gMjpJcIqGd {

}
.gMjpJcIqGd p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-576529715955761695 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=576529696729072579&sectionId=576529715955761695)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLcGzn5wMy_text","label":"ggLcGzn5wMy_text","default":"Empowering Your Health, Your Way"},{"type":"html","id":"ggyeL7az0hq_text","label":"ggyeL7az0hq_text","default":"<p>Customizable, Affordable, and Sustainable Nutritional Solutions for a Thriving You</p>"},{"type":"html","id":"ggIdpiTu0XI_text","label":"ggIdpiTu0XI_text","default":"<p>Super Quick &amp; Easy</p>"},{"type":"html","id":"gg8hvcuZ0UW_text","label":"gg8hvcuZ0UW_text","default":"<p>Get your nutrition in a snap with this convenient supplement bottle</p>"},{"type":"html","id":"ggm6p3P01W7_text","label":"ggm6p3P01W7_text","default":"<p>There's No Limits</p>"},{"type":"html","id":"ggVHk8iANT6_text","label":"ggVHk8iANT6_text","default":"<p>Customize your dosage to fit your specific needs without any restrictions</p>"},{"type":"html","id":"ggZekrQpLIi_text","label":"ggZekrQpLIi_text","default":"<p>Commitment to Environment</p>"},{"type":"html","id":"gggJoiRJ3Qo_text","label":"gggJoiRJ3Qo_text","default":"<p>This supplement bottle is eco-friendly, reflecting our dedication to sustainability</p>"},{"type":"html","id":"ggXT3bJ0zBo_text","label":"ggXT3bJ0zBo_text","default":"<p>Convenient On-the-Go Solution</p>"},{"type":"html","id":"ggMjpJcIqGd_text","label":"ggMjpJcIqGd_text","default":"<p>Enjoy the flexibility of maintaining your health goals anytime and anywhere</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
