
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584657244587557464.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584657244587557464.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584657244587557464.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584657244587557464.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584657244587557464.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584657244587557464.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584657244587557464.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584657244587557464.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584657244587557464.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584657244587557464.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584657244587557464.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584657244587557464.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584657244587557464.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584657244587557464.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584657244587557464.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584657244587557464.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584657244587557464.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584657244587557464.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584657244587557464.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584657244587557464.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584657244587557464.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584657244587557464.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584657244587557464.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584657244587557464.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584657244587557464.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584657244587557464.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584657244587557464.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584657244587557464.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584657244587557464.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584657244587557464.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584657244587557464.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584657244587557464.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584657244587557464.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584657244587557464.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584657244587557464.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584657244587557464.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584657244587557464.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584657244587557464.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584657244587557464.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584657244587557464.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584657244587557464.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584657244587557464.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584657244587557464.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584657244587557464.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584657244587557464.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584657244587557464.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584657244587557464.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584657244587557464.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584657244587557464.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584657244587557464.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584657244587557464.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584657244587557464.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584657244587557464.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584657244587557464.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584657244587557464.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584657244587557464.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584657244587557464.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584657244587557464.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584657244587557464.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584657244587557464.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-584657244587557464.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-584657244587557464.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584657244587557464.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584657244587557464.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584657244587557464.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584657244587557464.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584657244587557464.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584657244587557464.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584657244587557464.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-584657244587557464.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584657244587557464.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584657244587557464.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584657244587557464.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-584657244587557464.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584657244587557464.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584657244587557464.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584657244587557464.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-584657244587557464.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-584657244587557464.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-584657244587557464.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584657244587557464.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584657244587557464.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584657244587557464.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584657244587557464.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584657244587557464.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584657244587557464.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584657244587557464 .gp-relative{position:relative}.gps-584657244587557464 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584657244587557464 .gp-mb-0{margin-bottom:0}.gps-584657244587557464 .gp-inline-block{display:inline-block}.gps-584657244587557464 .gp-flex{display:flex}.gps-584657244587557464 .gp-inline-flex{display:inline-flex}.gps-584657244587557464 .gp-grid{display:grid}.gps-584657244587557464 .gp-contents{display:contents}.gps-584657244587557464 .\!gp-hidden{display:none!important}.gps-584657244587557464 .gp-hidden{display:none}.gps-584657244587557464 .gp-h-auto{height:auto}.gps-584657244587557464 .gp-h-full{height:100%}.gps-584657244587557464 .gp-w-full{width:100%}.gps-584657244587557464 .gp-max-w-full{max-width:100%}.gps-584657244587557464 .gp-flex-none{flex:none}.gps-584657244587557464 .gp-cursor-pointer{cursor:pointer}.gps-584657244587557464 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584657244587557464 .gp-flex-col{flex-direction:column}.gps-584657244587557464 .gp-items-center{align-items:center}.gps-584657244587557464 .gp-justify-center{justify-content:center}.gps-584657244587557464 .gp-overflow-hidden{overflow:hidden}.gps-584657244587557464 .gp-leading-\[0\]{line-height:0}.gps-584657244587557464 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584657244587557464 .gp-duration-200{transition-duration:.2s}.gps-584657244587557464 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584657244587557464 .tablet\:\!gp-hidden{display:none!important}.gps-584657244587557464 .tablet\:gp-hidden{display:none}.gps-584657244587557464 .tablet\:gp-h-auto{height:auto}.gps-584657244587557464 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584657244587557464 .mobile\:\!gp-hidden{display:none!important}.gps-584657244587557464 .mobile\:gp-hidden{display:none}.gps-584657244587557464 .mobile\:gp-h-auto{height:auto}.gps-584657244587557464 .mobile\:gp-flex-none{flex:none}}.gps-584657244587557464 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584657244587557464 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584657244587557464 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584657244587557464 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584657244587557464 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_516802024675738699-17baead7-49b1-4186-b073-18a1ff9152f1.jpg","height":2000,"src":"https://cdn.shopify.com/s/files/1/0606/6277/6063/files/gempages_516802024675738699-17baead7-49b1-4186-b073-18a1ff9152f1.jpg","storage":"FILE_CONTENT","width":3000},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":""}},"uid":"gR61i8AY_w"}' data-id="gR61i8AY_w" id="gR61i8AY_w" data-same-height-subgrid-container class="gR61i8AY_w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:var(--g-s-4xl);--pb:80px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(https://cdn.shopify.com/s/files/1/0606/6277/6063/files/gempages_516802024675738699-17baead7-49b1-4186-b073-18a1ff9152f1.jpg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFXQV50SSx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(255, 255, 255, 0.58)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g1B1qQg2eD"}' data-id="g1B1qQg2eD" id="g1B1qQg2eD" data-same-height-subgrid-container class="g1B1qQg2eD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--pt:auto;--pl:20px;--pr:20px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(255, 255, 255, 0.58);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpnpUuu8cA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gONwlTRgva"}' data-id="gONwlTRgva" id="gONwlTRgva" data-same-height-subgrid-container class="gONwlTRgva gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:48px;--mb-mobile:30px;--pr-mobile:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHtT_pOA1N gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHgH4q_cvZ"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mt-mobile:auto;--ta:left"
      class="gp-group/image gp-relative force-publish-1758013499944 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHgH4q_cvZ"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}" srcset="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}" srcset="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}" data-src="{{ "gempages_516802024675738699-9cf68f5b-71c1-4c7d-8bba-c3b6c41533e4.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gHgH4q_cvZ">
        .gHgH4q_cvZ {

}
.gHgH4q_cvZ > figure > img {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#151515","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gc-4hwQSQI"}' data-id="gc-4hwQSQI" id="gc-4hwQSQI" data-same-height-subgrid-container class="gc-4hwQSQI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--mt:48px;--mb:16px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-l);--mt-mobile:28px;--mb-mobile:10px;--mt-tablet:48px;--mb-tablet:16px;--pt-tablet:var(--g-s-s);--pl-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pr-tablet:var(--g-s-l);--cg:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--h:auto;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gGmc-JX5RN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHGM12Ijfw"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758013499948 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHGM12Ijfw"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://i.pinimg.com/originals/fb/11/55/fb1155591460c455edf3ced130b127b9.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTYwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTYwMCIgdG89IjE2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://i.pinimg.com/originals/fb/11/55/fb1155591460c455edf3ced130b127b9.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTYwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTYwMCIgdG89IjE2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://i.pinimg.com/originals/fb/11/55/fb1155591460c455edf3ced130b127b9.gif" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTYwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTYwMCIgdG89IjE2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://i.pinimg.com/originals/fb/11/55/fb1155591460c455edf3ced130b127b9.gif"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:45px;--w-tablet:45px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLZJJKmvqv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0hQTwBDEj"
        class="g0hQTwBDEj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758013499950"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Noto-Serif-JP, 'Noto Serif JP'), var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0hQTwBDEj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0hQTwBDEj">
        .g0hQTwBDEj {

}
.g0hQTwBDEj p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWT4erfaH8"
        class="gWT4erfaH8"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758013499951"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Rajdhani, 'Rajdhani'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:37px;--size-tablet:36px;--size-mobile:30px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWT4erfaH8_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQQIgIquER"
        class="gQQIgIquER"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758013499952"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQQIgIquER_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQQIgIquER">
        .gQQIgIquER {

}
.gQQIgIquER p {

}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g65ia8ikD9 gp-cursor-pointer gp-custom-code">
      <div>
    <div class="globo-formbuilder" data-id="MzAzNTQ="></div>
    </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5UtVswTEM"}' data-id="g5UtVswTEM" id="g5UtVswTEM" data-same-height-subgrid-container class="g5UtVswTEM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pb:var(--g-s-xl);--mt-mobile:0px;--mb-mobile:0px;--cg:8px;--cg-mobile:7px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLTIA0GfCw gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gfgBW_nwu4" class="gp-leading-[0] gfgBW_nwu4" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--ta:left">
      <div data-id="gfgBW_nwu4" class="icon-wrapper gp-inline-flex gp-overflow-hidden gfgBW_nwu4 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#C83D41;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:18px;--h:24px;--h-tablet:24px;--h-mobile:18px;--minw:24px;--minw-tablet:24px;--minw-mobile:18px;--height-desktop:24px;--height-tablet:24px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817739182244200">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_n48te3So gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAhzVrL_AV"
        class="gAhzVrL_AV"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758013499958"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Bad-Script, 'Bad Script'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAhzVrL_AV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gAhzVrL_AV">
        .gAhzVrL_AV {

}
.gAhzVrL_AV p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gH_WU7dDhN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gOkH81u4L8"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--pb:0px;--mt-mobile:auto;--mb-mobile:var(--g-s-xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758013499960 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gOkH81u4L8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-aa7221f9-4fb6-45b5-bdc0-db0fdc0b49dd.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjY3LTE2NjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NjciIGhlaWdodD0iMTY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiBmaWxsPSJ1cmwoI2ctMTY2Ny0xNjY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2NyIgdG89IjE2NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-aa7221f9-4fb6-45b5-bdc0-db0fdc0b49dd.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjY3LTE2NjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NjciIGhlaWdodD0iMTY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiBmaWxsPSJ1cmwoI2ctMTY2Ny0xNjY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2NyIgdG89IjE2NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_516802024675738699-aa7221f9-4fb6-45b5-bdc0-db0fdc0b49dd.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjY3LTE2NjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NjciIGhlaWdodD0iMTY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2NyIgaGVpZ2h0PSIxNjY3IiBmaWxsPSJ1cmwoI2ctMTY2Ny0xNjY3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2NyIgdG89IjE2NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_516802024675738699-aa7221f9-4fb6-45b5-bdc0-db0fdc0b49dd.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:25px;--bbrr:25px;--btlr:25px;--btrr:25px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gR61i8AY_w">
        .gR61i8AY_w {
z-index:1;
}
      </style>
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400|Rajdhani:700|Bad+Script:400&display=swap');</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-584657244587557464 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584657244503671384&sectionId=584657244587557464)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0hQTwBDEj_text","label":"gg0hQTwBDEj_text","default":"<p>Schon bald ist es soweit!</p>"},{"type":"html","id":"ggWT4erfaH8_text","label":"ggWT4erfaH8_text","default":"MEINE ersten <u>eigenen</u> Produkte 🥰"},{"type":"html","id":"ggQQIgIquER_text","label":"ggQQIgIquER_text","default":"<p><strong><u>Coming soon: Über ein Jahr Arbeit wird bald veröffentlich..</u></strong></p><p>&nbsp;</p><p>Trage dich ein &amp; erfahre als <strong><u>ERSTES</u></strong> davon und erhalte exklusiven Zugriff vor allen anderen 🤫</p>"},{"type":"html","id":"ggAhzVrL_AV_text","label":"ggAhzVrL_AV_text","default":"<p><strong>xoxo Amelie,</strong></p><p><strong>Danke für den Support</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  