

<style>@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:600&display=swap');.gps-550611595382752048 .-gp-rotate-90,.gps-550611595382752048 .-gp-translate-x-1\/2,.gps-550611595382752048 .-gp-translate-y-1\/2,.gps-550611595382752048 .gp-rotate-180,.gps-550611595382752048 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-550611595382752048 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-550611595382752048 .gp-absolute{position:absolute}.gps-550611595382752048 .gp-relative{position:relative}.gps-550611595382752048 .gp-left-0{left:0}.gps-550611595382752048 .gp-left-1\/2{left:50%}.gps-550611595382752048 .gp-top-0{top:0}.gps-550611595382752048 .gp-top-1\/2{top:50%}.gps-550611595382752048 .gp-z-1{z-index:1}.gps-550611595382752048 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550611595382752048 .gp-mb-0{margin-bottom:0}.gps-550611595382752048 .gp-block{display:block}.gps-550611595382752048 .gp-flex{display:flex}.gps-550611595382752048 .gp-inline-flex{display:inline-flex}.gps-550611595382752048 .gp-grid{display:grid}.gps-550611595382752048 .gp-contents{display:contents}.gps-550611595382752048 .\!gp-hidden{display:none!important}.gps-550611595382752048 .gp-hidden{display:none}.gps-550611595382752048 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-550611595382752048 .gp-h-full{height:100%}.gps-550611595382752048 .gp-min-h-0{min-height:0}.gps-550611595382752048 .gp-w-14{width:56px}.gps-550611595382752048 .gp-w-5{width:20px}.gps-550611595382752048 .gp-w-full{width:100%}.gps-550611595382752048 .\!gp-max-w-none{max-width:none!important}.gps-550611595382752048 .gp-max-w-full{max-width:100%}.gps-550611595382752048 .gp-flex-none{flex:none}.gps-550611595382752048 .gp-shrink-0{flex-shrink:0}.gps-550611595382752048 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-550611595382752048 .-gp-translate-x-1\/2,.gps-550611595382752048 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-550611595382752048 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-550611595382752048 .-gp-rotate-90{--tw-rotate:-90deg}.gps-550611595382752048 .-gp-rotate-90,.gps-550611595382752048 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-550611595382752048 .gp-rotate-180{--tw-rotate:180deg}.gps-550611595382752048 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-550611595382752048 .gp-cursor-pointer{cursor:pointer}.gps-550611595382752048 .gp-flex-col{flex-direction:column}.gps-550611595382752048 .gp-items-center{align-items:center}.gps-550611595382752048 .gp-justify-start{justify-content:flex-start}.gps-550611595382752048 .gp-justify-center{justify-content:center}.gps-550611595382752048 .gp-gap-y-0{row-gap:0}.gps-550611595382752048 .gp-overflow-hidden{overflow:hidden}.gps-550611595382752048 .gp-overflow-clip{overflow:clip}.gps-550611595382752048 .gp-break-words{overflow-wrap:break-word}.gps-550611595382752048 .gp-rounded{border-radius:4px}.gps-550611595382752048 .gp-rounded-none{border-radius:0}.gps-550611595382752048 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-550611595382752048 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-550611595382752048 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-550611595382752048 .gp-text-left{text-align:left}.gps-550611595382752048 .gp-text-center{text-align:center}.gps-550611595382752048 .gp-leading-\[0\]{line-height:0}.gps-550611595382752048 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-550611595382752048 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-550611595382752048 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-550611595382752048 .gp-no-underline{text-decoration-line:none}.gps-550611595382752048 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550611595382752048 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550611595382752048 .gp-duration-200{transition-duration:.2s}.gps-550611595382752048 .gp-duration-300{transition-duration:.3s}.gps-550611595382752048 .gp-duration-500{transition-duration:.5s}.gps-550611595382752048 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550611595382752048 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-550611595382752048 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-550611595382752048 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-550611595382752048 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-550611595382752048 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-550611595382752048 .tablet\:gp-block{display:block}.gps-550611595382752048 .tablet\:\!gp-hidden{display:none!important}.gps-550611595382752048 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550611595382752048 .mobile\:gp-block{display:block}.gps-550611595382752048 .mobile\:\!gp-hidden{display:none!important}.gps-550611595382752048 .mobile\:gp-hidden{display:none}}.gps-550611595382752048 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-550611595382752048 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-550611595382752048 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-550611595382752048 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-550611595382752048 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-550611595382752048 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-550611595382752048 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-550611595382752048 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-550611595382752048 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-550611595382752048 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-550611595382752048 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-550611595382752048 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-550611595382752048 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-550611595382752048 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-550611595382752048 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-550611595382752048 .\[\&_p\]\:gp-inline p{display:inline}.gps-550611595382752048 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-550611595382752048 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-550611595382752048 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gGsaEeO8Mt" data-id="gGsaEeO8Mt"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:48px;--pb:80px;--pt-mobile:21px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGsaEeO8Mt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbWDm1xWA8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gb1hMYIWzz" data-id="gb1hMYIWzz"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb1hMYIWzz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggqM9M1UJ3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gkMVOLyxob" data-id="gkMVOLyxob"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkMVOLyxob gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g50kkzQTTR gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-550611595382752048-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form %}
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="grfoL7xlAw" data-id="grfoL7xlAw"
        style="--ml:auto;--mb:63px;--pt:var(--g-s-m);--pl:var(--g-s-l);--pb:var(--g-s-m);--pr:var(--g-s-l);--ml-mobile:auto;--mb-mobile:35px;--mr-mobile:auto;--pt-mobile:var(--g-s-m);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-m);--pr-mobile:var(--g-s-s);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:98%;--bgc:rgba(244, 244, 244, 0.86);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grfoL7xlAw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gS2MAqlTnC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZfwISFbWj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gZfwISFbWj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:3px;--ml-mobile:var(--g-s-l);--mb-mobile:5px;--mr-mobile:var(--g-s-l);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:120%;--c:rgba(21, 21, 21, 0.89);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZfwISFbWj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZfwISFbWj">
        .gZfwISFbWj {

}
.gZfwISFbWj p {

}
      </style>
    <div gp-el-wrapper  class="gzGuZ1XAHb ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gzGuZ1XAHb"
      data-id="gzGuZ1XAHb"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:45px;--pt:var(--g-s-xs);--pl:var(--g-s-m);--pb:var(--g-s-xs);--pr:15px;--ml-mobile:var(--g-s-s);--mb-mobile:9px;--mr-mobile:var(--g-s-s);--pl-mobile:15px;--pr-mobile:var(--g-s-s);--bgc:rgba(214, 56, 55, 0.24);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gzGuZ1XAHb"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065914216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.ggzGuZ1XAHb_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwY-8VAi3n gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:12px;--pb:12px;--mb-mobile:11px;--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-s);--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="guR0nSHUVq ">
      
    <div
    data-id="guR0nSHUVq"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:rgba(0, 0, 0, 0.19)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(0, 0, 0, 0.19);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(0, 0, 0, 0.19);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(0, 0, 0, 0.19);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gv8l7nicvW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gv8l7nicvW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:3px;--ml-mobile:var(--g-s-l);--mb-mobile:5px;--mr-mobile:var(--g-s-l);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:120%;--c:rgba(21, 21, 21, 0.89);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggv8l7nicvW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gv8l7nicvW">
        .gv8l7nicvW {

}
.gv8l7nicvW p {

}
      </style>
    <div gp-el-wrapper  class="g8xMTVtmwo ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g8xMTVtmwo"
      data-id="g8xMTVtmwo"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":22,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:5px;--pt:var(--g-s-xs);--pl:var(--g-s-s);--pb:var(--g-s-xs);--pr:5px;--ml-mobile:var(--g-s-s);--mr-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pr-mobile:5px;--bgc:rgba(77, 144, 63, 0.23);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g8xMTVtmwo"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4d903f;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.gg8xMTVtmwo_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    <div
    
     data-id="g2TERnly6E"
    role="presentation"
    class="gp-group/image g2TERnly6E"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-bb249b05-14da-475f-b624-1f56cee46773.png?v=92750809917311974891705052172" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTI1MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0yNTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-bb249b05-14da-475f-b624-1f56cee46773.png?v=92750809917311974891705052172" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTI1MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0yNTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTI1MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIyNTIxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0yNTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-bb249b05-14da-475f-b624-1f56cee46773.png?v=92750809917311974891705052172"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div><div
    
     data-id="gFhpmm9WbW"
    role="presentation"
    class="gp-group/image gFhpmm9WbW"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-ef8ac6a5-a4c5-4b08-b9c0-fe972cadf6b6_768x768.png?v=4640590167630680311705458916" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA2LTc2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0idXJsKCNnLTMwNi03NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDYiIHRvPSIzMDYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-ef8ac6a5-a4c5-4b08-b9c0-fe972cadf6b6_768x768.png?v=4640590167630680311705458916" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA2LTc2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0idXJsKCNnLTMwNi03NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDYiIHRvPSIzMDYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA2LTc2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA2IiBoZWlnaHQ9Ijc2OCIgZmlsbD0idXJsKCNnLTMwNi03NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDYiIHRvPSIzMDYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-ef8ac6a5-a4c5-4b08-b9c0-fe972cadf6b6_768x768.png?v=4640590167630680311705458916"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div><div
    
     data-id="gKKmLLSFp6"
    role="presentation"
    class="gp-group/image gKKmLLSFp6"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-cec74ccc-7230-4330-9bbc-6b6313480fb4.jpg?v=3424664670358185161705052221" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTE2MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMTYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0xNjAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-cec74ccc-7230-4330-9bbc-6b6313480fb4.jpg?v=3424664670358185161705052221" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTE2MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMTYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0xNjAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTUyLTE2MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5NTIiIGhlaWdodD0iMTYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk1MiIgaGVpZ2h0PSIxNjAxIiBmaWxsPSJ1cmwoI2ctMjk1Mi0xNjAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk1MiIgdG89IjI5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-cec74ccc-7230-4330-9bbc-6b6313480fb4.jpg?v=3424664670358185161705052221"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRujPGPhIM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRujPGPhIM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRujPGPhIM_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdJY32W-t9">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdJY32W-t9 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:8px;--pb:24px;--mb-mobile:0px;--pt-mobile:7px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdJY32W-t9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV-DzM5KkP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gV-DzM5KkP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:24px;--pb:24px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggV-DzM5KkP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-tablet:0px;--pb-tablet:21px" class="gaIjIu3KDN ">
      
    <gp-accordion
      data-id="gaIjIu3KDN"
     uid="gaIjIu3KDN"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-tablet:14px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"3","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350260573\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263621981\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":15,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gaIjIu3KDN","childListNumber":["2"],"chidlrenUid":["gC0fb9T77q","gJw3tQsQ2P","gjtVFAQ-ij","gzFN52Umnl","gFqTMZDe7n","g4U4XDpH5u"]},"styles":{"bgColor":{"normal":"#F8F8F8"},"color":{"active":"#242424","hover":"#242424","normal":"#161723"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#161723"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"16px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gaIjIu3KDN"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gC0fb9T77q"
        id="gC0fb9T77q"
        data-index="0"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-0:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="0"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gC0fb9T77q"
        data-index="0"
        data-show="false"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gC0fb9T77q"
        data-index="0"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gykTuOGmni gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_n2nh_fxy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_n2nh_fxy "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_n2nh_fxy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gJw3tQsQ2P"
        id="gJw3tQsQ2P"
        data-index="1"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-1:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="1"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gJw3tQsQ2P"
        data-index="1"
        data-show="false"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gJw3tQsQ2P"
        data-index="1"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gNs8xDQM7t gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbfnGMLyqa">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbfnGMLyqa "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbfnGMLyqa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gjtVFAQ-ij"
        id="gjtVFAQ-ij"
        data-index="2"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-2:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:15px;height:15px"
            data-index="2"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gjtVFAQ-ij"
        data-index="2"
        data-show="true"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gjtVFAQ-ij"
        data-index="2"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:0px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gwQmgG5tQX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-sUbSdxB-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-sUbSdxB- "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-sUbSdxB-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gzFN52Umnl"
        id="gzFN52Umnl"
        data-index="3"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-3:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-3:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="3"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gzFN52Umnl"
        data-index="3"
        data-show="false"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gzFN52Umnl"
        data-index="3"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gAYkZmByU9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJyJl0rms3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJyJl0rms3 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJyJl0rms3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="4"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gFqTMZDe7n"
        id="gFqTMZDe7n"
        data-index="4"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-4:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-4:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="4"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gFqTMZDe7n"
        data-index="4"
        data-show="false"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gFqTMZDe7n"
        data-index="4"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="grTC_ecb1B gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHQU-2TjfH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHQU-2TjfH "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHQU-2TjfH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaIjIu3KDN-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="5"
      class="gaIjIu3KDN gp-accordion-item gp-overflow-hidden gp-child-item-gaIjIu3KDN"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g4U4XDpH5u"
        id="g4U4XDpH5u"
        data-index="5"
        class="gaIjIu3KDN gp-accordion-item-gaIjIu3KDN-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-5:hover .gp-collapsible-icon, .gaIjIu3KDN.gp-accordion-item-gaIjIu3KDN-5:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="5"
            class="gaIjIu3KDN gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaIjIu3KDN_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g4U4XDpH5u"
        data-index="5"
        data-show="false"
        class="gaIjIu3KDN gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g4U4XDpH5u"
        data-index="5"
        class="gaIjIu3KDN gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gFvGNypBhV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gErHEg0CLz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gErHEg0CLz "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggErHEg0CLz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-550611595382752048 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=550611583907136334&sectionId=550611595382752048)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNBFk83iE-_text","label":"ggNBFk83iE-_text","default":"<span style=\"color:#C92306;font-size:34px;\">HYPE unter Nageldesignern:</span><br>Echte Gelngel <strong><u>OHNE</u> lstiges</strong> Feilen"},{"type":"html","id":"ggXGsbAzfB2_text","label":"ggXGsbAzfB2_text","default":"<p>von Melissa W.</p>"},{"type":"html","id":"ggBTgYfhlC3_text","label":"ggBTgYfhlC3_text","default":"<p><span style=\"color:#161723;\"><strong>Verffentlicht:</strong></span> Monday, January 8, 2024</p>"},{"type":"html","id":"gg_dMDvkpKV_text","label":"gg_dMDvkpKV_text","default":"<p>Wenn es um das Modellieren von Gelngeln geht, gibt es wohl kaum eine Nageldesignerin, die nicht schon einmal ber das ewige Feilen geflucht hat!</p><p>Es ist nicht nur <strong>zeitaufwendig</strong>, sondern bringt auch viele Herausforderungen mit sich:</p><p><br>Jeder Nagel muss einzeln gefeilt, ausgebessert und abgestaubt werden  ein Prozess, der oft mehr Zeit in Anspruch nimmt als die eigentliche Gestaltung der Ngel. Stundenlanges Feilen an der perfekten Form und Statik zehrt nicht nur an den Nerven, sondern auch an der Gesundheit. Doch warum ist das Feilen eigentlich ein so groes Problem?</p>"},{"type":"html","id":"ggwhkrsT_p3_text","label":"ggwhkrsT_p3_text","default":"<p>Jump to section quickly:</p>"},{"type":"html","id":"gg9I--utN1U_text","label":"gg9I--utN1U_text","default":"<p>Healthy and Balanced Nutrition</p>"},{"type":"html","id":"ggc3CKEoHPq_text","label":"ggc3CKEoHPq_text","default":"<p>Joint Care and Mobility Support</p>"},{"type":"html","id":"ggLLlm9i1Er_text","label":"ggLLlm9i1Er_text","default":"<p>Digestive Health and Immune Support</p>"},{"type":"html","id":"gg8WC7VQTTw_text","label":"gg8WC7VQTTw_text","default":"<p>Healthy Skin and Shiny Coat</p>"},{"type":"html","id":"ggX4UvazSvY_text","label":"ggX4UvazSvY_text","default":"<p>Overall Well-being and Vitality</p>"},{"type":"html","id":"gggTqqobm0v_text","label":"gggTqqobm0v_text","default":"<p>Die unsichtbaren Folgen des Feilen, die niemand hren will</p>"},{"type":"html","id":"ggq_Hi_oQov_text","label":"ggq_Hi_oQov_text","default":"<p>Langes Feilen bedeutet vor allem eines: <strong><u>Zeitverlust.</u></strong></p><p>&nbsp;</p><p>Viele Nageldesignerinnen verbringen pro Kundin <strong>bis zu 60 Minuten</strong> nur damit, die Ngel in die perfekte Form zu feilen, damit die Statik stimmt. Diese verlorene Zeit knnte stattdessen fr tolle Designs oder Nailart genutzt werden  der Bereich, in dem man sich wirklich entfalten kann &amp; der viel mehr Spa macht. Dazu kommt die Belastung durch den vielen Feilstaub. Er verteilt sich nicht nur berall im Studio, sondern belastet auch die Gesundheit beim Einatmen. Ohne eine teure Staubabsaugung bleibt oft nichts anderes brig, als stndig eine Maske zu tragen, um den feinen Staub nicht einzuatmen.</p><p>&nbsp;</p><p><strong>Doch das ist noch nicht alles. </strong>Die Materialverschwendung durch das in Form feilen des berschssigen Gels, fhrt zu zustzlichen Kosten. Jede unntig abgefeilte Schicht ist verschwendet. Hinzu kommen krperliche Beschwerden wie Schmerzen im Handgelenk und Rcken durch die stndige monotone Bewegung. Und dann gibt es noch die stndige Gefahr, beim Feilen Fehler zu machen: Form verfeilt, Apex verfeilt oder gar die Nagelhaut verletzt. All das fhrt zu Stress und Frustration, die jeder kennt.</p>"},{"type":"html","id":"ggcnQr8Xsmv_text","label":"ggcnQr8Xsmv_text","default":"<p>Was ist die Lsung fr all das?</p>"},{"type":"html","id":"ggm5cTF1NhO_text","label":"ggm5cTF1NhO_text","default":"<p>Was wre, wenn es ein Gel gbe, das diese Probleme einfach beseitigt? Ein Produkt, das sich perfekt auf den Nagel verteilt, so standfest ist, dass es nicht in die Rnder luft, und das man nur noch aushrten muss  <strong>ohne danach zu feilen</strong>. Ein solches Gel knnte die Art vom \"Ngel machen\" revolutionieren, indem es dir die lstige Zeit des Feilens nimmt um den Nagel in Form zu verteilen. Dazu wrde es die Materialkosten senken und die Belastung fr dein Handgelenk und Rcken minimiert.</p>"},{"type":"html","id":"ggpAajHfCSM_label","label":"ggpAajHfCSM_label","default":"Start baking doggy delights"},{"type":"html","id":"ggzw9gPOYjR_text","label":"ggzw9gPOYjR_text","default":"<p>Bone and Joint Support</p>"},{"type":"html","id":"ggngTBI6UXl_text","label":"ggngTBI6UXl_text","default":"<p>Provides minerals and supplements like glucosamine and chondroitin to maintain bone and joint health.</p>"},{"type":"html","id":"ggkLNY39WHs_text","label":"ggkLNY39WHs_text","default":"<p>Reduced Disease Risk</p>"},{"type":"html","id":"ggDvwC2cjzp_text","label":"ggDvwC2cjzp_text","default":"<p>Offers natural antioxidants and antimicrobial compounds to decrease the risk of various diseases.</p>"},{"type":"html","id":"gguLm9iXY9l_text","label":"gguLm9iXY9l_text","default":"<p>Enhanced Nutrient Absorption</p>"},{"type":"html","id":"gg3n-7an3MJ_text","label":"gg3n-7an3MJ_text","default":"<p>Processed to enhance nutrient absorption, ensuring optimal utilization of essential nutrients.</p>"},{"type":"html","id":"ggLGJ_i7qlt_text","label":"ggLGJ_i7qlt_text","default":"<p>Cardiovascular Health Support</p>"},{"type":"html","id":"gg2dzslPQN0_text","label":"gg2dzslPQN0_text","default":"<p>Contains antioxidants and Omega-3 fatty acids to maintain cardiovascular health.</p>"},{"type":"html","id":"ggoJ6wWck1q_text","label":"ggoJ6wWck1q_text","default":"<p>Increased Strength and Endurance</p>"},{"type":"html","id":"ggp8gAsK7cd_text","label":"ggp8gAsK7cd_text","default":"<p>Natural plant-based supplements provide energy and enhance muscle strength and endurance in dogs.</p>"},{"type":"html","id":"gghU9HaeYMx_text","label":"gghU9HaeYMx_text","default":"<p>Eine Innovation schafft Hoffnung</p>"},{"type":"html","id":"gg8uHhN-otz_text","label":"gg8uHhN-otz_text","default":"<p>Hier kommt Evelyn ins Spiel, bekannt als \"Lyni\" ist sie eine der grten Nagelbloggerinnen Deutschlands kennt die Herausforderungen im Nageldesign wie kaum eine andere. Mit ber<strong> 107.000 Abonnenten</strong> auf YouTube und mehr als <strong>21 Millionen Klicks</strong> hat sie sich einen Namen gemacht. Heute betreibt sie die grte Nagelschule in Deutschland mit ber <strong>15.000 Schlern</strong> und einen Online-Shop mit mehr als <strong>150.000 Kunden</strong>. Lyni hat es sich zur Aufgabe gemacht, die Nageldesign-Branche zu revolutionieren. Ihr Ziel: Produkte entwickeln, die nicht nur Zeit sparen, sondern auch die Qualitt der Arbeit verbessern.</p>"},{"type":"html","id":"ggot3I_x-he_text","label":"ggot3I_x-he_text","default":"<p>Warum herkmmliche Gele oft versagen</p>"},{"type":"html","id":"ggb0RZR9w5Y_text","label":"ggb0RZR9w5Y_text","default":"<p>Die meisten Aufbaugele auf dem Markt sind entweder zu flssig oder zu fest. Flssige Gele laufen in die Rnder, wodurch zustzliche Arbeit beim Nachfeilen entsteht. Standfeste Gele hingegen erfordern oft stundenlanges Feilen, um eine glatte Oberflche zu erzielen. Beide Varianten sind weder effizient noch angenehm zu verarbeiten. Zudem entstehen durch das Feilen unntig viel Staub und Materialverschlei, was die Kosten und den Aufwand erhht.</p>"},{"type":"html","id":"gg-XX2pNZ3F_text","label":"gg-XX2pNZ3F_text","default":"<p><span style=\"color:var(--color-text);\">vs</span></p>"},{"type":"html","id":"ggbswnNaxRo_text","label":"ggbswnNaxRo_text","default":"<p>Happy Dog Bites</p>"},{"type":"html","id":"gggN4eAE7kZ_text","label":"gggN4eAE7kZ_text","default":"<p>Other Brand</p>"},{"type":"html","id":"ggV0shFpx6E_childItem_0","label":"ggV0shFpx6E_childItem_0","default":"<p>Anti-inflammatory coconut oil</p>"},{"type":"html","id":"ggfdHDQUeCr_childItem_0","label":"ggfdHDQUeCr_childItem_0","default":"<p>Inflammatory vegetable oils</p>"},{"type":"html","id":"ggZSNbSMb8p_childItem_0","label":"ggZSNbSMb8p_childItem_0","default":"<p>No refrigeration needed</p>"},{"type":"html","id":"ggIgb1VJ0el_childItem_0","label":"ggIgb1VJ0el_childItem_0","default":"<p>Goodbye fridge space!</p>"},{"type":"html","id":"ggkRsIa7nR1_childItem_0","label":"ggkRsIa7nR1_childItem_0","default":"<p>Heart healthy recipe</p>"},{"type":"html","id":"ggzBzMQ9Pod_childItem_0","label":"ggzBzMQ9Pod_childItem_0","default":"<p>Contains peas and legumes</p>"},{"type":"html","id":"ggP9ZjQQdWi_childItem_0","label":"ggP9ZjQQdWi_childItem_0","default":"<p>16% net carbs</p>"},{"type":"html","id":"ggJvRJCfvKI_childItem_0","label":"ggJvRJCfvKI_childItem_0","default":"<p>Fillers: rice, potato, peas, water</p>"},{"type":"html","id":"ggjTMXLf3KA_childItem_0","label":"ggjTMXLf3KA_childItem_0","default":"<p>Easy to serve</p>"},{"type":"html","id":"ggFxI65vxch_childItem_0","label":"ggFxI65vxch_childItem_0","default":"<p>Inconvenient</p>"},{"type":"html","id":"gglU4GKJuSW_label","label":"gglU4GKJuSW_label","default":"Start baking doggy delights"},{"type":"html","id":"ggvAVbakHGJ_text","label":"ggvAVbakHGJ_text","default":"<p>Die Lsung: Ein Gel welches auf TikTok VIRAL geht</p>"},{"type":"html","id":"ggixtuU75Ci_text","label":"ggixtuU75Ci_text","default":"<p>Hier kommt das <strong>No File Gel</strong> ins Spiel  eine Innovation, die <strong>all diese Probleme lst</strong>. Dieses revolutionre Gel wurde entwickelt, um das Arbeiten von Gelngeln einfacher, schneller und effizienter zu gestalten. Mit dem No File Gel gehrt das<strong> ewige Feilen der Vergangenheit an</strong>.</p><p>&nbsp;</p><p><span style=\"color:#C92100;\"><strong><u>Hier sind die Grnde, warum es herkmmliche Produkte in den Schatten stellt:</u></strong></span></p>"},{"type":"html","id":"ggMNwAHoiiW_childItem_0","label":"ggMNwAHoiiW_childItem_0","default":"<p><strong>Nie wieder feilen: </strong>Das Gel spart bis zu 60 Minuten pro Modellage, da es sich perfekt glatt zieht und kein in Form feilen notwendig ist</p>"},{"type":"html","id":"ggMNwAHoiiW_childItem_1","label":"ggMNwAHoiiW_childItem_1","default":"<p><strong>Selbstglttend - ohne zu Verlaufen: </strong>Das spezielle Gel hat eine Konsistenz die dir das Modellieren vereinfacht</p>"},{"type":"html","id":"ggMNwAHoiiW_childItem_2","label":"ggMNwAHoiiW_childItem_2","default":"<p><strong>Weniger Materialverbrauch: </strong>Da du nicht feilst, sparst du nicht nur Zeit sondern auch teures Material</p>"},{"type":"html","id":"ggMNwAHoiiW_childItem_3","label":"ggMNwAHoiiW_childItem_3","default":"<p><strong>Direkt Design arbeiten: </strong>Ohne zu Feilen kannst du sofort nach dem Aushrten dein Design oder Nailart malen</p>"},{"type":"html","id":"ggMNwAHoiiW_childItem_4","label":"ggMNwAHoiiW_childItem_4","default":"<p><strong>Sofortiges Versiegeln: </strong>Das Gel muss nicht mit Zellette abgecleanert werden, du sparst Zeit &amp; bist schneller fertig</p>"},{"type":"html","id":"ggfqh_wGjlU_text","label":"ggfqh_wGjlU_text","default":"<p>ber 5x ausverkauft in den letzten Monaten</p>"},{"type":"html","id":"ggxR1TfNPAw_text","label":"ggxR1TfNPAw_text","default":"<p>Das No File Gel wurde bereits ber <strong>10.000x verkauft </strong>&amp; begeistert die Nageldesigner! Es &nbsp;revolutioniert die Art und Weise, wie Gelngel gearbeitet werden.</p><p>&nbsp;</p><p>Aktuell gibt es ein Spar-Set, bei dem du bis zu 20% sparen kannst</p>"},{"type":"html","id":"ggZfwISFbWj_text","label":"ggZfwISFbWj_text","default":"<p><u>Verabschiede</u> dich vom lstigen Feilen und Feilstaub in <u>jeder</u> Ecke</p>"},{"type":"html","id":"ggzGuZ1XAHb_childItem_0","label":"ggzGuZ1XAHb_childItem_0","default":"<p><span style=\"font-size:14px;\">Jeden Nagel einzeln feilen, jeden Nagel einzeln ausbessern, jeden Nagel abstauben..</span></p><p><span style=\"font-size:14px;\">Das kostet <strong>Zeit</strong>, <strong>Material</strong> und belastet dein <strong>Handgelenk</strong></span></p>"},{"type":"html","id":"ggv8l7nicvW_text","label":"ggv8l7nicvW_text","default":"<p><u>Freu dich auf</u>: Mehr Zeit fr Designs, weniger Feilen und ein Studio ohne Staub</p>"},{"type":"html","id":"gg8xMTVtmwo_childItem_0","label":"gg8xMTVtmwo_childItem_0","default":"<p>Es ist 2025 &amp; dieses Gel wird deine Art Ngel zu machen <strong>komplett</strong> verndern. Du wirst <strong>mehr</strong> Zeit haben, <strong>weniger</strong> Material nutzen und dein Rcken &amp; Handgelenk <strong>schonen</strong>.</p>"},{"type":"html","id":"ggRujPGPhIM_text","label":"ggRujPGPhIM_text","default":"<p>Conclusion</p>"},{"type":"html","id":"ggdJY32W-t9_text","label":"ggdJY32W-t9_text","default":"<p>Give your beloved dog the best nutrition possible by choosing our premium dog food. With a focus on healthy and balanced nutrition, joint care and mobility support, digestive health and immune support, healthy skin and shiny coat, and overall well-being and vitality, our products are designed to meet your dog's specific needs. Experience the positive transformation in your dog's health and happiness by making the switch to our high-quality dog food. Order now and witness the difference it can make in your dog's life.</p>"},{"type":"html","id":"ggV-DzM5KkP_text","label":"ggV-DzM5KkP_text","default":"<p>Frequently Asked Questions</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_0","label":"ggaIjIu3KDN_childItem_0","default":"<p>Can Petpure plate be used on a regular basis?</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_1","label":"ggaIjIu3KDN_childItem_1","default":"<p>Can Petpure plate be given to pregnant &amp; nursing dogs?</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_2","label":"ggaIjIu3KDN_childItem_2","default":"<p>Will my dog like the taste?</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_3","label":"ggaIjIu3KDN_childItem_3","default":"<p>How long will it take to see results?</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_4","label":"ggaIjIu3KDN_childItem_4","default":"<p>How does the money back guarantee work?</p>"},{"type":"html","id":"ggaIjIu3KDN_childItem_5","label":"ggaIjIu3KDN_childItem_5","default":"<p>Any further questions?</p>"},{"type":"html","id":"gg_n2nh_fxy_text","label":"gg_n2nh_fxy_text","default":"<p>Yes, Petpure Plate delivers its unique health benefits when given daily and long term.<br>They are also available on a simple subscription which will save you time and money.</p>"},{"type":"html","id":"ggbfnGMLyqa_text","label":"ggbfnGMLyqa_text","default":"<p>Yes, they are suitable for both nursing and pregant dogs.</p>"},{"type":"html","id":"gg-sUbSdxB-_text","label":"gg-sUbSdxB-_text","default":"<p>Made from all-natural ingredients, this flavouring is allergen-free, contains no artificial nasties and is 100% safe for canine consumption. Your dog will love the chicken and bacon flavour, too!</p>"},{"type":"html","id":"ggJyJl0rms3_text","label":"ggJyJl0rms3_text","default":"<p>When taken on a regular daily basis, most dogs will begin to show results within around 6 weeks. However, after the first 30 days, you may start to notice your dog's gut and digestive health appear healthy and normal.From month 3 onwards, continued use has never been more important. By following the correct directions and regular use, you'll be able to make sure your pup's gut and digestion stays healthy.</p>"},{"type":"html","id":"ggHQU-2TjfH_text","label":"ggHQU-2TjfH_text","default":"<p>You can shop with peace of mind, in fact were so confident youll love our products that if not, we'll offer you a 30 day money back guarantee.<br>If youre unhappy with your Buddy &amp; Lola purchase, please email us at Support@gempet.com</p>"},{"type":"html","id":"ggErHEg0CLz_text","label":"ggErHEg0CLz_text","default":"<p>If you haven't found the answer to your query in the above FAQs we have further information about Super Tummy Daily Chews available in our <u>Help Center</u>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
