

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576529715402113987.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-576529715402113987.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576529715402113987.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576529715402113987.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576529715402113987.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576529715402113987.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576529715402113987.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576529715402113987.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576529715402113987.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576529715402113987.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-576529715402113987.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576529715402113987.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-576529715402113987.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-576529715402113987.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576529715402113987.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-576529715402113987.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-576529715402113987.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-576529715402113987.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576529715402113987.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576529715402113987.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576529715402113987.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576529715402113987.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-576529715402113987.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-576529715402113987.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-576529715402113987.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-576529715402113987.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576529715402113987.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576529715402113987.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576529715402113987.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-576529715402113987.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-576529715402113987.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576529715402113987.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576529715402113987.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-576529715402113987.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-576529715402113987.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576529715402113987.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576529715402113987.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576529715402113987.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576529715402113987.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576529715402113987.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576529715402113987.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576529715402113987.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576529715402113987.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576529715402113987.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576529715402113987.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576529715402113987.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-576529715402113987.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-576529715402113987.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-576529715402113987.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-576529715402113987.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576529715402113987.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-576529715402113987.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-576529715402113987.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-576529715402113987.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-576529715402113987.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576529715402113987.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576529715402113987.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-576529715402113987.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-576529715402113987.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-576529715402113987.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-576529715402113987.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-576529715402113987.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-576529715402113987.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-576529715402113987.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576529715402113987.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576529715402113987.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-576529715402113987.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-576529715402113987.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-576529715402113987.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-576529715402113987.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-576529715402113987.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576529715402113987.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576529715402113987.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-576529715402113987.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-576529715402113987.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-576529715402113987.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-576529715402113987 .gp-relative{position:relative}.gps-576529715402113987 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576529715402113987 .gp-mb-0{margin-bottom:0}.gps-576529715402113987 .gp-flex{display:flex}.gps-576529715402113987 .gp-grid{display:grid}.gps-576529715402113987 .gp-contents{display:contents}.gps-576529715402113987 .\!gp-hidden{display:none!important}.gps-576529715402113987 .gp-hidden{display:none}.gps-576529715402113987 .gp-h-auto{height:auto}.gps-576529715402113987 .gp-h-full{height:100%}.gps-576529715402113987 .gp-w-full{width:100%}.gps-576529715402113987 .gp-max-w-full{max-width:100%}.gps-576529715402113987 .gp-flex-none{flex:none}.gps-576529715402113987 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576529715402113987 .gp-flex-col{flex-direction:column}.gps-576529715402113987 .gp-gap-y-0{row-gap:0}.gps-576529715402113987 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715402113987 .gp-duration-200{transition-duration:.2s}.gps-576529715402113987 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-576529715402113987 .tablet\:\!gp-hidden{display:none!important}.gps-576529715402113987 .tablet\:gp-hidden{display:none}.gps-576529715402113987 .tablet\:gp-h-auto{height:auto}.gps-576529715402113987 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-576529715402113987 .mobile\:\!gp-hidden{display:none!important}.gps-576529715402113987 .mobile\:gp-hidden{display:none}.gps-576529715402113987 .mobile\:gp-h-auto{height:auto}.gps-576529715402113987 .mobile\:gp-flex-none{flex:none}}.gps-576529715402113987 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-576529715402113987 .\[\&_p\]\:gp-inline p{display:inline}.gps-576529715402113987 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-576529715402113987 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLuWrO1Ni6" data-id="gLuWrO1Ni6"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLuWrO1Ni6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVmomDb7Wt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gBtf-XnC8b" data-id="gBtf-XnC8b"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--pt:48px;--pl:48px;--pb:48px;--pr:48px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:21px;--pl-mobile:10px;--pb-mobile:21px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:970px;--w-mobile:var(--g-ct-w, 100%);--bgc:#FAEFDE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBtf-XnC8b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfEGjsxqUN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnpTr1d3Ix">
    <div
      parentTag="Col"
        class="gnpTr1d3Ix "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:48px;--mb-mobile:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnpTr1d3Ix_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gv3pwIZ43H" data-id="gv3pwIZ43H"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--cg:30px;--cg-tablet:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv3pwIZ43H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPbq8q3KUU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gGX-dN6LjG" data-id="gGX-dN6LjG"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E5D3B2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--pt:32px;--pl:24px;--pb:32px;--pr:23px;--mb-mobile:30px;--pt-mobile:21px;--pl-mobile:21px;--pb-mobile:21px;--pr-mobile:21px;--mb-tablet:0px;--pt-tablet:22px;--pl-tablet:22px;--pb-tablet:22px;--pr-tablet:22px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGX-dN6LjG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBuDDRb80d gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="guhnX3_Xvl" data-id="guhnX3_Xvl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-l);--cg:24px;--cg-tablet:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guhnX3_Xvl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSr3l6JDcR gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-vOmSpOwy"
    role="presentation"
    class="gp-group/image g-vOmSpOwy gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-9003de42-9086-4f35-839d-d1e413c63a95.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-9003de42-9086-4f35-839d-d1e413c63a95.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-9003de42-9086-4f35-839d-d1e413c63a95.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtJpOH0XEY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDAwrgk4dL">
    <div
      parentTag="Col"
        class="gDAwrgk4dL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDAwrgk4dL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gweGA2qbVZ">
    <div
      parentTag="Col"
        class="gweGA2qbVZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggweGA2qbVZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTgPdJT2Xo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gGPIlsZk9k" data-id="gGPIlsZk9k"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E5D3B2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--pt:32px;--pl:24px;--pb:32px;--pr:24px;--mb-mobile:0px;--pt-mobile:21px;--pl-mobile:21px;--pb-mobile:21px;--pr-mobile:21px;--mb-tablet:0px;--pt-tablet:22px;--pl-tablet:22px;--pb-tablet:22px;--pr-tablet:22px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGPIlsZk9k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gri2bxufls gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLIKNihr7l" data-id="gLIKNihr7l"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-l);--cg:24px;--cg-tablet:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLIKNihr7l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ga14j8jqgK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gW2TtUzfYg"
    role="presentation"
    class="gp-group/image gW2TtUzfYg gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-6827bbbd-9297-4d25-a8a1-8daae52323ce.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-6827bbbd-9297-4d25-a8a1-8daae52323ce.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-6827bbbd-9297-4d25-a8a1-8daae52323ce.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt39ZXyGIF gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNpZdf4nuR">
    <div
      parentTag="Col"
        class="gNpZdf4nuR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNpZdf4nuR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG2gQcvlgP">
    <div
      parentTag="Col"
        class="gG2gQcvlgP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG2gQcvlgP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-576529715402113987 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=576529696729072579&sectionId=576529715402113987)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggnpTr1d3Ix_text","label":"ggnpTr1d3Ix_text","default":"Quality and Confidence"},{"type":"html","id":"ggDAwrgk4dL_text","label":"ggDAwrgk4dL_text","default":"<p>30 Day Money-Back Guarantee</p>"},{"type":"html","id":"ggweGA2qbVZ_text","label":"ggweGA2qbVZ_text","default":"<p>Discover the confidence of our \"30 Day Money-Back Guarantee\" - try our product risk-free and experience the benefits firsthand. If you're not completely satisfied within 30 days, we'll refund your purchase. Take the first step towards a better you today!</p>"},{"type":"html","id":"ggNpZdf4nuR_text","label":"ggNpZdf4nuR_text","default":"<p>Lifetime Warranty</p>"},{"type":"html","id":"ggG2gQcvlgP_text","label":"ggG2gQcvlgP_text","default":"<p>Unlock worry-free ownership with our \"Lifetime Warranty\" - a testament to the lasting quality and durability of our products. Invest in our brand and enjoy the peace of mind that comes with a lifetime of product protection.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
