

<style>@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');.gps-550620233820275720 .gp-relative{position:relative}.gps-550620233820275720 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550620233820275720 .gp-mb-0{margin-bottom:0}.gps-550620233820275720 .gp-flex{display:flex}.gps-550620233820275720 .gp-inline-flex{display:inline-flex}.gps-550620233820275720 .gp-grid{display:grid}.gps-550620233820275720 .\!gp-hidden{display:none!important}.gps-550620233820275720 .gp-hidden{display:none}.gps-550620233820275720 .gp-max-w-full{max-width:100%}.gps-550620233820275720 .gp-shrink-0{flex-shrink:0}.gps-550620233820275720 .gp-flex-col{flex-direction:column}.gps-550620233820275720 .gp-items-center{align-items:center}.gps-550620233820275720 .gp-justify-center{justify-content:center}.gps-550620233820275720 .gp-gap-y-0{row-gap:0}.gps-550620233820275720 .gp-overflow-hidden{overflow:hidden}.gps-550620233820275720 .gp-text-left{text-align:left}.gps-550620233820275720 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550620233820275720 .gp-duration-200{transition-duration:.2s}.gps-550620233820275720 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550620233820275720 .tablet\:\!gp-hidden{display:none!important}.gps-550620233820275720 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550620233820275720 .mobile\:\!gp-hidden{display:none!important}.gps-550620233820275720 .mobile\:gp-hidden{display:none}}.gps-550620233820275720 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-550620233820275720 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-550620233820275720 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-550620233820275720 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-550620233820275720 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-550620233820275720 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-550620233820275720 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gX7djTZn6g" data-id="gX7djTZn6g"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX7djTZn6g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcOfzreXXT gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="g6ugQVUy4Q ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g6ugQVUy4Q"
      data-id="g6ugQVUy4Q"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:13px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:10px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g6ugQVUy4Q"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065914216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.gg6ugQVUy4Q_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g6ugQVUy4Q"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065914216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.gg6ugQVUy4Q_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g6ugQVUy4Q"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065914216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.gg6ugQVUy4Q_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g6ugQVUy4Q"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065914216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424">
                {{ section.settings.gg6ugQVUy4Q_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-550620233820275720 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=550611583907136334&sectionId=550620233820275720)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6ugQVUy4Q_childItem_0","label":"gg6ugQVUy4Q_childItem_0","default":"<p><strong>10 N채gel: </strong>In Form feilen, ausbessern, abstauben, auf Form pr체fen</p>"},{"type":"html","id":"gg6ugQVUy4Q_childItem_1","label":"gg6ugQVUy4Q_childItem_1","default":"<p><strong>Materialsparend: </strong>Kein runterfeilen von Material</p>"},{"type":"html","id":"gg6ugQVUy4Q_childItem_2","label":"gg6ugQVUy4Q_childItem_2","default":"<p><strong>Glattes Ergebnis: </strong>Nach dem Aush채rten direkt Versiegeln</p>"},{"type":"html","id":"gg6ugQVUy4Q_childItem_3","label":"gg6ugQVUy4Q_childItem_3","default":"<p><strong>Mehr Zeit f체r Design: </strong>Lieber mit Designs austoben anstatt lange zu Feilen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
