

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576529715452445635.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-576529715452445635.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576529715452445635.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-576529715452445635.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576529715452445635.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576529715452445635.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576529715452445635.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576529715452445635.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576529715452445635.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576529715452445635.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576529715452445635.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-576529715452445635.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-576529715452445635.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-576529715452445635.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576529715452445635.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-576529715452445635.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-576529715452445635.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-576529715452445635.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-576529715452445635.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576529715452445635.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-576529715452445635.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-576529715452445635.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-576529715452445635.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-576529715452445635.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-576529715452445635.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-576529715452445635.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576529715452445635.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-576529715452445635.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576529715452445635.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576529715452445635.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576529715452445635.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-576529715452445635.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-576529715452445635.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-576529715452445635.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-576529715452445635.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576529715452445635.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576529715452445635.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576529715452445635.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-576529715452445635.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-576529715452445635.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576529715452445635.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576529715452445635.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-576529715452445635.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-576529715452445635.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576529715452445635.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576529715452445635.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576529715452445635.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576529715452445635.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576529715452445635.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576529715452445635.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576529715452445635.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576529715452445635.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-576529715452445635.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-576529715452445635.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576529715452445635.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576529715452445635.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576529715452445635.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-576529715452445635.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-576529715452445635.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-576529715452445635.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-576529715452445635.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-576529715452445635.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-576529715452445635.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576529715452445635.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-576529715452445635.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-576529715452445635.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-576529715452445635.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-576529715452445635.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-576529715452445635.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576529715452445635.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576529715452445635.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-576529715452445635.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-576529715452445635.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-576529715452445635.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-576529715452445635.gps.gpsil [style*="--z-tablet:"]{z-index:var(--z-tablet)}.gps-576529715452445635.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-576529715452445635.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-576529715452445635.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-576529715452445635.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-576529715452445635.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-576529715452445635.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576529715452445635.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576529715452445635.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-576529715452445635.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-576529715452445635.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-576529715452445635.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-576529715452445635.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-576529715452445635.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-576529715452445635.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-576529715452445635.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-576529715452445635.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-576529715452445635.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-576529715452445635 .gp-relative{position:relative}.gps-576529715452445635 .gp-z-1{z-index:1}.gps-576529715452445635 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576529715452445635 .gp-mb-0{margin-bottom:0}.gps-576529715452445635 .gp-flex{display:flex}.gps-576529715452445635 .gp-inline-flex{display:inline-flex}.gps-576529715452445635 .gp-grid{display:grid}.gps-576529715452445635 .gp-contents{display:contents}.gps-576529715452445635 .\!gp-hidden{display:none!important}.gps-576529715452445635 .gp-hidden{display:none}.gps-576529715452445635 .gp-h-auto{height:auto}.gps-576529715452445635 .gp-h-full{height:100%}.gps-576529715452445635 .gp-w-full{width:100%}.gps-576529715452445635 .gp-max-w-full{max-width:100%}.gps-576529715452445635 .gp-flex-none{flex:none}.gps-576529715452445635 .gp-shrink-0{flex-shrink:0}.gps-576529715452445635 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576529715452445635 .gp-flex-col{flex-direction:column}.gps-576529715452445635 .gp-items-center{align-items:center}.gps-576529715452445635 .gp-justify-center{justify-content:center}.gps-576529715452445635 .gp-gap-y-0{row-gap:0}.gps-576529715452445635 .gp-overflow-hidden{overflow:hidden}.gps-576529715452445635 .gp-break-words{overflow-wrap:break-word}.gps-576529715452445635 .gp-rounded-none{border-radius:0}.gps-576529715452445635 .gp-text-center{text-align:center}.gps-576529715452445635 .gp-leading-\[0\]{line-height:0}.gps-576529715452445635 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-576529715452445635 .gp-no-underline{text-decoration-line:none}.gps-576529715452445635 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715452445635 .gp-duration-200{transition-duration:.2s}.gps-576529715452445635 .gp-duration-300{transition-duration:.3s}.gps-576529715452445635 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715452445635 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-576529715452445635 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-576529715452445635 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-576529715452445635 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-576529715452445635 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-576529715452445635 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-576529715452445635 .tablet\:\!gp-hidden{display:none!important}.gps-576529715452445635 .tablet\:gp-hidden{display:none}.gps-576529715452445635 .tablet\:gp-h-auto{height:auto}.gps-576529715452445635 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-576529715452445635 .mobile\:\!gp-hidden{display:none!important}.gps-576529715452445635 .mobile\:gp-hidden{display:none}.gps-576529715452445635 .mobile\:gp-h-auto{height:auto}.gps-576529715452445635 .mobile\:gp-flex-none{flex:none}}.gps-576529715452445635 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-576529715452445635 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-576529715452445635 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-576529715452445635 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-576529715452445635 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-576529715452445635 .\[\&_p\]\:gp-inline p{display:inline}.gps-576529715452445635 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-576529715452445635 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-576529715452445635 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLOrnD9nhw" data-id="gLOrnD9nhw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:60px;--pl:0px;--pb:48px;--pr:0px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--pt-tablet:var(--g-s-4xl);--pl-tablet:0px;--pb-tablet:var(--g-s-xl);--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FE8C3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLOrnD9nhw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVMWNoxbX2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gegZyibfOC" data-id="gegZyibfOC"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.1);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:22px;--pl:20px;--pb:36px;--pr:20px;--mb-mobile:22px;--pl-mobile:20px;--pb-mobile:22px;--pr-mobile:20px;--mb-tablet:60px;--pl-tablet:20px;--pr-tablet:20px;--cg:48px;--cg-tablet:32px;--cg-mobile:24px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gegZyibfOC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gStrNQZSU5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g7calaWbjs" data-id="g7calaWbjs"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:18px;--cg:8px;--cg-mobile:7px;--pc:end;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7calaWbjs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTwArxAKRF gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gBVlGlMGhz"
    >
      <div 
      data-id="gBVlGlMGhz"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:18px;--h:30px;--h-tablet:30px;--h-mobile:18px;--minw:30px;--minw-tablet:30px;--minw-mobile:18px;--height-desktop:30px;--height-tablet:30px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817633468481896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,66a38,38,0,1,0,38,38A38,38,0,0,0,128,66Zm0,64a26,26,0,1,1,26-26A26,26,0,0,1,128,130Zm0-112a86.1,86.1,0,0,0-86,86c0,30.91,14.34,63.74,41.47,94.94a252.32,252.32,0,0,0,41.09,38,6,6,0,0,0,6.88,0,252.32,252.32,0,0,0,41.09-38c27.13-31.2,41.47-64,41.47-94.94A86.1,86.1,0,0,0,128,18Zm0,206.51C113,212.93,54,163.62,54,104a74,74,0,0,1,148,0C202,163.62,143,212.93,128,224.51Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-IfwhpVpB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gh7J0FQ5uD">
    <div
      parentTag="Col"
        class="gh7J0FQ5uD "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggh7J0FQ5uD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXKIpYUQ13 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gZfHAvSS3q" data-id="gZfHAvSS3q"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:18px;--cg:8px;--cg-mobile:7px;--pc:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZfHAvSS3q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkC8NzNJBh gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gqhfz6GHEx"
    >
      <div 
      data-id="gqhfz6GHEx"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:18px;--h:30px;--h-tablet:30px;--h-mobile:18px;--minw:30px;--minw-tablet:30px;--minw-mobile:18px;--height-desktop:30px;--height-tablet:30px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817623415980392">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,50H32a6,6,0,0,0-6,6V192a14,14,0,0,0,14,14H216a14,14,0,0,0,14-14V56A6,6,0,0,0,224,50Zm-96,85.86L47.42,62H208.58ZM101.67,128,38,186.36V69.64Zm8.88,8.14L124,148.42a6,6,0,0,0,8.1,0l13.4-12.28L208.58,194H47.43ZM154.33,128,218,69.64V186.36Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZPl9ay6i- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkER9iMZda">
    <div
      parentTag="Col"
        class="gkER9iMZda "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkER9iMZda_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gx5mM1v2ce gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="goDDO5wowp" data-id="goDDO5wowp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:0px;--cg:8px;--cg-mobile:7px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goDDO5wowp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grPnGxmfWJ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gzUC4OK4WW"
    >
      <div 
      data-id="gzUC4OK4WW"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:18px;--h:24px;--h-tablet:24px;--h-mobile:18px;--minw:24px;--minw-tablet:24px;--minw-mobile:18px;--height-desktop:24px;--height-tablet:24px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517077312349406358" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<path d="M4.10249 1.49043C4.03608 1.40499 3.95225 1.33467 3.85657 1.28413C3.76089 1.23359 3.65555 1.20398 3.54755 1.19728C3.43955 1.19057 3.33136 1.20692 3.23016 1.24525C3.12897 1.28357 3.03708 1.34299 2.96062 1.41955L1.79737 2.58393C1.25399 3.12843 1.05374 3.89905 1.29112 4.57518C2.27632 7.37371 3.87895 9.91453 5.98012 12.0092C8.07478 14.1103 10.6156 15.7129 13.4141 16.6982C14.0902 16.9356 14.8609 16.7353 15.4054 16.1919L16.5686 15.0287C16.6452 14.9522 16.7046 14.8603 16.7429 14.7591C16.7812 14.6579 16.7976 14.5497 16.7909 14.4417C16.7842 14.3337 16.7546 14.2284 16.704 14.1327C16.6535 14.037 16.5832 13.9532 16.4977 13.8868L13.9024 11.8686C13.8111 11.7978 13.7049 11.7486 13.5919 11.7248C13.4789 11.7011 13.3619 11.7033 13.2499 11.7313L10.7861 12.3467C10.4573 12.4289 10.1127 12.4245 9.78604 12.334C9.45937 12.2435 9.16169 12.07 8.92199 11.8303L6.15899 9.06618C5.91911 8.82659 5.74536 8.52897 5.65467 8.20229C5.56398 7.87561 5.55944 7.53101 5.64149 7.20205L6.25799 4.7383C6.28601 4.62625 6.28822 4.50929 6.26444 4.39626C6.24067 4.28323 6.19153 4.17707 6.12074 4.0858L4.10249 1.49043ZM2.11124 0.571301C2.30811 0.374369 2.54462 0.221572 2.80507 0.123057C3.06552 0.0245417 3.34395 -0.017438 3.62187 -9.471e-05C3.89979 0.0172486 4.17084 0.0935181 4.41702 0.223649C4.6632 0.353781 4.87888 0.534796 5.04974 0.754676L7.06799 3.34893C7.43812 3.8248 7.56862 4.44468 7.42237 5.02968L6.80699 7.49343C6.77517 7.62103 6.77689 7.7547 6.81198 7.88145C6.84707 8.0082 6.91433 8.12372 7.00724 8.2168L9.77137 10.9809C9.86456 11.074 9.98027 11.1414 10.1072 11.1765C10.2342 11.2116 10.3681 11.2132 10.4959 11.1812L12.9585 10.5658C13.2472 10.4936 13.5485 10.488 13.8397 10.5494C14.1309 10.6108 14.4043 10.7376 14.6392 10.9202L17.2335 12.9384C18.1661 13.664 18.2516 15.0422 17.4169 15.8758L16.2536 17.0391C15.4211 17.8716 14.1769 18.2372 13.017 17.8288C10.0483 16.7843 7.35292 15.0847 5.13074 12.8563C2.90244 10.6344 1.20292 7.93944 0.158241 4.97118C-0.249009 3.81243 0.116616 2.56705 0.949116 1.73455L2.11237 0.571301H2.11124Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0Yh80c3l4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs5amWWMJm">
    <div
      parentTag="Col"
        class="gs5amWWMJm "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggs5amWWMJm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVZqrc4-5Y" data-id="gVZqrc4-5Y"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--mb-mobile:16px;--cg:8px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVZqrc4-5Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFXBy9YU81 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gpsXsJceyH"
    role="presentation"
    class="gp-group/image gpsXsJceyH gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--ta:center"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-2eaba43c-3b52-441c-aa73-1acd06e771ae.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-2eaba43c-3b52-441c-aa73-1acd06e771ae.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_516802024675738699-2eaba43c-3b52-441c-aa73-1acd06e771ae.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:39px;--w-tablet:39px;--w-mobile:39px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
      <style id="custom-css-gpsXsJceyH">
        .gpsXsJceyH {

}
.gpsXsJceyH > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHAZpwhpea gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFGEhnQcNw"
    role="presentation"
    class="gp-group/image gFGEhnQcNw gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-fac10b31-8098-4eaf-b0cb-76826f2559a1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTUzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIGZpbGw9InVybCgjZy05MS01MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-fac10b31-8098-4eaf-b0cb-76826f2559a1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTUzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIGZpbGw9InVybCgjZy05MS01MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTUzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iNTMiIGZpbGw9InVybCgjZy05MS01MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-fac10b31-8098-4eaf-b0cb-76826f2559a1.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:39px;--w-tablet:39px;--w-mobile:39px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
      <style id="custom-css-gFGEhnQcNw">
        .gFGEhnQcNw {

}
.gFGEhnQcNw > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSW1GLn4V6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gMLIGH51mK"
    role="presentation"
    class="gp-group/image gMLIGH51mK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-f8da6868-b026-45b6-8e92-62c67be748b4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-f8da6868-b026-45b6-8e92-62c67be748b4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTgtNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOCIgaGVpZ2h0PSI3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4IiBoZWlnaHQ9IjcyIiBmaWxsPSJ1cmwoI2ctMTE4LTcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE4IiB0bz0iMTE4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_516802024675738699-f8da6868-b026-45b6-8e92-62c67be748b4.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:39px;--w-tablet:39px;--w-mobile:39px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
      <style id="custom-css-gMLIGH51mK">
        .gMLIGH51mK {

}
.gMLIGH51mK > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9QLLDXNWa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gv7DgcsKCE"
    role="presentation"
    class="gp-group/image gv7DgcsKCE gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-25d45a38-9a98-44ff-af15-5109e615c8a9.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-25d45a38-9a98-44ff-af15-5109e615c8a9.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-25d45a38-9a98-44ff-af15-5109e615c8a9.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:39px;--w-tablet:39px;--w-mobile:39px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
      <style id="custom-css-gv7DgcsKCE">
        .gv7DgcsKCE {

}
.gv7DgcsKCE > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTCWiKqVB8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0mf1Ls9Wy"
    role="presentation"
    class="gp-group/image g0mf1Ls9Wy gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-8f7cc2a2-c8e0-43f1-b060-6bdb6564b144.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-8f7cc2a2-c8e0-43f1-b060-6bdb6564b144.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-8f7cc2a2-c8e0-43f1-b060-6bdb6564b144.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:39px;--w-tablet:39px;--w-mobile:39px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
      <style id="custom-css-g0mf1Ls9Wy">
        .g0mf1Ls9Wy {

}
.g0mf1Ls9Wy > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqJhtSGAEW">
    <div
      parentTag="Col"
        class="gqJhtSGAEW "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqJhtSGAEW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g668TA-yHX" data-id="g668TA-yHX"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#FFFFFF;--bottom:156px;--bottom-mobile:42px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:fixed;--right:32px;--right-mobile:20px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--z:2;--z-tablet:2;--cg:8px;--pc:center;--gtc:minmax(0, auto);--w:50px;--w-tablet:48px;--w-mobile:42px;--bgc:#FE8C3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g668TA-yHX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdiUT6Oh6W gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="--bottom-mobile:42px;--bottom-tablet:156px;--pos-mobile:static;--pos-tablet:static;--right-mobile:20px;--right-tablet:32px">
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:left"
    
  >
    <style>
    .gCttAS3qx1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gCttAS3qx1:hover::before {
      
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gCttAS3qx1:hover .gp-button-icon {
      color: undefined;
    }

     .gCttAS3qx1 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gCttAS3qx1:hover .gp-button-price {
      color: undefined;
    }

    .gCttAS3qx1 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gCttAS3qx1 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gCttAS3qx1:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gV9gt-LTdY" target="_self" data-id="gCttAS3qx1" aria-label
      
      data-state="idle"
      class="gCttAS3qx1 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#FE8C3F;--bg:#00000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--w:48px;--w-tablet:48px;--w-mobile:40px;--h:48px;--h-tablet:48px;--h-mobile:40px;--pl:auto;--pr:auto;--pt:auto;--pb:auto;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:auto;--pb-mobile:auto;--c:var(--g-c-text-3, text-3);--size:22px;--size-tablet:22px;--size-mobile:22px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg data-id="517079858677810326" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.9994 16.5012C11.1817 16.5012 11.3566 16.4288 11.4855 16.2999C11.6145 16.1709 11.6869 15.9961 11.6869 15.8137V7.84835L14.6377 10.8005C14.7016 10.8644 14.7775 10.9151 14.861 10.9497C14.9445 10.9843 15.034 11.0021 15.1244 11.0021C15.2148 11.0021 15.3043 10.9843 15.3878 10.9497C15.4713 10.9151 15.5472 10.8644 15.6112 10.8005C15.6751 10.7366 15.7258 10.6607 15.7604 10.5772C15.795 10.4936 15.8128 10.4041 15.8128 10.3137C15.8128 10.2233 15.795 10.1338 15.7604 10.0503C15.7258 9.96678 15.6751 9.8909 15.6112 9.82698L11.4862 5.70198C11.4223 5.63795 11.3464 5.58716 11.2629 5.5525C11.1794 5.51784 11.0898 5.5 10.9994 5.5C10.909 5.5 10.8194 5.51784 10.7359 5.5525C10.6524 5.58716 10.5765 5.63795 10.5127 5.70198L6.38765 9.82698C6.25856 9.95607 6.18604 10.1312 6.18604 10.3137C6.18604 10.4963 6.25856 10.6714 6.38765 10.8005C6.51675 10.9296 6.69184 11.0021 6.8744 11.0021C7.05697 11.0021 7.23206 10.9296 7.36115 10.8005L10.3119 7.84835V15.8137C10.3119 15.9961 10.3843 16.1709 10.5133 16.2999C10.6422 16.4288 10.8171 16.5012 10.9994 16.5012Z" fill="white"/>
</svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:22px;--size-tablet:22px;--size-mobile:22px;--c:var(--g-c-text-3, text-3)"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gCttAS3qx1">
        button.gCttAS3qx1 {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-576529715452445635 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=576529696729072579&sectionId=576529715452445635)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggh7J0FQ5uD_text","label":"ggh7J0FQ5uD_text","default":"<p>2118 Thornridge Cir, Connecticut 35624</p>"},{"type":"html","id":"ggkER9iMZda_text","label":"ggkER9iMZda_text","default":"<p>hello.gempages@gmail.com</p>"},{"type":"html","id":"ggs5amWWMJm_text","label":"ggs5amWWMJm_text","default":"<p>0917-778-899</p>"},{"type":"html","id":"ggqJhtSGAEW_text","label":"ggqJhtSGAEW_text","default":"<p> 2024 GemPages</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
