

<style>@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');.gps-517103108946461478 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-517103108946461478 .gp-relative{position:relative}.gps-517103108946461478 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-517103108946461478 .gp-mb-0{margin-bottom:0}.gps-517103108946461478 .\!gp-inline{display:inline!important}.gps-517103108946461478 .gp-flex{display:flex}.gps-517103108946461478 .gp-grid{display:grid}.gps-517103108946461478 .\!gp-hidden{display:none!important}.gps-517103108946461478 .gp-hidden{display:none}.gps-517103108946461478 .gp-h-full{height:100%}.gps-517103108946461478 .gp-w-full{width:100%}.gps-517103108946461478 .gp-max-w-full{max-width:100%}.gps-517103108946461478 .gp-flex-col{flex-direction:column}.gps-517103108946461478 .gp-gap-y-0{row-gap:0}.gps-517103108946461478 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-517103108946461478 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-517103108946461478 .gp-duration-200{transition-duration:.2s}.gps-517103108946461478 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-517103108946461478 .tablet\:\!gp-hidden{display:none!important}.gps-517103108946461478 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-517103108946461478 .mobile\:\!gp-hidden{display:none!important}.gps-517103108946461478 .mobile\:gp-hidden{display:none}}.gps-517103108946461478 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-517103108946461478 .\[\&_p\]\:gp-inline p{display:inline}.gps-517103108946461478 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-517103108946461478 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g4YVDXk5hL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4YVDXk5hL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM7-ludH3H gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcTuSgc6E1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcTuSgc6E1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwos6hh9Ej gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1zC5cb2Lm "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1zC5cb2Lm_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="goVqWE-02S"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:840px;--w-tablet:840px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goVqWE-02S gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRol15ravk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="guO76OtF5n "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguO76OtF5n_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gw1JQVUuY4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gw1JQVUuY4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gook3VzYfO gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gtv5WmJ9RD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-8180ddbe-09c4-4022-b60e-622992e83537.gif" | file_url }}" width="770" height="433" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-8180ddbe-09c4-4022-b60e-622992e83537.gif" | file_url }}" data-srcset="{{ '432750572815254551-8180ddbe-09c4-4022-b60e-622992e83537.gif' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-8180ddbe-09c4-4022-b60e-622992e83537.gif' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-8180ddbe-09c4-4022-b60e-622992e83537.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="770" height="433" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gHlOSAmuwF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gQ8AApRBCU "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ8AApRBCU_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gWWaHmDlID "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWWaHmDlID_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g5vN3q7_eV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5vN3q7_eV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gNv8mJ5cAP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ggABqtHibi "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggABqtHibi_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gl9PCZJ_tf "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggl9PCZJ_tf_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gJOZzJKCLN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g7oWWWEHQY"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-69af1efc-9320-4974-a1d3-fcd8bc01117c.gif" | file_url }}" width="770" height="433" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-69af1efc-9320-4974-a1d3-fcd8bc01117c.gif" | file_url }}" data-srcset="{{ '432750572815254551-69af1efc-9320-4974-a1d3-fcd8bc01117c.gif' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-69af1efc-9320-4974-a1d3-fcd8bc01117c.gif' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-69af1efc-9320-4974-a1d3-fcd8bc01117c.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="770" height="433" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gCvEPtoGHU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCvEPtoGHU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gP7Z349iWn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gwWQdBcF7Z"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-246f451f-2f4d-4776-8757-48829434dc21.gif" | file_url }}" width="770" height="433" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-246f451f-2f4d-4776-8757-48829434dc21.gif" | file_url }}" data-srcset="{{ '432750572815254551-246f451f-2f4d-4776-8757-48829434dc21.gif' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-246f451f-2f4d-4776-8757-48829434dc21.gif' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-246f451f-2f4d-4776-8757-48829434dc21.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="770" height="433" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g87IdGF2Bx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUxeh7XjOy "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUxeh7XjOy_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gbIO3UZNG- "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbIO3UZNG-_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAAIhuz7k0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAAIhuz7k0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g4fAlHh2E_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ge1hd8f-uU "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gge1hd8f-uU_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gU7v8iGV7y "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggU7v8iGV7y_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gIsxMzZ7qt gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g4wJi_gK3B"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-3b4fda02-f428-468b-b960-8108cdee95ae.gif" | file_url }}" width="770" height="433" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-3b4fda02-f428-468b-b960-8108cdee95ae.gif" | file_url }}" data-srcset="{{ '432750572815254551-3b4fda02-f428-468b-b960-8108cdee95ae.gif' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-3b4fda02-f428-468b-b960-8108cdee95ae.gif' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-3b4fda02-f428-468b-b960-8108cdee95ae.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="770" height="433" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:770/433;--aspect-tablet:770/433;--aspect-mobile:770/433;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-517103108946461478 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=517103108778623782&sectionId=517103108946461478)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"gg1zC5cb2Lm_text","label":"gg1zC5cb2Lm_text","default":"<p>Product Feature Breakdown</p>"},{"type":"html","id":"gguO76OtF5n_text","label":"gguO76OtF5n_text","default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>"},{"type":"html","id":"ggQ8AApRBCU_text","label":"ggQ8AApRBCU_text","default":"<p>Headline About Product Benefit 1</p>"},{"type":"html","id":"ggWWaHmDlID_text","label":"ggWWaHmDlID_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>"},{"type":"html","id":"gggABqtHibi_text","label":"gggABqtHibi_text","default":"<p>Headline About Product Benefit 2</p>"},{"type":"html","id":"ggl9PCZJ_tf_text","label":"ggl9PCZJ_tf_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>"},{"type":"html","id":"ggUxeh7XjOy_text","label":"ggUxeh7XjOy_text","default":"<p>Headline About Product Benefit 3</p>"},{"type":"html","id":"ggbIO3UZNG-_text","label":"ggbIO3UZNG-_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>"},{"type":"html","id":"gge1hd8f-uU_text","label":"gge1hd8f-uU_text","default":"<p>Headline About Product Benefit 4</p>"},{"type":"html","id":"ggU7v8iGV7y_text","label":"ggU7v8iGV7y_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
