

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576529715217564191.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-576529715217564191.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576529715217564191.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-576529715217564191.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576529715217564191.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576529715217564191.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576529715217564191.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576529715217564191.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576529715217564191.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576529715217564191.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576529715217564191.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-576529715217564191.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-576529715217564191.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576529715217564191.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-576529715217564191.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-576529715217564191.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-576529715217564191.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576529715217564191.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-576529715217564191.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-576529715217564191.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-576529715217564191.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576529715217564191.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576529715217564191.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576529715217564191.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576529715217564191.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-576529715217564191.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-576529715217564191.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-576529715217564191.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-576529715217564191.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576529715217564191.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576529715217564191.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576529715217564191.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-576529715217564191.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-576529715217564191.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576529715217564191.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576529715217564191.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-576529715217564191.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-576529715217564191.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-576529715217564191.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576529715217564191.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576529715217564191.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576529715217564191.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576529715217564191.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576529715217564191.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576529715217564191.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576529715217564191.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576529715217564191.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576529715217564191.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-576529715217564191.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576529715217564191.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576529715217564191.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-576529715217564191.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-576529715217564191.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-576529715217564191.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576529715217564191.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-576529715217564191.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-576529715217564191.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-576529715217564191.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-576529715217564191.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-576529715217564191.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576529715217564191.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576529715217564191.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-576529715217564191.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-576529715217564191.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-576529715217564191.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-576529715217564191.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-576529715217564191.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-576529715217564191.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-576529715217564191.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576529715217564191.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576529715217564191.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-576529715217564191.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-576529715217564191.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-576529715217564191.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-576529715217564191.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-576529715217564191.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-576529715217564191.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576529715217564191.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576529715217564191.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-576529715217564191.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-576529715217564191.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-576529715217564191 .gp-relative{position:relative}.gps-576529715217564191 .gp-z-1{z-index:1}.gps-576529715217564191 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576529715217564191 .gp-mb-0{margin-bottom:0}.gps-576529715217564191 .gp-flex{display:flex}.gps-576529715217564191 .gp-inline-flex{display:inline-flex}.gps-576529715217564191 .gp-grid{display:grid}.gps-576529715217564191 .gp-contents{display:contents}.gps-576529715217564191 .\!gp-hidden{display:none!important}.gps-576529715217564191 .gp-hidden{display:none}.gps-576529715217564191 .gp-h-auto{height:auto}.gps-576529715217564191 .gp-h-full{height:100%}.gps-576529715217564191 .gp-w-full{width:100%}.gps-576529715217564191 .gp-max-w-full{max-width:100%}.gps-576529715217564191 .gp-flex-none{flex:none}.gps-576529715217564191 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576529715217564191 .gp-flex-col{flex-direction:column}.gps-576529715217564191 .gp-items-center{align-items:center}.gps-576529715217564191 .gp-justify-center{justify-content:center}.gps-576529715217564191 .gp-gap-y-0{row-gap:0}.gps-576529715217564191 .gp-overflow-hidden{overflow:hidden}.gps-576529715217564191 .gp-break-words{overflow-wrap:break-word}.gps-576529715217564191 .gp-rounded-none{border-radius:0}.gps-576529715217564191 .gp-text-center{text-align:center}.gps-576529715217564191 .gp-leading-\[0\]{line-height:0}.gps-576529715217564191 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-576529715217564191 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-576529715217564191 .gp-no-underline{text-decoration-line:none}.gps-576529715217564191 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715217564191 .gp-duration-200{transition-duration:.2s}.gps-576529715217564191 .gp-duration-300{transition-duration:.3s}.gps-576529715217564191 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576529715217564191 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-576529715217564191 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-576529715217564191 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-576529715217564191 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-576529715217564191 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-576529715217564191 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-576529715217564191 .tablet\:\!gp-hidden{display:none!important}.gps-576529715217564191 .tablet\:gp-hidden{display:none}.gps-576529715217564191 .tablet\:gp-h-auto{height:auto}.gps-576529715217564191 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-576529715217564191 .mobile\:\!gp-hidden{display:none!important}.gps-576529715217564191 .mobile\:gp-hidden{display:none}.gps-576529715217564191 .mobile\:gp-h-auto{height:auto}.gps-576529715217564191 .mobile\:gp-flex-none{flex:none}}.gps-576529715217564191 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-576529715217564191 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-576529715217564191 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-576529715217564191 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-576529715217564191 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-576529715217564191 .\[\&_p\]\:gp-inline p{display:inline}.gps-576529715217564191 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-576529715217564191 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-576529715217564191 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkpGEfiolU" data-id="gkpGEfiolU"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAEFDE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkpGEfiolU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMXmdd9OYC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gFehKrF9OK" data-id="gFehKrF9OK"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFehKrF9OK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ_KjzRb7Y gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLddyPA3pc" data-id="gLddyPA3pc"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pr:48px;--mb-mobile:28px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLddyPA3pc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSSBbDL1-H gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcRCcLJMmB">
    <div
      parentTag="Col"
        class="gcRCcLJMmB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:48px;--pt:0px;--mb-mobile:42px;--mb-tablet:48px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcRCcLJMmB_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g92IxC7H3o" data-id="g92IxC7H3o"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:10px;--cg:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g92IxC7H3o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gs_gp8T_U8 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gv4mlz1Dh9"
    >
      <div 
      data-id="gv4mlz1Dh9"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:24px;--h:30px;--h-tablet:30px;--h-mobile:24px;--minw:30px;--minw-tablet:30px;--minw-mobile:24px;--height-desktop:30px;--height-tablet:30px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="517115327675368598" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
<path d="M22.4962 21.1031C22.3987 21.1031 22.2993 21.0722 22.2149 21.0084C22.0077 20.8528 21.9665 20.5594 22.1221 20.3522C23.2893 18.8006 23.9062 16.9509 23.9062 15.0037C23.9062 14.3925 23.8434 13.7803 23.7196 13.185C23.6671 12.9309 23.8302 12.6834 24.0833 12.6309C24.3355 12.5784 24.5849 12.7415 24.6374 12.9947C24.7743 13.6528 24.8437 14.3287 24.8437 15.0037C24.8437 17.1553 24.1612 19.2009 22.8712 20.9165C22.7784 21.0394 22.6377 21.1031 22.4962 21.1031Z" fill="#242424"/>
<path d="M5.8275 17.4266C5.61094 17.4266 5.41594 17.2747 5.36906 17.0544C5.22844 16.3822 5.15625 15.6922 5.15625 15.0041C5.15625 12.8619 5.83219 10.8247 7.11187 9.11474C7.26656 8.90661 7.56094 8.86349 7.76813 9.02005C7.97531 9.17567 8.01844 9.46911 7.86281 9.6763C6.705 11.2232 6.09375 13.0654 6.09375 15.0041C6.09375 15.6275 6.15844 16.2529 6.28687 16.8613C6.34031 17.1144 6.17813 17.3629 5.925 17.4163C5.89219 17.4238 5.85938 17.4266 5.8275 17.4266Z" fill="#242424"/>
<path d="M16.4062 19.6914H13.5938C13.335 19.6914 13.125 19.4814 13.125 19.2227V16.8789H10.7812C10.5225 16.8789 10.3125 16.6689 10.3125 16.4102V13.5977C10.3125 13.3389 10.5225 13.1289 10.7812 13.1289H13.125V10.7852C13.125 10.5264 13.335 10.3164 13.5938 10.3164H16.4062C16.665 10.3164 16.875 10.5264 16.875 10.7852V13.1289H19.2188C19.4775 13.1289 19.6875 13.3389 19.6875 13.5977V16.4102C19.6875 16.6689 19.4775 16.8789 19.2188 16.8789H16.875V19.2227C16.875 19.4814 16.665 19.6914 16.4062 19.6914ZM14.0625 18.7539H15.9375V16.4102C15.9375 16.1514 16.1475 15.9414 16.4062 15.9414H18.75V14.0664H16.4062C16.1475 14.0664 15.9375 13.8564 15.9375 13.5977V11.2539H14.0625V13.5977C14.0625 13.8564 13.8525 14.0664 13.5938 14.0664H11.25V15.9414H13.5938C13.8525 15.9414 14.0625 16.1514 14.0625 16.4102V18.7539Z" fill="#242424"/>
<path d="M17.0072 28.1292H12.0938C11.1778 28.1292 10.2834 27.9249 9.435 27.5217L6.15094 25.9261C5.30906 25.5221 4.41188 25.3167 3.48844 25.3167H1.40625C1.1475 25.3167 0.9375 25.1067 0.9375 24.848C0.9375 24.5892 1.1475 24.3792 1.40625 24.3792H3.48844C4.55344 24.3792 5.58656 24.6155 6.55875 25.0824L9.84188 26.6771C10.56 27.0174 11.3184 27.1917 12.0938 27.1917H16.9134L21.0075 25.5024C21.0075 25.463 21.0628 25.1002 20.8828 24.7917C20.6081 24.3192 19.9734 24.3042 19.4925 24.3746C18.7941 24.4824 18.2166 24.6764 17.7075 24.848L17.5144 24.9127C17.2678 24.9924 17.0034 24.8621 16.9219 24.6155C16.8403 24.3699 16.9734 24.1046 17.2191 24.023L17.4084 23.9602C17.9541 23.7764 18.5719 23.5683 19.3538 23.4483C21.2869 23.1671 21.7697 24.3746 21.8738 24.7505C22.0453 25.3702 21.9028 26.1455 21.3675 26.3696L17.1853 28.0955C17.1291 28.1171 17.0681 28.1292 17.0072 28.1292Z" fill="#242424"/>
<path d="M10.9078 21.4515C10.7316 21.4515 10.5619 21.3512 10.4822 21.1806C9.56344 19.2034 7.17656 18.9203 5.40188 19.6562C5.34469 19.6796 5.28375 19.6918 5.22188 19.6918H1.40625C1.1475 19.6918 0.9375 19.4818 0.9375 19.2231C0.9375 18.9643 1.1475 18.7543 1.40625 18.7543H5.13094C7.66875 17.7465 10.3209 18.6118 11.3334 20.7859C11.4422 21.0203 11.3409 21.2996 11.1056 21.4093C11.0409 21.4375 10.9744 21.4515 10.9078 21.4515Z" fill="#242424"/>
<path d="M15.3505 25.9001C15.2895 25.9001 15.2286 25.8879 15.1714 25.8644L9.80329 23.636C9.56422 23.5366 9.45079 23.2629 9.55016 23.0229C9.64954 22.7838 9.92422 22.6713 10.1633 22.7698L15.0598 24.8023C15.2652 23.8357 14.7364 23.0838 13.4802 22.5635L10.7211 21.4179C10.482 21.3185 10.3686 21.0438 10.468 20.8048C10.5673 20.5657 10.842 20.4523 11.0811 20.5516L13.8392 21.6973C15.7714 22.4979 16.4802 23.9238 15.7836 25.6085C15.7358 25.7238 15.6448 25.8157 15.5295 25.8626C15.4723 25.8879 15.4114 25.9001 15.3505 25.9001Z" fill="#242424"/>
<path d="M10.0979 6.60297C8.62325 6.60297 8.22013 5.59609 8.12638 5.25859C7.95482 4.63891 8.09732 3.86359 8.63263 3.63953L12.8148 1.91359C12.8711 1.89109 12.932 1.87891 12.9929 1.87891H17.9054C18.8214 1.87891 19.7158 2.08328 20.5642 2.48641L23.8483 4.08203C24.6911 4.48609 25.5883 4.69141 26.5117 4.69141H28.5939C28.8526 4.69141 29.0626 4.90141 29.0626 5.16016C29.0626 5.41891 28.8526 5.62891 28.5939 5.62891H26.5117C25.4467 5.62891 24.4136 5.39266 23.4414 4.92578L20.1583 3.33203C19.4401 2.99078 18.6817 2.81641 17.9064 2.81641H13.0867L8.99169 4.50578C8.99169 4.54516 8.93638 4.90797 9.11638 5.21641C9.392 5.68891 10.0248 5.70391 10.5067 5.63359C11.2051 5.52578 11.7826 5.33172 12.2917 5.16016L12.4848 5.09547C12.7314 5.01484 12.9958 5.14609 13.0773 5.39266C13.1589 5.63828 13.0258 5.90359 12.7801 5.98516L12.5908 6.04797C12.0451 6.23172 11.4273 6.43984 10.6454 6.55984C10.4486 6.58984 10.2658 6.60297 10.0979 6.60297Z" fill="#242424"/>
<path d="M22.743 11.6704C20.9711 11.6704 19.3942 10.7854 18.6667 9.22163C18.558 8.98726 18.6592 8.70788 18.8945 8.59819C19.1298 8.48944 19.4083 8.59163 19.518 8.82601C20.4358 10.8023 22.8217 11.0844 24.5983 10.3504C24.6555 10.3279 24.7164 10.3157 24.7783 10.3157H28.5939C28.8526 10.3157 29.0626 10.5257 29.0626 10.7844C29.0626 11.0432 28.8526 11.2532 28.5939 11.2532H24.8692C24.1567 11.5354 23.4348 11.6704 22.743 11.6704Z" fill="#242424"/>
<path d="M19.0989 9.49145C19.0389 9.49145 18.9779 9.4802 18.9189 9.45582L16.1607 8.3102C14.2286 7.50957 13.5198 6.08363 14.2164 4.39895C14.2642 4.28363 14.3551 4.19176 14.4704 4.14488C14.5857 4.09801 14.7142 4.09707 14.8295 4.14488L20.1976 6.37332C20.4367 6.4727 20.5501 6.74645 20.4507 6.98645C20.3514 7.22645 20.0786 7.33801 19.8376 7.23957L14.9411 5.20707C14.7357 6.17363 15.2645 6.92551 16.5207 7.44582L19.2798 8.59145C19.5189 8.69082 19.6323 8.96551 19.5329 9.20457C19.457 9.3827 19.2826 9.49145 19.0989 9.49145Z" fill="#242424"/>
<path d="M21.1077 22.5363C20.9877 22.5363 20.8677 22.4904 20.7758 22.3995C20.593 22.2166 20.593 21.9195 20.7758 21.7366C20.9595 21.5538 21.2886 21.521 21.4714 21.7038C21.6542 21.8866 21.687 22.151 21.5042 22.3338L21.4386 22.3995C21.3477 22.4904 21.2277 22.5363 21.1077 22.5363Z" fill="#242424"/>
<path d="M8.92005 8.47591C8.79911 8.47591 8.67818 8.42903 8.5863 8.33622C8.40443 8.15153 8.4063 7.85528 8.59099 7.67341L8.65755 7.60778C8.8413 7.42591 9.13849 7.42778 9.32036 7.61247C9.50224 7.79716 9.50036 8.09341 9.31568 8.27528L9.24911 8.34091C9.15818 8.43091 9.03911 8.47591 8.92005 8.47591Z" fill="#242424"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gq9E7sJ7BC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gd048rmFUB">
    <div
      parentTag="Col"
        class="gd048rmFUB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggd048rmFUB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gd048rmFUB">
        .gd048rmFUB {

}
.gd048rmFUB p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSpRXkQ_R6">
    <div
      parentTag="Col"
        class="gSpRXkQ_R6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:32px;--mt-mobile:0px;--mb-mobile:28px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSpRXkQ_R6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSpRXkQ_R6">
        .gSpRXkQ_R6 {

}
.gSpRXkQ_R6 p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gtAJWFQ8wH" data-id="gtAJWFQ8wH"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:10px;--cg:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtAJWFQ8wH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCMf2SfRRN gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gvpa7CgR1F"
    >
      <div 
      data-id="gvpa7CgR1F"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:24px;--h:30px;--h-tablet:30px;--h-mobile:24px;--minw:30px;--minw-tablet:30px;--minw-mobile:24px;--height-desktop:30px;--height-tablet:30px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="517116285872506006" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
<mask id="mask0_368_3548" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="28" height="29">
<path d="M1 1.0039H29V29.0039H1V1.0039Z" fill="white"/>
</mask>
<g mask="url(#mask0_368_3548)">
<path d="M8.14515 5.35841L6.5013 4.55264C6.21818 4.41385 5.87737 4.55412 5.77407 4.85206L5.38956 5.96041C5.28626 6.25835 5.46689 6.57953 5.77522 6.64586L7.56497 7.03114C7.82436 7.08697 8.08461 6.94057 8.17157 6.68989L8.41017 6.00203C8.49712 5.75134 8.38337 5.47517 8.14515 5.35841Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.5945 3.16664L9.57379 1.64687C9.39797 1.38508 9.03266 1.33625 8.79422 1.54258L7.90708 2.31023C7.66864 2.51657 7.66454 2.88505 7.89833 3.09664L9.25567 4.32514C9.45233 4.5032 9.75098 4.50653 9.95163 4.3329L10.5022 3.85652C10.7028 3.68289 10.7425 3.38692 10.5945 3.16664Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.79469 8.5339L5.96819 8.65798C5.65357 8.67937 5.42858 8.97129 5.48808 9.28093L5.7093 10.4331C5.76874 10.7427 6.08582 10.9305 6.386 10.8339L8.12851 10.2726C8.38111 10.1913 8.5333 9.93434 8.48332 9.6738L8.346 8.95882C8.29596 8.69823 8.05944 8.51591 7.79469 8.5339Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.4349 7.03114L24.2246 6.64586C24.5329 6.57947 24.7136 6.25829 24.6102 5.96036L24.2257 4.85201C24.1223 4.55412 23.7816 4.41379 23.4985 4.55259L21.8547 5.35841C21.6163 5.47517 21.5027 5.75134 21.5896 6.00203L21.8282 6.68989C21.9152 6.94052 22.1755 7.08697 22.4349 7.03114Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.8696 10.2727L23.6122 10.8339C23.9124 10.9305 24.2294 10.7427 24.2888 10.433L24.51 9.28093C24.5695 8.97123 24.3446 8.67937 24.0299 8.65798L22.2034 8.53395C21.9387 8.51591 21.7022 8.69823 21.6521 8.95882L21.5149 9.67381C21.4648 9.93439 21.617 10.1914 21.8696 10.2727Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.7425 4.32514L22.0998 3.09664C22.3337 2.885 22.3295 2.51651 22.091 2.31017L21.2039 1.54258C20.9654 1.33625 20.6001 1.38508 20.4244 1.64687L19.4037 3.16664C19.2557 3.38692 19.2953 3.68294 19.496 3.85652L20.0465 4.3329C20.2472 4.50653 20.5458 4.5032 20.7425 4.32514Z" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.6089 5.28695L16.9298 5.75508L19.796 6.6C19.9935 6.65852 20.0706 6.89641 19.9454 7.05992L18.1231 9.42789L18.1292 9.64062" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.1139 11.7416L14.999 11.7006L12.1837 12.7014C11.9896 12.7708 11.7872 12.6232 11.7927 12.4175L11.8748 9.43051L10.0525 7.06254C9.92729 6.89903 10.0044 6.66114 10.2019 6.60262L13.068 5.7577L14.7573 3.29293C14.8738 3.1234 15.1242 3.1234 15.2407 3.29293L15.4902 3.65715" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.86523 27.4731H14.3394L14.8344 27.9186C15.317 28.3541 15.9419 28.5938 16.5919 28.5938H23.0904C23.9008 28.5938 24.5579 27.9367 24.5579 27.1262C24.5579 26.3157 23.9008 25.6587 23.0904 25.6587H23.6376C24.4436 25.6587 25.097 25.0054 25.097 24.1994C25.097 23.3934 24.4436 22.7401 23.6376 22.7401H24.0166C24.8944 22.7401 25.606 22.0284 25.606 21.1506C25.606 20.2727 24.8944 19.561 24.0166 19.561H23.8092C24.8015 19.561 25.606 18.7565 25.606 17.7641C25.606 16.7717 24.8015 15.9672 23.8092 15.9672H22.1034" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.1188 15.9681H18.1634L19.0882 13.8246C19.1308 13.7259 19.1638 13.6234 19.1868 13.5184L19.3716 12.6744C19.7326 11.026 18.4773 9.46612 16.7899 9.46612C16.2715 9.46612 15.8169 9.81229 15.6789 10.3121L14.9904 12.8075L12.282 17.6523H9.86523" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17.9995 15.9648H16.3193" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.6449 19.5586H22.0659" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.4727 22.7383H21.7358" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.9256 25.6562H21.0771" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M4.39258 28.5938H9.00645C9.32911 28.5938 9.59063 28.3322 9.59063 28.0096V21.5872" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.59111 19.6016V17.1578C9.59111 16.8352 9.3296 16.5736 9.00694 16.5736H4.39307" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.01514 26.9922H6.63885" stroke="#242424" stroke-width="0.9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giiS9T95T3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gErVV8DY_6">
    <div
      parentTag="Col"
        class="gErVV8DY_6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggErVV8DY_6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gErVV8DY_6">
        .gErVV8DY_6 {

}
.gErVV8DY_6 p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guPJliY-ls">
    <div
      parentTag="Col"
        class="guPJliY-ls "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:32px;--mt-mobile:0px;--mb-mobile:28px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguPJliY-ls_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-guPJliY-ls">
        .guPJliY-ls {

}
.guPJliY-ls p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gCGK6t8tpL" data-id="gCGK6t8tpL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:10px;--cg:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCGK6t8tpL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gs2CJ3CGaS gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gYHf_hyEjg"
    >
      <div 
      data-id="gYHf_hyEjg"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:24px;--h:30px;--h-tablet:30px;--h-mobile:24px;--minw:30px;--minw-tablet:30px;--minw-mobile:24px;--height-desktop:30px;--height-tablet:30px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="517115358545446038" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
<path d="M15.0001 1.95312C9.40988 1.95312 4.86963 6.49649 4.86963 12.0868C4.86963 17.677 9.40988 22.2173 15.0001 22.2173C20.5904 22.2173 25.1307 17.677 25.1307 12.0868C25.1307 6.49649 20.5904 1.95312 15.0001 1.95312ZM15.0001 2.79759C20.1341 2.79759 24.2862 6.95276 24.2862 12.0868C24.2862 17.2207 20.1341 21.3728 15.0001 21.3728C9.86615 21.3728 5.7141 17.2207 5.7141 12.0868C5.7141 6.95276 9.86615 2.79759 15.0001 2.79759Z" fill="#242424"/>
<path d="M15.0004 4.48438C10.809 4.48437 7.40332 7.89315 7.40332 12.0846C7.40332 16.276 10.809 19.6817 15.0004 19.6817C19.1919 19.6817 22.5975 16.276 22.5975 12.0846C22.5975 7.89315 19.1919 4.48438 15.0004 4.48438ZM15.0004 5.32884C18.7356 5.32884 21.7531 8.34942 21.7531 12.0846C21.7531 15.8198 18.7356 18.8372 15.0004 18.8372C11.2652 18.8372 8.24467 15.8198 8.24467 12.0846C8.24467 8.34942 11.2652 5.32884 15.0004 5.32884Z" fill="#242424"/>
<path d="M7.02009 17.8867L3.05639 24.7515C3.01631 24.8218 2.99729 24.9022 3.00157 24.983C3.00585 25.0638 3.03326 25.1416 3.08054 25.2073C3.12782 25.273 3.19297 25.3237 3.26825 25.3533C3.34352 25.383 3.42573 25.3905 3.50511 25.3748L7.5436 24.577L8.87107 28.4753C8.89705 28.5524 8.94477 28.6204 9.00848 28.671C9.07218 28.7217 9.14917 28.7528 9.23016 28.7607C9.31115 28.7686 9.39271 28.7529 9.465 28.7156C9.53729 28.6782 9.59724 28.6207 9.63764 28.5501L13.5203 21.8255L12.788 21.4017L9.36965 27.3192L8.22292 23.9538C8.18985 23.8575 8.12305 23.7763 8.03486 23.7254C7.94667 23.6744 7.84302 23.657 7.74304 23.6765L4.25298 24.3651L7.74927 18.3105L7.02009 17.8867Z" fill="#242424"/>
<path d="M22.9812 17.8867L22.252 18.3105L25.7483 24.3651L22.2582 23.6765C22.1583 23.657 22.0546 23.6744 21.9664 23.7254C21.8782 23.7763 21.8114 23.8575 21.7784 23.9538L20.6316 27.3192L17.2132 21.4017L16.481 21.8255L20.3636 28.5501C20.404 28.6207 20.464 28.6782 20.5363 28.7156C20.6086 28.7529 20.6901 28.7686 20.7711 28.7607C20.8521 28.7528 20.9291 28.7217 20.9928 28.671C21.0565 28.6204 21.1042 28.5524 21.1302 28.4753L22.4577 24.577L26.4962 25.3748C26.5755 25.3905 26.6578 25.383 26.733 25.3534C26.8083 25.3237 26.8735 25.273 26.9207 25.2073C26.968 25.1416 26.9954 25.0638 26.9997 24.983C27.004 24.9022 26.985 24.8218 26.9449 24.7515L22.9812 17.8867Z" fill="#242424"/>
<path d="M15.0006 7.38281C14.701 7.38281 14.6499 7.5139 14.5705 7.59471C14.1092 8.12795 13.4887 9.22581 13.2586 9.58903C12.4825 9.78318 11.6582 9.94359 10.9589 10.2185C10.8575 10.269 10.7181 10.2795 10.6255 10.5644C10.533 10.8492 10.6386 10.9375 10.691 11.038C11.031 11.6076 11.9975 12.6779 12.1836 12.9015C12.1364 13.7514 12.0193 14.5173 12.0714 15.2822C12.0882 15.3942 12.0535 15.5299 12.2958 15.706C12.5381 15.882 12.6577 15.8088 12.7694 15.7901C13.4341 15.6292 14.6275 15.0972 15.0006 14.9487C15.7493 15.2334 16.4938 15.6 17.2317 15.7901C17.3435 15.8088 17.463 15.882 17.7054 15.706C17.9477 15.5299 17.913 15.3942 17.9297 15.2822C17.9862 14.6235 17.8369 13.1907 17.8175 12.9015C18.2489 12.3969 18.7107 11.8562 19.1169 11.3372C19.349 11.0853 19.4434 10.8176 19.3756 10.5644C19.3077 10.311 19.1436 10.269 19.0422 10.2185C18.2968 9.9231 17.5067 9.78194 16.7425 9.58903C16.3029 8.9181 15.917 8.1823 15.4306 7.59471C15.3512 7.5139 15.3001 7.38281 15.0006 7.38281ZM15.0006 8.40802C15.3713 8.94924 15.6823 9.49949 16.0351 10.0377C16.0921 10.118 16.1119 10.1733 16.247 10.2715C16.3821 10.3696 16.4367 10.3699 16.5306 10.3992C17.1618 10.5677 17.7777 10.7048 18.4002 10.8791C18.0047 11.4024 17.5737 11.8656 17.1725 12.3686C17.1138 12.4476 17.0683 12.4809 17.0167 12.6397C16.9651 12.7985 16.9813 12.8529 16.9824 12.9513C17.0137 13.6052 17.0745 14.2333 17.1039 14.8802C16.403 14.6376 15.6544 14.2444 15.0006 14.1043C14.8336 14.1043 14.7884 14.1383 14.6952 14.1697C14.083 14.4009 13.5031 14.6527 12.8972 14.8802C12.9178 14.2233 12.9889 13.5955 13.0187 12.9513C13.0198 12.8529 13.036 12.7985 12.9844 12.6397C12.9328 12.4809 12.8873 12.4476 12.8286 12.3686C12.4282 11.8642 11.9538 11.3285 11.6009 10.8791C12.2298 10.6931 12.8493 10.5665 13.4705 10.3992C13.5645 10.3699 13.619 10.3696 13.7541 10.2715C13.8892 10.1733 13.9091 10.118 13.966 10.0377C14.1886 9.70966 14.4058 9.34208 14.5955 9.03124C14.7408 8.79489 14.8822 8.57474 15.0006 8.40802Z" fill="#242424"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfzE0RLmgo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs8-pebS6m">
    <div
      parentTag="Col"
        class="gs8-pebS6m "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggs8-pebS6m_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gs8-pebS6m">
        .gs8-pebS6m {

}
.gs8-pebS6m p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRkA8g9tnu">
    <div
      parentTag="Col"
        class="gRkA8g9tnu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--mt-mobile:0px;--mb-mobile:42px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRkA8g9tnu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRkA8g9tnu">
        .gRkA8g9tnu {

}
.gRkA8g9tnu p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gZ9Fx6vwUj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gZ9Fx6vwUj:hover::before {
      
      
    }

    .gZ9Fx6vwUj:hover .gp-button-icon {
      color: undefined;
    }

     .gZ9Fx6vwUj .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gZ9Fx6vwUj:hover .gp-button-price {
      color: undefined;
    }

    .gZ9Fx6vwUj .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gZ9Fx6vwUj .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gZ9Fx6vwUj:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gAB4hwEOR4" target="_self" data-id="gZ9Fx6vwUj" aria-label="Shop Now"
      
      data-state="idle"
      class="gZ9Fx6vwUj gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#FF7A21;--bg:#FE8C3F;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:6.735557395310443e-16px 11px 11px 0px rgba(96, 77, 62, 0.09);--w:278px;--w-tablet:278px;--w-mobile:100%;--h:53px;--h-tablet:53px;--h-mobile:46px;--pl:8px;--pr:8px;--pt:auto;--pb:auto;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:auto;--pb-mobile:auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggZ9Fx6vwUj_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gZ9Fx6vwUj">
        button.gZ9Fx6vwUj {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUCcYmZ1HF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g3gAGHBBjZ"
    role="presentation"
    class="gp-group/image g3gAGHBBjZ gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-d2a12b48-9e41-4b52-a8f9-ff391ee46c34.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE3NTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTc1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNzU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-d2a12b48-9e41-4b52-a8f9-ff391ee46c34.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE3NTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTc1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNzU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE3NTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTc1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNzU1IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNzU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_516802024675738699-d2a12b48-9e41-4b52-a8f9-ff391ee46c34.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g3gAGHBBjZ">
        .g3gAGHBBjZ {

}
.g3gAGHBBjZ > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-576529715217564191 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=576529696729072579&sectionId=576529715217564191)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcRCcLJMmB_text","label":"ggcRCcLJMmB_text","default":"3 Reasons to Choose Our"},{"type":"html","id":"ggd048rmFUB_text","label":"ggd048rmFUB_text","default":"<p>Health and Well-being</p>"},{"type":"html","id":"ggSpRXkQ_R6_text","label":"ggSpRXkQ_R6_text","default":"<p>The nutritional supplement bottle offers a convenient and reliable way to support overall health and well-being by providing essential nutrients and vitamins for optimal vitality.</p>"},{"type":"html","id":"ggErVV8DY_6_text","label":"ggErVV8DY_6_text","default":"<p>Convenience and Ease of Use</p>"},{"type":"html","id":"gguPJliY-ls_text","label":"gguPJliY-ls_text","default":"<p>The nutritional supplement bottle provides a convenient and effortless solution for busy individuals to maintain a healthy lifestyle without the need for complex meal planning or preparation.</p>"},{"type":"html","id":"ggs8-pebS6m_text","label":"ggs8-pebS6m_text","default":"<p>Trust and Reputation</p>"},{"type":"html","id":"ggRkA8g9tnu_text","label":"ggRkA8g9tnu_text","default":"<p>Trust and confidence in the nutritional supplement bottle's effectiveness and safety are reinforced by positive reviews, testimonials, and recommendations, influencing customer choice.</p>"},{"type":"html","id":"ggZ9Fx6vwUj_label","label":"ggZ9Fx6vwUj_label","default":"Shop Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
