
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578388410935280581.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578388410935280581.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578388410935280581.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-578388410935280581.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578388410935280581.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578388410935280581.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-578388410935280581.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578388410935280581.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578388410935280581.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578388410935280581.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578388410935280581.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-578388410935280581.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-578388410935280581.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-578388410935280581.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-578388410935280581.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578388410935280581.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-578388410935280581.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-578388410935280581.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-578388410935280581.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-578388410935280581.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-578388410935280581.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-578388410935280581.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578388410935280581.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578388410935280581.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-578388410935280581.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-578388410935280581.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578388410935280581.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-578388410935280581.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-578388410935280581.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578388410935280581.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-578388410935280581.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-578388410935280581.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578388410935280581.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-578388410935280581.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578388410935280581.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-578388410935280581.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578388410935280581.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578388410935280581.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578388410935280581.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578388410935280581.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-578388410935280581.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578388410935280581.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578388410935280581.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578388410935280581.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-578388410935280581.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578388410935280581.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578388410935280581.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578388410935280581.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578388410935280581.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578388410935280581.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-578388410935280581.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-578388410935280581.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578388410935280581.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578388410935280581.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578388410935280581.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578388410935280581.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578388410935280581.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578388410935280581.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578388410935280581.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578388410935280581.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578388410935280581.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578388410935280581.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-578388410935280581.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-578388410935280581.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-578388410935280581.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578388410935280581.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578388410935280581.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-578388410935280581.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578388410935280581.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-578388410935280581.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-578388410935280581.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-578388410935280581.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-578388410935280581.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-578388410935280581.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-578388410935280581.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-578388410935280581.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-578388410935280581.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578388410935280581.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-578388410935280581.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578388410935280581.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578388410935280581.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578388410935280581.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578388410935280581.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578388410935280581.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-578388410935280581.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-578388410935280581.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578388410935280581.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578388410935280581.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578388410935280581.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578388410935280581.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578388410935280581.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-578388410935280581.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-578388410935280581 .gp-pointer-events-none{pointer-events:none}.gps-578388410935280581 .gp-absolute{position:absolute}.gps-578388410935280581 .gp-relative{position:relative}.gps-578388410935280581 .gp-inset-0{inset:0}.gps-578388410935280581 .gp-z-1{z-index:1}.gps-578388410935280581 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578388410935280581 .gp-mb-0{margin-bottom:0}.gps-578388410935280581 .gp-inline-block{display:inline-block}.gps-578388410935280581 .gp-flex{display:flex}.gps-578388410935280581 .gp-inline-flex{display:inline-flex}.gps-578388410935280581 .gp-grid{display:grid}.gps-578388410935280581 .gp-contents{display:contents}.gps-578388410935280581 .\!gp-hidden{display:none!important}.gps-578388410935280581 .gp-hidden{display:none}.gps-578388410935280581 .gp-h-auto{height:auto}.gps-578388410935280581 .gp-h-full{height:100%}.gps-578388410935280581 .gp-w-full{width:100%}.gps-578388410935280581 .gp-w-max{width:-moz-max-content;width:max-content}.gps-578388410935280581 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-578388410935280581 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-578388410935280581 .gp-max-w-full{max-width:100%}.gps-578388410935280581 .gp-flex-1{flex:1 1 0%}.gps-578388410935280581 .gp-flex-none{flex:none}.gps-578388410935280581 .gp-cursor-pointer{cursor:pointer}.gps-578388410935280581 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578388410935280581 .gp-flex-col{flex-direction:column}.gps-578388410935280581 .gp-flex-wrap{flex-wrap:wrap}.gps-578388410935280581 .gp-items-center{align-items:center}.gps-578388410935280581 .gp-justify-center{justify-content:center}.gps-578388410935280581 .gp-overflow-hidden{overflow:hidden}.gps-578388410935280581 .gp-break-words{overflow-wrap:break-word}.gps-578388410935280581 .gp-text-center{text-align:center}.gps-578388410935280581 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-578388410935280581 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-578388410935280581 .gp-no-underline{text-decoration-line:none}.gps-578388410935280581 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578388410935280581 .gp-duration-200{transition-duration:.2s}.gps-578388410935280581 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578388410935280581 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-578388410935280581 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-578388410935280581 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-578388410935280581 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-578388410935280581 .tablet\:\!gp-hidden{display:none!important}.gps-578388410935280581 .tablet\:gp-hidden{display:none}.gps-578388410935280581 .tablet\:gp-h-auto{height:auto}.gps-578388410935280581 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-578388410935280581 .mobile\:\!gp-hidden{display:none!important}.gps-578388410935280581 .mobile\:gp-hidden{display:none}.gps-578388410935280581 .mobile\:gp-h-auto{height:auto}.gps-578388410935280581 .mobile\:gp-flex-none{flex:none}}.gps-578388410935280581 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-578388410935280581 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gk13ohD7pb"}' data-id="gk13ohD7pb" id="gk13ohD7pb" data-same-height-subgrid-container class="gk13ohD7pb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmgqvQoxba gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F1F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g32ty7s_Xb"}' data-id="g32ty7s_Xb" id="g32ty7s_Xb" data-same-height-subgrid-container class="g32ty7s_Xb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:30px;--pb-mobile:20px;--pr-mobile:30px;--cg:30px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#F2F1F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o:0;--o-mobile:1"
      class="gJgtpJ-eOf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gL1TiDyAaZ"}' data-id="gL1TiDyAaZ" id="gL1TiDyAaZ" data-same-height-subgrid-container class="gL1TiDyAaZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:3px 3px 3px 3px;--bc:#d63837;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--pt-tablet:16px;--pl-tablet:24px;--pb-tablet:16px;--pr-tablet:24px;--cg:8px;--gtc:minmax(0, 12fr);--w:585px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2GrbwinPw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHjV2vBdHF"
        class="gHjV2vBdHF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153717"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#DE1313;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHjV2vBdHF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHjV2vBdHF">
        .gHjV2vBdHF {

}
.gHjV2vBdHF p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px" class="gTqPKR4x5n ">
      
    {%- liquid
      assign standardEndDate = 1723542206689
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gTqPKR4x5n"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Std.","loopAfterFinish":true,"minuteLabel":"Min.","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sek.","timeZone":"UTC-7","timerDaily":{"format":"am","hours":0,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gTqPKR4x5n","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"8px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Std.","loopAfterFinish":true,"minuteLabel":"Min.","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sek.","timeZone":"UTC-7","timerDaily":{"format":"am","hours":0,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FDF9F4","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"},"mobile":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"}},"labelTypo":{"attrs":{"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"10px","mobile":"10px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gTqPKR4x5n","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text" id="hour"
        class="gTqPKR4x5n"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text"
        class="gTqPKR4x5n"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTqPKR4x5n_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text" id="minute"
        class="gTqPKR4x5n"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text"
        class="gTqPKR4x5n"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTqPKR4x5n_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text" id="second"
        class="gTqPKR4x5n"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTqPKR4x5n-text"
        class="gTqPKR4x5n"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153719"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTqPKR4x5n_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <div
      role="presentation"
      data-id="gzHkzWd_V7"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:28px;--ta:center"
      class="gp-group/image gp-relative force-publish-1755565153720 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzHkzWd_V7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}" srcset="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}" srcset="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}" data-src="{{ "gempages_516802024675738699-67024c23-a03b-433a-8deb-21871c2c7cf5.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:contain;--w:90%;--w-tablet:381px;--w-mobile:315px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzHkzWd_V7">
        .gzHkzWd_V7 {

}
.gzHkzWd_V7 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6wYcHICYI"
        class="g6wYcHICYI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153720"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6wYcHICYI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjgMOJzEVG"
        class="gjgMOJzEVG"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:10px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153721"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjgMOJzEVG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCR_p2iLWb"
        class="gCR_p2iLWb"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153721"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:#f9e3e3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCR_p2iLWb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2RK07YIqe"
        class="g2RK07YIqe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153721"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:12px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2RK07YIqe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g9Metv7kcx"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--ta:center"
      class="gp-group/image gp-relative force-publish-1755565153721 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9Metv7kcx"
    >
      <a
        href="https://lynis-nailshop.de/products/ombre-sparset-babyboomer" target title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-65d63207-8dea-4c74-b765-6e7cf72e7af5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTE2NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0idXJsKCNnLTE2OC0xNjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-65d63207-8dea-4c74-b765-6e7cf72e7af5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTE2NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0idXJsKCNnLTE2OC0xNjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_516802024675738699-65d63207-8dea-4c74-b765-6e7cf72e7af5.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTE2NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjE2NSIgZmlsbD0idXJsKCNnLTE2OC0xNjUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_516802024675738699-65d63207-8dea-4c74-b765-6e7cf72e7af5.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://lynis-nailshop.de/products/ombre-sparset-babyboomer","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gqGl-EYTNP"].gp-button-base::before, [data-id="gqGl-EYTNP-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gqGl-EYTNP"]:hover::before, [data-id="gqGl-EYTNP-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gqGl-EYTNP" dataId="gqGl-EYTNP" data-state="idle" aria-label="<p><strong>JETZT: </strong>Set zusammenstellen</p>"
          
          href="https://lynis-nailshop.de/products/ombre-sparset-babyboomer" target
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#151515;--bg:#f1c5bc;--hvr-c:#ffffff;--c:#151515;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gqGl-EYTNP gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggqGl-EYTNP_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gqGl-EYTNP">
        button.gqGl-EYTNP {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#f9e3e3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gx-KXt8-8N"}' data-id="gx-KXt8-8N" id="gx-KXt8-8N" data-same-height-subgrid-container class="gx-KXt8-8N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:4px;--pt:12px;--pb:12px;--mb-mobile:8px;--pt-mobile:12px;--pl-mobile:var(--g-s-m);--pb-mobile:12px;--pr-mobile:var(--g-s-m);--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#f9e3e3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gj4nyAegs4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goQJ3IucZ_"
        class="goQJ3IucZ_"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153724"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoQJ3IucZ__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-goQJ3IucZ_">
        .goQJ3IucZ_ {

}
.goQJ3IucZ_ p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIyZde71NI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqgf2Uz1Yt"
        class="gqgf2Uz1Yt"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153724"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqgf2Uz1Yt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqgf2Uz1Yt">
        .gqgf2Uz1Yt {

}
.gqgf2Uz1Yt p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g4JPcYxri5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxeg02U8Bm"
        class="gxeg02U8Bm"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153725"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxeg02U8Bm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxeg02U8Bm">
        .gxeg02U8Bm {

}
.gxeg02U8Bm p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g0Nyq6zvxl gp-cursor-pointer gp-custom-code">
      <div>
    <div style="background-color: #f2f1f6; border-radius: 10px; padding: 15px 12px; text-align: center; max-width: 600px; margin: 0 auto;">

  
  <div style="margin-bottom: 10px; display: flex; justify-content: center; gap: 6px;">
    <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="Kundin 1" style="width: 30px; height: 30px; border-radius: 50%;">
    <img src="https://randomuser.me/api/portraits/women/2.jpg" alt="Kundin 2" style="width: 30px; height: 30px; border-radius: 50%;">
    <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="Kundin 3" style="width: 30px; height: 30px; border-radius: 50%;">
    <img src="https://randomuser.me/api/portraits/women/4.jpg" alt="Kundin 4" style="width: 30px; height: 30px; border-radius: 50%;">
  </div>

  
  <div style="font-size: 16px; line-height: 1.4; color: #000;">
    <strong style="font-size: 17px;">98%</strong> wrden unsere Produkte<br>
    (laut Umfrage) <strong>weiterempfehlen</strong>
  </div>

</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gToLS3VXrK gp-cursor-pointer gp-custom-code">
      <div>
    <div class="reeview-app-widget" id="reeview-app-widget_68666988489524005837cdbd"></div>
    </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F1F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gx5w_0O0Kg"}' data-id="gx5w_0O0Kg" id="gx5w_0O0Kg" data-same-height-subgrid-container class="gx5w_0O0Kg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F1F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g0ghO0e1QJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gzEnDqBVzt"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1755565153728 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzEnDqBVzt"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}" srcset="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}" srcset="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}" data-src="{{ "gempages_516802024675738699-2ad4114e-3fbb-4285-a8ff-0eeb1b306881.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzEnDqBVzt">
        .gzEnDqBVzt {

}
.gzEnDqBVzt > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gGGnLq2A29 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQ3daapuYJ"
        class="gQ3daapuYJ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153728"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQ3daapuYJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUiNhO6yu7"
        class="gUiNhO6yu7"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755565153728"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUiNhO6yu7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-578388410935280581 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=578388410851394501&sectionId=578388410935280581)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHjV2vBdHF_text","label":"ggHjV2vBdHF_text","default":"<p>RABATTAKTION ENDET</p>"},{"type":"html","id":"ggTqPKR4x5n_dayLabel","label":"ggTqPKR4x5n_dayLabel","default":"Days"},{"type":"html","id":"ggTqPKR4x5n_hourLabel","label":"ggTqPKR4x5n_hourLabel","default":"Std."},{"type":"html","id":"ggTqPKR4x5n_minuteLabel","label":"ggTqPKR4x5n_minuteLabel","default":"Min."},{"type":"html","id":"ggTqPKR4x5n_secondLabel","label":"ggTqPKR4x5n_secondLabel","default":"Sek."},{"type":"html","id":"ggTqPKR4x5n_weekLabel","label":"ggTqPKR4x5n_weekLabel","default":"Weeks"},{"type":"html","id":"gg6wYcHICYI_text","label":"gg6wYcHICYI_text","default":"Ombre Gele  5er Spar-Set"},{"type":"html","id":"ggjgMOJzEVG_text","label":"ggjgMOJzEVG_text","default":"<p><strong>+ GRATIS: Greifzange &amp; Schwamm-Set on top!</strong></p>"},{"type":"html","id":"ggCR_p2iLWb_text","label":"ggCR_p2iLWb_text","default":"<p>+ Lieblingsfarben auswhlen &amp; bis zu <strong>25% SPAREN!</strong></p>"},{"type":"html","id":"gg2RK07YIqe_text","label":"gg2RK07YIqe_text","default":"<p>PS: Diese Aktion ist einmalig und wird es nicht wieder geben.</p>"},{"type":"html","id":"ggqGl-EYTNP_label","label":"ggqGl-EYTNP_label","default":"<p><strong>JETZT: </strong>Set zusammenstellen</p>"},{"type":"html","id":"ggoQJ3IucZ__text","label":"ggoQJ3IucZ__text","default":"<p>Aktuelle Nachfrage: <span style=\"color:#E30D0D;\"><strong>HOCH</strong></span></p>"},{"type":"html","id":"ggqgf2Uz1Yt_text","label":"ggqgf2Uz1Yt_text","default":"<p>|</p>"},{"type":"html","id":"ggxeg02U8Bm_text","label":"ggxeg02U8Bm_text","default":"<p> Aktuelle Lieferzeit: 35 Werktage</p>"},{"type":"html","id":"ggQ3daapuYJ_text","label":"ggQ3daapuYJ_text","default":"Der Hype ist echt!"},{"type":"html","id":"ggUiNhO6yu7_text","label":"ggUiNhO6yu7_text","default":"<p>Als die Ombre Gele online gingen, waren sie <strong>in Minuten ausverkauft</strong>.</p><p>&nbsp;</p><p>Auf <strong>TikTok &amp; Instagram</strong> sieht man sie berall und wer einmal bestellt, kommt meist direkt zurck fr mehr.</p><p>&nbsp;</p><p><strong>Sichere dir dein Set  bevor es wieder weg ist!</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  