{%- unless template.suffix contains 'quick-buy' -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

      {%- if buy_buttons_block.settings.show_payment_button -%}
        {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign secondary_button_background = settings.secondary_button_background -%}
        {%- else -%}
          {%- assign secondary_button_background = buy_buttons_block.settings.atc_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign secondary_button_text_color = settings.secondary_button_text_color -%}
        {%- else -%}
          {%- assign secondary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.buy_now_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_background = settings.primary_button_background -%}
        {%- else -%}
          {%- assign primary_button_background = buy_buttons_block.settings.buy_now_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.buy_now_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_text_color = settings.primary_button_text_color -%}
        {%- else -%}
          {%- assign primary_button_text_color = buy_buttons_block.settings.buy_now_button_text_color -%}
        {%- endif -%}
      {%- else -%}
        {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_background = settings.primary_button_background -%}
        {%- else -%}
          {%- assign primary_button_background = buy_buttons_block.settings.atc_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_text_color = settings.primary_button_text_color -%}
        {%- else -%}
          {%- assign primary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
        {%- endif -%}
      {%- endif -%}

      --primary-button-background: {{ primary_button_background.red }}, {{ primary_button_background.green }}, {{ primary_button_background.blue }};
      --primary-button-text-color: {{ primary_button_text_color.red }}, {{ primary_button_text_color.green }}, {{ primary_button_text_color.blue }};
      --secondary-button-background: {{ secondary_button_background.red }}, {{ secondary_button_background.green }}, {{ secondary_button_background.blue }};
      --secondary-button-text-color: {{ secondary_button_text_color.red }}, {{ secondary_button_text_color.green }}, {{ secondary_button_text_color.blue }};
    }
  </style>

  <section>
    {%- if section.settings.show_sticky_add_to_cart and product.available -%}
      {%- render 'product-sticky-form', product: product -%}
    {%- endif -%}

    <div class="container">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb text--xsmall text--subdued hidden-phone">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
          </li>

          {%- if collection -%}
            <li class="breadcrumb__item">
              <a class="breadcrumb__link" href="{{ collection.url }}">{{- collection.title -}}</a>
            </li>
          {%- endif -%}

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{ product.title }}</span>
          </li>
        </ol>
      </nav>

      <!-- PRODUCT TOP PART -->
      <div class="ed-product product product--thumbnails-{{ section.settings.desktop_thumbnails_position }}">
        {%- render 'product-media',
          product: product,
          color_video_story: section.settings.color_video_story,
          enable_image_zoom_click_mobile: section.settings.enable_image_zoom_click_mobile,
          enable_image_zoom_click_desktop: section.settings.enable_image_zoom_click_desktop,
          enable_image_zoom_icon: section.settings.enable_image_zoom_icon
        -%}
        {%- render 'product-info', product: product, update_url: true -%}
      </div>
    </div>
  </section>
{%- else -%}
  {%- comment -%}
    The quick shop HTML being very different, we render it here. On mobile and tablet/desktop, the product renders also
    quite differently, as it is in a drawer on tablet/desktop, and a popover on mobile.
  {%- endcomment -%}

  {%- capture quick_buy_product_info -%}
    <div class="quick-buy-product">
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- if template.suffix == 'quick-buy-drawer' -%}
        <img loading="lazy" sizes="114px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '114,228,342' %}>
      {%- else -%}
        <img loading="lazy" sizes="65px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '65,130,195' %}>
      {%- endif -%}

      <div class="quick-buy-product__info {% if template.suffix == 'quick-buy-popover' %}text--small{% endif %}">
        <product-meta form-id="product-form-{{ section.id }}-{{ product.id }}" unit-price-class="text--xsmall" class="product-item-meta">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a href="{{ collection_for_vendor.url }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- else -%}
              <a href="{{ product.vendor | url_for_vendor }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          <a href="{{ product.url }}" class="product-item-meta__title">{{ product.title }}</a>

          <div class="product-item-meta__price-list-container" role="region" aria-live="polite">
            <div class="price-list" data-product-price-list>
              {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="price">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>
              {%- endif -%}
    
    {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                <div class="price text--subdued text--xsmall">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
              {%- endif -%}
            </div>
    
            {%- if template.suffix == 'quick-buy-popover' -%}
              <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
            {%- endif -%}
          </div>
        </product-meta>
      </div>
    </div>
  {%- endcapture -%}

  {%- if template.suffix == 'quick-buy-drawer' -%}
    <quick-buy-drawer class="drawer drawer--large drawer--quick-buy">
      <cart-notification hidden class="cart-notification cart-notification--drawer"></cart-notification>

      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ 'product.form.choose_options' | t }}</p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content">
        {{- quick_buy_product_info -}}
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-drawer>
  {%- elsif template.suffix == 'quick-buy-popover' -%}
    <quick-buy-popover class="popover popover--quick-buy">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        {{- quick_buy_product_info -}}

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content popover__content--no-padding">
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-popover>
  {%- endif -%}
{%- endunless -%}

{% if settings.enable_atc_good_choice_label_main_product %}
  {% render 'ed-atc-button-text-animation-main-product', product: product %}
{% endif %}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "bundle_builder",
      "name" : "Bundle builder",
      "limit" : 4,
      "settings" : [
        {
          "type" : "html",
          "label" : "Bundle Builder Step",
          "id" : "step"
        },
        {
          "type" : "image_picker",
          "label" : "Bundle Builder Preview Image",
          "id" : "image"
        },
        {
          "type" : "product_list",
          "label" : "Bundle Builder Products",
          "id" : "products"
        },
        {
          "type" : "text",
          "label" : "Button text",
          "id" : "btn_text"
        },
        {
          "type" : "text",
          "id" : "price",
          "label" : "Price"
        },
        {
          "type" : "richtext",
          "label" : "Info",
          "id"  : "info"
        },
        {
          "type" : "checkbox",
          "id" : "optional",
          "label" : "Optional",
          "default" : false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
        "type": "header",
        "content": "Styling of block swatches"
        },
        {
        "type": "checkbox",
        "id": "enable_block_styling",
        "label": "Enable block styling",
        "default": false,
        "info" : "this checkbox must be enabled to activate the color style"
        },
        {
        "type": "color",
        "id": "block_background",
        "label": "Block (not selected)",
        "default": "#FFFFFF"
        },
        {
        "type": "color",
        "id": "block_border",
        "label": "Block border (not selected)",
        "default": "#000000"
        },
        {
        "type": "color",
        "id": "block_font_color",
        "label": "Font (not selected)",
        "default": "#000000"
        },
        {
        "type": "color",
        "id": "block_background_selected",
        "label": "Block (selected options)",
        "default": "#000000"
        },
        {
        "type": "color",
        "id": "block_border_selected",
        "label": "Block border (selected options)",
        "default": "#000000"
        },
        {
        "type": "color",
        "id": "block_font_color_selected",
        "label": "Font (selected options)",
        "default": "#FFFFFF"
        },
        {
        "type": "color",
        "id": "block_border_not_available",
        "label": "Block border (not available options)",
        "default": "#000000"
        },
        {
        "type": "color",
        "id": "block_font_color_not_available",
        "label": "Font (not available options)",
        "default": "#000000"
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
    "type": "social_proof_banner",
    "name": "Social proof banner",
    "limit": 1,
    "settings": [

        {
        "type": "color",
        "id": "social_proof_background",
        "label": "Background",
        "default": "#F8F6F3"
        },
        {
        "type": "color",
        "id": "social_proof_text",
        "label": "Text",
        "default": "#000000"
        },
        {
        "type": "range",
        "id": "margin",
        "label": "margin",
        "default": 10,
        "min": 0,
        "max": 60,
        "unit": "px"
        },
        {
        "type": "select",
        "id": "social_proof_box_style",
        "label": "Style",
        "options": [
        {
        "value": "10px",
        "label": "Rounded"
        },
        {
        "value": "0",
        "label": "Corners"
        }
        ],
        "default": "0"
        },
        {
        "type": "image_picker",
        "id": "social_proof_image_1",
        "label": "Image 1"
        },
        {
        "type": "image_picker",
        "id": "social_proof_image_2",
        "label": "Image 2"
        },
        {
        "type": "text",
        "id": "ppl_social_proof",
        "label": "Influencer",
        "default": "matiamu"
        },
        {
        "type": "checkbox",
        "id": "enable_insta_checkmark",
        "default": false,
        "label": "Enable instagram checkmark?"
        },
        {
        "type": "text",
        "id": "text_social_proof",
        "label": "Text",
        "default": "und 63.000 andere sind beigeistert von uns"
        },
        {
        "type": "checkbox",
        "id": "enable_text_bold",
        "default": false,
        "label": "Enable text in bold?"
        }
    ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_background",
          "label": "Buy now background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_text_color",
          "label": "Buy now color",
          "default": "rgba(0,0,0,0)"
        },
{
"type": "header",
"content": "elbDev/quantity-discount",
"info": "please make sure that the metafields and automatic discounts are set up synchronously"
},
{
"type": "checkbox",
"id": "show_qty_discount",
"label": "Show Quantity Discount",
"info": "Requires Metafield ed_focal.quantity_discount",
"default": false
},
{
"type": "text",
"id": "qty_discount_title",
"label": "Title",
"default": "Menge auswählen:"
},
{
"type": "color",
"id": "qty_discount_badge_color",
"label": "Badge Background Color"
},
{
"type": "color",
"id": "qty_discount_font_color",
"label": "Badge Font Color"
}
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
        "type": "color",
        "id": "inventory_high_color",
        "label": "Inventory high",
        "default": "#138a36"
        },
        {
        "type": "color",
        "id": "inventory_low_color",
        "label": "Inventory low",
        "default": "#f9ca4f"
        },
        {
        "type": "color",
        "id": "inventory_out_of_stock_color",
        "label": "Inventory out of stock",
        "default": "#ff0000"
        },
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
        "type": "paragraph",
        "content": "If you want to change the green label and other strings, exit the customizer and go to 'actions' > 'edit languages' > 'products' > edit 'in stock'."
        },
        {
        "type": "text",
        "id": "text_in_stock",
        "label": "Text after green label",
        "default": "in 1-2 Werktagen in Deinen Händen",
        "info": "Only for in stock products."
        }
      ]
    },
    {
    "type": "badge",
    "name": "Badge",
    "settings": [
    {
    "type": "paragraph",
    "content": "Fill the metafield 'badge' in the product backend"
    },
    {
    "type": "color",
    "id": "color_badge",
    "label": "Badge background",
    "default": "#E9E9E9"
    },
    {
    "type": "color",
    "id": "color_badge_text",
    "label": "Badge text",
    "default": "#000000"
    }
    ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (mobile)"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        },
        {
        "type": "range",
        "id": "image_width_mobile",
        "min": 50,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Width (mobile)",
        "default": 150,
        "info": "For image on mobile."
        }
      ]
    },
    {
    "type": "store_benefits",
    "name": "Store benefits",
    "limit": 1,
    "settings": [
    {
    "type": "header",
    "content": "Store Benefits",
    "info": "Add your shop benefits by specifying the icon and the text"
    },
    {
    "type": "color",
    "id": "benefits_background",
    "label": "Background",
    "default": "rgba(0,0,0,0)"
    },
    {
    "type": "color",
    "id": "benefits_text_color",
    "label": "Text",
    "default": "#000000"
    },
    {
    "type": "checkbox",
    "id": "remove_margins",
    "label": "Remove margins",
    "info": "The white space between the benefits will be removed",
    "default": false
    },
    {
    "type": "select",
    "id": "benefits_border_style",
    "label": "Border radius",
    "options": [
    {
    "value": "10px",
    "label": "Rounded"
    },
    {
    "value": "0",
    "label": "Corners"
    }
    ],
    "default": "0"
    },
    {
    "type": "checkbox",
    "id": "benefits_text_font_weight",
    "label": "Enable bold text",
    "default": true
    },
    {
    "type": "image_picker",
    "id": "benefit_png_1",
    "label": "Icon image"
    },
    {
    "type": "html",
    "id": "benefit_svg_1",
    "label": "SVG",
    "info": "If svg set it will override the image"
    },
    {
    "type": "text",
    "id": "benefit_texte_1",
    "label": "First store benefit texte",
    "default":"Kostenloser Versand"
    },
    {
    "type": "header",
    "content": "Second store benefit"
    },
    {
    "type": "image_picker",
    "id": "benefit_png_2",
    "label": "Icon image"
    },
    {
    "type": "html",
    "id": "benefit_svg_2",
    "label": "SVG",
    "info": "If svg set it will override the image"
    },
    {
    "type": "text",
    "id": "benefit_texte_2",
    "label": "Second store benefit texte",
    "default":"100 Tage Rückgaberecht"
    },
    {
    "type": "header",
    "content": "Desktop version"
    },
    {
    "type": "range",
    "id": "font_size_desktop",
    "min": 8,
    "max": 46,
    "step": 1,
    "unit": "px",
    "label": "Benefit font size (desktop)",
    "info": "Only impact large devices (999px and up)",
    "default": 16
    },
    {
    "type": "range",
    "id": "icon_size_desktop",
    "min": 8,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "Icon or Svg size (desktop)",
    "info": "Only impact Large devices (1000px and up)",
    "default": 30
    },
    {
    "type": "header",
    "content": "Mobile version"
    },
    {
    "type": "range",
    "id": "font_size_mobile",
    "min": 8,
    "max": 46,
    "step": 1,
    "unit": "px",
    "label": "Benefit font size (mobile)",
    "info": "Only impact Medium and small devices (375px to 999px)",
    "default": 10
    },
    {
    "type": "range",
    "id": "icon_size_mobile",
    "min": 8,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "Icon or Svg size (mobile)",
    "info": "Only impact the content text Medium and small devices (375px to 768px)",
    "default": 30
    }
    ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch button",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Only applicable for line item property of type Checkbox."
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        }
      ]
    },
      {
      "type" : "product_upsell",
      "name" : "Product upsell",
      "settings" : [
          {
    "type" : "text",
    "label" : "Product upsell title",
    "id" : "p_u_t",
    "default" : "9 out of 10 customers also buy:"
  },
  {
    "type" : "text",
    "label" : "Button text",
    "id" : "u_btn_text"
  }
      ]
    }
  ],
  "settings": [
      {
      "type" : "header",
      "content" : "Bundle builder"
    },
    {
      "type" : "text",
      "id" : "bundle_title",
      "label" : "Title",
      "default": "Choose your 4 products"
    },
     {
      "type" : "text",
      "id" : "bundle_title_after",
      "label" : "Title after",
      "default": "Gute Wahl!!!"
    },
    {
      "type" : "product",
      "id" : "optional_product",
      "label" : "Optional product"
    },
        {
      "type" : "header",
      "content" : "Product page"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show taxes included",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
      "default": false
    },
    {
    "type": "header",
    "content": "Sticky ATC"
    },
    {
      "type": "checkbox",
      "id": "show_sticky_add_to_cart",
      "label": "Show sticky add to cart",
      "info": "Will be hidden if no Buy buttons block is added onto the page.",
      "default": true
    },
    {
    "type": "checkbox",
    "id": "show_title_sticky_add_to_cart",
    "label": "Show title in sticky add to cart",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "show_variant_selection_sticky_add_to_cart",
    "label": "Show variant selection in sticky add to cart",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "show_price_sticky_add_to_cart",
    "label": "Show price in sticky add to cart",
    "default": false
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "page",
      "id": "help_page",
      "label": "Help page",
      "info": "Feature a page to help your customers"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "info": "Zoom does not show video nor 3D models.",
      "default": true
    },
    {
    "type": "checkbox",
    "id": "enable_image_zoom_icon",
    "label": "Show zoom icon on image",
    "default": true,
    "info": "'Enable image zoom' has to be active."
    },
    {
    "type": "checkbox",
    "id": "enable_image_zoom_click_mobile",
    "label": "Enable image zoom by clicking on image (mobile)",
    "default": false,
    "info": "One click on mobile for zooming.'Enable image zoom' has to be active."
    },
    {
    "type": "checkbox",
    "id": "enable_image_zoom_click_desktop",
    "label": "Enable image zoom by clicking on image (desktop)",
    "default": false,
    "info": "Two clicks on desktop for zooming.'Enable image zoom' has to be active."
    },
    {
    "type": "header",
    "content": "Video Story"
    },
    {
    "type": "color",
    "id": "color_video_story",
    "label": "Border video story",
    "default": "#ffffff",
     "info": "The changes are only visible if you activate the video thumbnail feature (product metafield)."
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_on_mobile",
      "label": "Show thumbnails on mobile",
      "default": false
    },
    {
    "type": "checkbox",
    "id": "show_arrow_of_thumbnails_on_mobile",
    "label": "Show arrows of thumbnails on mobile",
    "default": false
    },
    {
      "type": "select",
      "id": "desktop_thumbnails_position",
      "label": "Desktop thumbnails position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "transition_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
    "type": "header",
    "content": "Application Steps"
    },
    {
    "type": "paragraph",
    "content": "This block is not visible on desktop (min-width:1000px). For displaying this block on desktop, go to sections."
    },
    {
    "type": "checkbox",
    "id": "show_application_steps",
    "label": "Show application steps",
    "default": false
    },
    {
    "type": "color",
    "id": "application_steps_background",
    "label": "Background application steps",
    "default": "#000000"
    },
    {
    "type": "color",
    "id": "application_steps_color",
    "label": "Font",
    "default": "#FFFFFF"
    },
    {
    "type": "range",
    "id": "font_size_application_steps",
    "min":  9,
    "max":  22,
    "step":  1,
    "unit": "px" ,
    "label": "Font size of application text",
    "default":  10
    },
    {
    "type": "image_picker",
    "id": "application_steps_image_1",
    "label": "Application image 1"
    },
    {
    "type": "text",
    "id": "application_steps_text_1",
    "label": "Application text 1"
    },
    {
    "type": "image_picker",
    "id": "application_steps_image_2",
    "label": "Application image 2"
    },
    {
    "type": "text",
    "id": "application_steps_text_2",
    "label": "Application text 2"
    },
    {
    "type": "image_picker",
    "id": "application_steps_image_3",
    "label": "Application image 3"
    },
    {
    "type": "text",
    "id": "application_steps_text_3",
    "label": "Application text 3"
    },
    {
    "type": "image_picker",
    "id": "application_steps_image_4",
    "label": "Application image 4"
    },
    {
    "type": "text",
    "id": "application_steps_text_4",
    "label": "Application text 4"
    },
    {
    "type": "header",
    "content": "Social Proof Banner"
    },
    {
    "type": "checkbox",
    "id": "enable_social_proof",
    "default": true,
    "label": "Enable Social Proof"
    },
    {
    "type": "color",
    "id": "social_proof_background",
    "label": "Background",
    "default": "#F8F6F3"
    },
    {
    "type": "color",
    "id": "social_proof_text",
    "label": "Text",
    "default": "#000000"
    },
    {
    "type": "select",
    "id": "social_proof_box_style",
    "label": "Style",
    "options": [
    {
    "value": "10px",
    "label": "Rounded"
    },
    {
    "value": "0",
    "label": "Corners"
    }
    ],
    "default": "0"
    },
    {
    "type": "image_picker",
    "id": "social_proof_image_1",
    "label": "Image 1"
    },
    {
    "type": "image_picker",
    "id": "social_proof_image_2",
    "label": "Image 2"
    },
    {
    "type": "text",
    "id": "ppl_social_proof",
    "label": "Influencer",
    "default": "matiamu"
    },
    {
    "type": "checkbox",
    "id": "enable_insta_checkmark",
    "default": false,
    "label": "Enable instagram checkmark?"
    },
    {
    "type": "text",
    "id": "text_social_proof",
    "label": "Text",
    "default": "und 63.000 andere sind beigeistert von uns"
    },
    {
    "type": "checkbox",
    "id": "enable_text_bold",
    "default": false,
    "label": "Enable text in bold?"
    },
    {
    "type": "header",
    "content": "Popular variants"
    },
    {
    "type": "checkbox",
    "id": "enable_popular_variants",
    "label": "Enable popular variants",
    "default": false,
    "info": "Selector type must be 'block' or 'color swatch' (go to: customizer -> product page -> 'add block' -> 'variant picker' -> 'select type'). The product must have variants.'"
    },
    {
    "type": "color",
    "id": "popular_variants_badge",
    "label": "Background",
    "default": "#000000"
    },
    {
    "type": "color",
    "id": "popular_variants_badge_color",
    "label": "Text",
    "default": "#FFFFFF"
    },
    {
    "type": "text",
    "id": "popular_variants_text",
    "label": "Badge text",
    "default": "Bestseller"
    },
    {
    "type": "header",
    "content": "Buy Box"
    },
    {
    "type": "checkbox",
    "id": "enable_buy_box",
    "default": true,
    "label": "Enable Buy Box?"
    },
    {
    "type": "color",
    "id": "buy_box_border_color",
    "label": "Border Color"
    },
    {
    "type": "color",
    "id": "buy_box_bg_color",
    "label": "Background Color"
    },
    {
    "type": "range",
    "id": "buy_box_border_radius",
    "label": "Border Radius",
    "default": 3,
    "min": 0,
    "max": 15,
    "unit": "px"
    },
{
"type": "header",
"content": "elbDev/more-customizations"
},
{
"type": "checkbox",
"id": "update_prices_on_qty_change",
"default": false,
"label": "Update Prices on Quantity Change"
}
  ]
}
{% endschema %}
