<style>
  #shopify-section-{{ section.id }} {
    --progress-bar-color: {{ section.blocks.first.settings.text_color.red }}, {{ section.blocks.first.settings.text_color.green }}, {{ section.blocks.first.settings.text_color.blue }};
    --section-autoplay-duration: {% if section.settings.autoplay %}{{ section.settings.cycle_speed }}s{% else %}0s{% endif %};
    --section-animation-play-state: paused;
    background-color: {{ section.settings.background }}; /* Allows to set a placeholder color while loading */
  }

  {%- for block in section.blocks -%}
    {%- assign text_position = block.settings.text_position | split: '_' | first -%}

    {%- case text_position -%}
      {%- when 'top' -%}
        {%- assign section_items_alignment = 'flex-start' -%}
      {%- when 'middle' -%}
        {%- assign section_items_alignment = 'center' -%}
      {%- when 'bottom' -%}
        {%- assign section_items_alignment = 'flex-end' -%}
    {%- endcase -%}

    #block-{{ section.id }}-{{ block.id }} {
      --heading-color: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
      --text-color: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
      --primary-button-background: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
      --primary-button-text-color: {{ block.settings.button_text_color.red }}, {{ block.settings.button_text_color.green }}, {{ block.settings.button_text_color.blue }};

      --section-blocks-alignment: {{ section_items_alignment }};
      --section-blocks-overlay-color: {{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }};
      --section-blocks-overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {%- endfor -%}

  {% if section.settings.activate_search_bar == true %}

    @media only screen and (max-width: 999px) {
      .ed-search-bar-on-header {
        display: none;
      }

      #shopify-section-{{ section.id }} .ed-search-bar {
        background-color: {{ section.settings.search_bar_background }};
      }
      #shopify-section-{{ section.id }} .ed-search-bar .search-bar-container .inner-search-bar {
        border-radius: {{ section.settings.search_bar_style }};
        border: 2px solid {{ section.settings.search_bar_border }};
      }
    }
  {%- endif -%}
</style>

<section class="section section--flush">
  {% if section.settings.activate_search_bar == true %}
    {% render 'ed-search-bar' %}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "ed-searchbar mobile",
  "class": "shopify-section--slideshow",
  "max_blocks": 5,
  "settings": [
    {
    "type": "header",
    "content": "Search bar"
    },
    {
    "type": "checkbox",
    "id": "activate_search_bar",
    "label": "Activate search bar on mobile",
    "info": "The search bar is only visible on mobile. By activation, it will deactivate the search icon in the header on mobile.",
    "default": false
    },
    {
    "type": "color",
    "id": "search_bar_background",
    "label": "Background of search bar",
    "default": "#000000"
    },
    {
    "type": "color",
    "id": "search_bar_border",
    "label": "Border of search bar",
    "default": "#000000"
    },
    {
    "type": "select",
    "id": "search_bar_style",
    "label": "Styles",
    "options": [
    {
    "value": "20px",
    "label": "Rounded borders"
    },
    {
    "value": "0",
    "label": "Corner borders"
    }
    ],
    "default": "20px"
    },
    {
    "type": "header",
    "content": "Slideshow content"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fit",
          "label": "Fit screen height"
        }
      ],
      "info": "Choose \"Original image ratio\" to not cut images. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-width-images)",
      "default": "auto"
    },
    {
      "type": "select",
      "id": "transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "sweep",
          "label": "Sweep"
        },
        {
          "value": "reveal",
          "label": "Reveal"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "sweep"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "info": "2160 x 1080px .jpg recommended, 1080 x 1080px .jpg recommended if split",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "split_image",
          "info": "1080 x 1080px .jpg recommended. Won't show up on mobile.",
          "label": "Split image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "1000 x 1400px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slide title"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Button 1 text"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Button 1 link",
          "info": "Leave the \"Button 1 text\" and \"Button 2\" settings empty to make the slide fully clickable."
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Button 2 text"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Button 2 link"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ed-searchbar",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "title": "Slide 1"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Slide 2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
